/*social icon css start*/
.social_icon.inner_page ul li a {
    color: #232323;
}
/*social icon css end*/

/*banner section inner page css start*/
.banner_section_inner_page {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 260px 0 240px;
}
.banner_section_inner_page.action_page {
    background-image: url('../images/action_image_bg.png');
}
.banner_section_inner_page h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    line-height: 80px;
    color: #fff;
    font-weight: 900;
}
.banner_section_inner_page p {
    font-size: 30px;
    line-height: 48px;
    color: #fff;
    font-weight: 900;
}
/*banner section inner page css end*/

/*breadcrumbs section css start*/
.breadcrumbs_section {
    padding: 20px 0;
}
.breadcrumbs_section ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
}
.breadcrumbs_section ul li {
    position: relative;
}
.breadcrumbs_section ul li:first-child {
    padding-right: 30px;
}
.breadcrumbs_section ul li:first-child:before {
    content: "\f054";
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    color: #939393;
    width: 10px;
    height: 18px;
    margin: auto;
}
.breadcrumbs_section ul li span,
.breadcrumbs_section ul li a {
    font-size: 14px;
    line-height: 30px;
    color: #939393;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    display: block;
}
/*breadcrumbs section css end*/

/*daily activities section css start*/
.daily_activities_section {
    padding: 40px 0 0;
}
.daily_activities_filters_inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
}
.fliter_boxs {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
}
.category_box {
    margin-left: auto;
    margin-right: 100px;
}
.fliter_boxs select {
    text-align: center;
    height: 60px;
    border: 4px solid #CCCCCC;
    margin-left: 20px;
    font-size: 16px;
    line-height: 30px;
    color: #939393;
    font-weight: 900;
}
.category_box select {
    width: 260px;
}
.year_box select {
    width: 220px;
}
.daily_activities_title h4,
.fliter_boxs p {
    font-size: 16px;
    line-height: 30px;
    color: #323232;
    font-weight: 900;
}
.daily_activities_box_sec {
    padding: 43px 0 0;
}
.daily_activities_box_sec .custom_row {
    justify-content: center;
}
.daily_activities_box_sec .custom_col_3 {
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0 15px;
    margin: 27px 0;
}
.daily_activities_box_sec .daily_activities_box {
    display: block;
}
.daily_activities_box_sec .daily_activities_box span {
    font-size: 16px;
    line-height: 30px;
    color: #939393;
    font-weight: 400;
    margin-bottom: 10px;
    display: block;
}
.daily_activities_box .daily_activities_box_image {
    position: relative;
    overflow: hidden;
    padding-top: 66.3%;
    border-radius: 10px;
}
.daily_activities_box .daily_activities_box_image img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    transition: all 0.4s;
}
.daily_activities_box_sec .daily_activities_box:hover img {
    transform: scale(1.1);
}
.daily_activities_box_sec .daily_activities_box h4 {
    font-size: 30px;
    color: #232323;
    font-weight: 900;
    margin: 18px 0;
    transition: all 0.4s;
}
.daily_activities_box_sec .daily_activities_box:hover h4 {
    color: #36C200;
}
.daily_activities_box_sec .daily_activities_box p {
    font-size: 16px;
    line-height: 30px;
    color: #323232;
    font-weight: 400;
    transition: all 0.4s;
}
.daily_activities_box_sec .daily_activities_box:hover p {
    color: #24650B;
}
.daily_activities_pagination ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.daily_activities_pagination ul li {
    margin: 0 11px;
}
.daily_activities_pagination ul li a {
    width: 56px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #232323;
    font-weight: 900;
    margin: 18px 0;
    transition: all 0.4s;
}
.daily_activities_pagination ul li a:hover,
.daily_activities_pagination ul li a.active {
    background-color: #36C200;
    color: #fff;
}
.daily_activities_pagination ul li a.active {
    pointer-events: none;
}
/*daily activities section css end*/

/*footer section css start*/
.site_footer.inner_page {
    position: relative;
    padding: 100px 0 200px;
}
.site_footer.inner_page .footer_copyright {
    text-align: center;
}
.site_footer.inner_page .footer_copyright img {
    margin: auto;
}
.site_footer.inner_page .footer_copyright p {
    font-size: 12px;
    line-height: 30px;
    color: #939393;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin-top: 15px;
}
.site_footer.inner_page .footer_logo {
    position: absolute;
    bottom: 40px;
    right: 30px;
}
.site_footer.inner_page .top_btn_inner_page {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: auto;
    width: 56px;
    text-align: center;
}
.site_footer.inner_page .top_btn_inner_page img {
    margin: auto;
}
.site_footer.inner_page .top_btn_inner_page p {
    font-size: 12px;
    line-height: 20px;
    color: #939393;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    text-transform: uppercase;
}
/*footer section css end*/

/*policy page banner section css start*/
.banner_section_inner_page.policy_page {
    background-image: url('../images/policy_image_bg.png');
}
/*policy page banner section css end*/

/*nishinomiya city section css start*/
.nishinomiya_city_section {
    padding: 20px 0 0;
}
.nishinomiya_city_section .nishinomiya_city_heading {
    text-align: center;
    font-size: 30px;
    line-height: 40px;
    font-weight: 900;
    color: #323232;
}
.nishinomiya_city_content_sec .nishinomiya_city_content_box {
    margin-top: 30px;
    padding: 30px;
    border: 1px solid #EBEBEB;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 10%);
}
.nishinomiya_city_content_sec .custom_row {
    flex-direction: row-reverse;
    align-items: center;
}
.nishinomiya_city_content_sec .custom_col_image {
    -ms-flex: 0 0 490px;
    flex: 0 0 490px;
    max-width: 490px;
    padding: 0 15px;
}
.nishinomiya_city_content_sec .custom_col_text {
    -ms-flex: 0 0 calc(100% - 490px);
    flex: 0 0 calc(100% - 490px);
    max-width: calc(100% - 490px);
    padding: 0 15px;
}
.nishinomiya_city_content_image img {
    width: 100%;
}
.nishinomiya_city_content_text .nishinomiya_city_content_heading {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 84px;
}
.nishinomiya_city_content_text span {
    width: 84px;
    height: 84px;
    line-height: 84px;
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    font-weight: 900;
    color: #fff;
    background-color: #36C200;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
.nishinomiya_city_content_text h4 {
    font-size: 24px;
    color: #36C200;
    line-height: 30px;
    padding-left: 18px;
    font-weight: 900;
}
.nishinomiya_city_content_text > p {
    font-size: 16px;
    line-height: 30px;
    color: #323232;
    font-weight: 400;
    margin-top: 34px;
}
.nishinomiya_city_content_list {
    margin-top: 35px;
}
.nishinomiya_city_content_list ul li {
    padding-left: 16px;
    position: relative;
}
.nishinomiya_city_content_list ul li:before {
    content: '';
    position: absolute;
    top: 13px;
    left: 5px;
    width: 5px;
    height: 5px;
    background-color: #323232;
    border-radius: 50%;
}
.nishinomiya_city_content_list p {
    font-size: 16px;
    line-height: 30px;
    color: #323232;
    font-weight: 400;
}
/*nishinomiya city section css end*/

/*responsive css start*/
@media(max-width: 1700px) {
    .custom_container {
        max-width: 1430px;
    }
    .social_icon {
        left: 15px;
    }
}
@media(max-width: 1500px) {
    .custom_container {
        max-width: 1300px;
    }
    .banner_section_inner_page {
        padding: 220px 0 150px;
    }
    .banner_section_inner_page h2 {
        font-size: 60px;
        line-height: 65px;
    }
    .banner_section_inner_page p {
        font-size: 24px;
        line-height: 38px;
    }
    .social_icon {
        bottom: 15px;
    }
    .fliter_boxs select {
        height: 50px;
        border: 2px solid #CCCCCC;
    }
    .daily_activities_box_sec .daily_activities_box h4 {
        font-size: 22px;
        margin: 10px 0;
    }
    .site_footer.inner_page {
        padding: 70px 0 140px;
    }
    .nishinomiya_city_content_text .nishinomiya_city_content_heading {
        padding-left: 74px;
    }
    .nishinomiya_city_content_text span {
        width: 74px;
        height: 74px;
        line-height: 74px;
        font-size: 48px;
    }
    .nishinomiya_city_section .nishinomiya_city_heading {
        font-size: 24px;
        line-height: 34px;
    }
    .nishinomiya_city_content_text h4 {
        font-size: 20px;
        padding-left: 14px;
    }
    .nishinomiya_city_content_sec .custom_col_image {
        -ms-flex: 0 0 420px;
        flex: 0 0 420px;
        max-width: 420px;
    }
    .nishinomiya_city_content_sec .custom_col_text {
        -ms-flex: 0 0 calc(100% - 420px);
        flex: 0 0 calc(100% - 420px);
        max-width: calc(100% - 420px);
    }
    .site_footer.inner_page .footer_logo {
        right: 15px;
    }
}
@media(max-width: 1365px) {
    .custom_container {
        max-width: 1116px;
    }
    .nishinomiya_city_section .nishinomiya_city_heading {
        font-size: 20px;
        line-height: 30px;
    }
    .nishinomiya_city_content_sec .custom_col_image {
        -ms-flex: 0 0 370px;
        flex: 0 0 370px;
        max-width: 370px;
    }
    .nishinomiya_city_content_sec .custom_col_text {
        -ms-flex: 0 0 calc(100% - 370px);
        flex: 0 0 calc(100% - 370px);
        max-width: calc(100% - 370px);
    }
    .nishinomiya_city_content_text .nishinomiya_city_content_heading {
        padding-left: 58px;
    }
    .nishinomiya_city_content_text span {
        width: 58px;
        height: 58px;
        line-height: 58px;
        font-size: 36px;
    }
}
@media(max-width: 1166px) {
    .custom_container {
        padding: 0 25px;
    }
    .daily_activities_box_sec .custom_col_3 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        margin: 15px 0;
    }
    .social_icon {
        left: 5px;
    }
    .social_icon ul li a {
        font-size: 20px;
    }
    .banner_section_inner_page {
        padding: 180px 0 90px;
    }
    .banner_section_inner_page h2 {
        font-size: 50px;
        line-height: 55px;
    }
    .banner_section_inner_page p {
        font-size: 20px;
        line-height: 30px;
    }
    .daily_activities_filters_inner {
        justify-content: space-between;
    }
    .category_box {
        margin: 0;
    }
    .fliter_boxs select {
        margin-left: 15px;
    }
    .category_box select {
        width: 240px;
    }
    .year_box select {
        width: 130px;
    }
    .nishinomiya_city_content_sec .custom_col_text,
    .nishinomiya_city_content_sec .custom_col_image {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .nishinomiya_city_content_image img {
        max-width: 500px;
        margin: 0 auto 15px;
    }
    .nishinomiya_city_content_sec .nishinomiya_city_content_box {
        padding: 20px;
    }
    .site_footer.inner_page .footer_logo img {
        max-width: 160px;
    }
    .site_footer.inner_page .footer_copyright img{
        max-width: 70px;
    }
    .site_footer.inner_page .footer_logo,
    .site_footer.inner_page .top_btn_inner_page {
        bottom: 15px;
    }
}
@media(max-width: 900px) {
    .daily_activities_section {
        padding: 20px 0 0;
    }
    .daily_activities_filters_inner {
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
    }
    .category_box {
        margin: 20px 0;
    }
    .nishinomiya_city_section .nishinomiya_city_heading {
        font-size: 18px;
    }
    .nishinomiya_city_content_sec .nishinomiya_city_content_box {
        padding: 15px;
        margin-top: 20px;
    }
    .nishinomiya_city_content_text .nishinomiya_city_content_heading {
        padding-left: 0;
        flex-direction: column;
    }
    .nishinomiya_city_content_text span {
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 30px;
        position: relative;
    }
    .nishinomiya_city_content_text h4 {
        font-size: 18px;
        padding-left: 0;
        text-align: center;
        padding-top: 10px;
    }
    .nishinomiya_city_content_text > p {
        text-align: center;
        margin-top: 10px;
    }
    .banner_section_inner_page {
        height: 100vh;
        display: flex;
        align-items: center;
    }
}
@media(max-width: 675px) {
    .banner_section_inner_page {
        padding: 160px 0 60px;
    }
    .site_footer.inner_page .footer_logo img {
        max-width: 100px;
    }
    .daily_activities_box_sec .custom_col_3 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .category_box select {
        width: 230px;
    }
    .daily_activities_box_sec {
        padding: 20px 0 0;
    }
    .daily_activities_box_sec .daily_activities_box h4 {
        font-size: 20px;
        margin: 8px 0;
    }
    .daily_activities_pagination ul li a {
        width: 45px;
        height: 45px;
        line-height: 45px;
    }
    .site_footer.inner_page {
        padding: 50px 0 140px;
    }
}
/*responsive css end