@media(min-width:0px) and (max-width:767px){
.container{ max-width:100%; }

.common_title_hp{text-align:center;}
.common_title_hp h3{font-size:20px; line-height:34px; padding:2px 100px;}
.common_title_hp h2{font-size:28px; line-height:34px; padding-top:5px;}
.common_title_hp h3:after{width:98px; height:79px; top:-20px;}
.common_title_hp h3:before{width:98px; height:79px; top:-20px;}

.common_page_title_ncp{padding-left:0px; display:block;}
.common_page_title_in_ncp h2{font-size:24px; line-height:30px; text-align:center;}


.common_btn_hp{font-size:14px; line-height:20px; padding:10px 0; min-width:225px;}
.common_btn_hp img{width:14px;}
.service_btn_arrow_np{left:5px; width:30px; height:30px;}


/*--------------- HEADER_START --------------*/
#header{ padding:0px; }
.header-in-hp{ padding:0 0 0 15px; justify-content: space-between; min-height:60px;}
.header_middle_hp{justify-content: space-between; padding:0;}
.header_logo_hp{ width:150px; padding:0px; }
.header_logo_hp img{ width:100%; height:auto; }
.header_right_hp{display:none;}
.mobile-menu-icon-hp{ display:block; margin-top:0px; margin-right:0;  width: 70px; min-height:60px; }
.menu-toggle-btn{  margin:21px auto;  }
.navigation { padding: 23px; position: fixed; left: 0; width: 100%; background-color: #000; display: none; top: 60px; clear: both; height:calc(100% - 60px); overflow:scroll; }
.navbar-nav .nav-item{ border:0; }
.navbar-nav .nav-link{ color: #fff !important; padding: 10px 0px !important;  font-weight: 700; border:0 !important; }
.navbar-nav .dropdown-menu.show{ display:block; opacity:1; height:auto; transform: translate(0px, 0px); }
.navbar-nav .nav-link.contact_hp { color: #fff !important; padding: 18px 8px !important; margin-left:0; }
.navbar-collapse{ display:block !important; }
.navbar-nav .nav-link:hover { color: #fff !important; }
.navbar-nav .show .nav-link{ color: #fff !important; }
.dropdown-menu-btns{}
.dropdown-menu-btns .container{ padding:0; display:block; width:100%; }
.dropdown-menu-items-hp{ display:block; padding:0; }
.dropdown-menu-items-name-main-hp{ display:none; }
.dropdown-menu-items-links-hp{ width:100%; }
.dropdown-menu-items-links-hp ul{ display:block; padding:5px 0; }
.dropdown-menu-items-links-hp ul li{ width:100%; border:0px; }
.dropdown-menu-items-links-hp ul li a{ font-size: 14px; line-height: 20px; letter-spacing: 1.4px; margin-bottom:13px; padding:0 0 0px 30px; font-weight:400; position:relative; }
.dropdown-menu-items-links-hp ul li a:after{ content:''; position:absolute; left:11px; top:50%; transform: translate(0px, -50%); width:8px; height:1px; background:#fff; }
.online-form-hp{ display:block; }
.navbar-nav .nav-link.active { color: #fff !important; }
.header-right-hp{ display:none; }
.hide-desktop-hp{ display:block !important; }
.mobile-menu-icon-hp.open{ background:#000; }
.menu-toggle-btn.open span{ background:#000; }
.header-right-hp .contact-btn-main-hp{ display:none; }
.navbar-nav .nav-item{ padding:0px; width:100%; }
.navbar{ display:block; }
.navbar-nav .nav-link:before{ display:none; }
.dropdown-toggle::after{ border:0; content:''; background:url(../images/plus_icon.png) no-repeat center center; width:12px; height:12px; position:absolute; margin:0; right:10px; top: 50%; transform: translate(0, -50%); }
.show .dropdown-toggle::after{ border:0; content:''; background:url(../images/minus_icon.png) no-repeat center center; width:12px; height:12px; position:absolute; margin:0; right:10px; top: 50%; transform: translate(0, -50%); }
.header-absolute-hp{ display:none; }
.menuOpen #header{ background:#000; }
.navbar-nav .nav-link.login_hp{ margin:10px 0 0px 0; }
.navbar-nav .nav-link.materials_hp{ margin-top:20px; }
/*--------------- HEADER_END --------------*/


/*--------------- CONTAIN_START --------------*/
#contain{ margin:0; padding:76px 0 0 0; }


.coexistence_block_hp{padding:50px 0 0 0;}
.coexistence_img1_hp{display:none; position:absolute; right:25%; top:-8%; width:864px; height:755px;}
.coexistence_img1_hp img{width:100%;}
.coexistence_img2_hp{display:none; position:absolute; top:45%; right:165px; width:1740px; height:237px;}
.coexistence_img2_hp img{width:100%;}
.coexistence_top_hp{display:block;}
.coexistence_left_hp{font-size:50px; line-height:60px; width:100%; padding-right:0px;}
.coexistence_right_hp{width:100%;}
.coexistence_right_info_hp{font-size:14px; line-height:16px; padding-top:25px;}
.coexistence_right_btn_hp{padding-top:28px;}
.coexistence_btn_hp{padding:10px 20px; font-size:15px; min-width:200px;}


.maintenance_block_hp{padding:50px 0 0 0;}
.maintenance_top_hp{flex-direction: column-reverse; padding:0 0 60px 0;}
.maintenance_left_hp{width:100%; padding:0 15px;}
.maintenance_left_in_hp{width:48px;}
.maintenance_left_title_hp{font-size:17px; line-height:20px; padding-right:10px; margin:40px 0 0 -27px;}
.maintenance_left_info_hp{width:calc(100% - 48px);}
.maintenance_info_hp h2{font-size:35px; line-height:40px;}
.maintenance_info_hp p{font-size:18px; line-height:30px; padding-top:20px;}
.maintenance_btn_hp{padding-top:20px;}
.maintenance_right_hp{width:100%}
.maintenance_img_hp img{margin-bottom: 50px;}
.maintenance_reverse_hp .maintenance_left_hp{padding-right:15px; padding-left:15px;}
.maintenance_change_hp:after{display:none;}


.recruit_middle_hp{display:block; padding:20px;     background-position: right top !important; }
.recruit_box_hp{max-width:100%; text-align:center;}
.recruit_box_info_hp h3{font-size:35px; line-height:45px; padding-bottom:11px;}
.recruit_box_info_hp h4{font-size:14px; line-height:20px; padding-bottom:20px;}
.recruit_box_info_hp p{font-size:14px; padding-bottom:20px;}
.recruit_box_btn_hp{padding-bottom:20px; padding-top:0;}
.recruit_box_btn_bg1_hp{min-width:300px;}
.recruit_box_btn_bg2_hp{min-width:300px;}
.contact_box_hp .recruit_box_info_hp h4 { padding-bottom: 20px; }


.contact_block_hp{margin:60px 0 -60px 0;}
.contact_box_hp{display:block; padding:20px; text-align:center;}

/*--------------- CONTAIN_END --------------*/



/*--------------- FOOTER_START --------------*/
.back-to-top a{width:60px; height:60px;}

.footer-middle-hp{padding:100px 5px 20px 5px;}
.footer_box_hp{display:block; text-align:center;}
.footer-logo-hp img{max-width:250px;}
.footer-links-hp ul{display: flex; flex-wrap: wrap;}
.footer-links-hp ul li{font-size:12px; line-height:20px; padding-right:10px; padding-top:15px; text-align:center;}
.footer_copyright_hp{padding-top:40px; font-size:12px;}
/*--------------- FOOTER_END --------------*/


/*--------------- 01-Nursig-top_START --------------*/
#contain{ margin:0 0 0 0; padding:0px; }

.nursing_block_np{padding-top:30px;}
.nursing_link_np{padding:0 0 0 0;}
.nursing_link_np ul{  flex-wrap: wrap; }
.nursing_link_np ul li{font-size:14px; line-height:20px; width:50%; border-right:none; border-radius:10px; }
.nursing_link_np ul li:first-child{border-radius:10px;}
.nursing_link_np ul li:last-child{border-radius:10px;}
.nursing_link_np ul li a{padding:20px 10px 20px 10px; border-radius:10px;}



.banner_block_np{margin-top:10px;}
.banner_block_np:after{display:none;}
.banner_top_np{display:block;}
.banner_left_np{width:100%; text-align:center; display:none; }
.banner_row_np{display:inline-block; padding:0 0 0 0;}
.banner_title_np{font-size:45px; line-height:50px; padding:0 21px 0 22px;}
.banner_circle_np{margin:40px auto 40px auto;}
.banner_img1_np{top:20px;}
.banner_sub_title_np{font-size:22px; line-height:30px; left:38px; top:81px;}
.banner_info_np{font-size:24px; line-height:32px; left:35px; top:153px;}
.banner_right_np{width:100%; padding:0 0 0 15px; display:block;}
.banner_box_np{width:100%; margin:0 0 20px 0;}
.banner_box_np:last-child{margin-bottom:0;}
.banner_img_np{height:500px;}
.banner_hover_np{font-size:24px;}



.open_block_np{padding:60px 0 0 0;}
.open_green_leaves1_np{left:0px; top:-20px; width:60px;}
.open_green_leaves2_np{top:-27px; width:60px; right:0;}
.open_middle_np{padding:35px 10px 10px 10px;}
.open_top_np{display:block;}
.open_left_np{width:100%; padding-right:0px; text-align: center;}
.open_logo_np{padding:0 0 0 0;}
.open_logo_np img{width:300px;}
.open_title_np{margin:20px auto 0 auto; font-size:14px; line-height:18px; width:315px; height:80px; padding-top:10px;}
.open_right_np{width:100%;}
.open_img_np img{max-width:295px;}
.open_row_np{display:block;}
.open_info_np{font-size:10px; line-height:22px; width:calc(100% - 40px); padding:20px 12px 20px 12px;}
.open_green_circle_np{width:110px; height:110px; right:25px; top:475px;}
.open_subtitle_np{font-size:14px; line-height:20px; padding-top:26px;}
.open_bottom_np{display:block; padding-top:40px; }
.open_bottom_left_np{width:100%; margin:0; }
.open_img_title_np{font-size:16px; line-height:26px; padding-top:10px; text-align:center;}
.open_right_bottom_np{width:100%; padding-left:0px;}
.open_grid_np{display:block; padding-top:70px; margin-top:0px;     margin-right: -12px; }
.open_box_np{padding:0 0 20px 0;}
.open_img_name_np{padding-top:20px; text-align:center;}
.open_map_img_np{padding-top:0;}

.slick-prev, .slick-prev:hover, .slick-prev:focus {
    width: 40px;
    height: 40px;
    left: calc(50% - 50px);
    top: 13px;
    transform: none;
    background-size: cover;
}
.slick-next, .slick-next:hover, .slick-next:focus {
    width: 40px;
    height: 40px;
    left: calc(50% - 0px);
    top: 13px;
    transform: none;
    background-size: cover;
}
.open_map_img_np iframe {
    height: 400px;
}

.service_block_np{padding:50px 0 0 0;}
.service_top_np{padding-top:40px;}
.service_box_np{margin-bottom:40px; display:block;}
.service_left_np{width:100%; padding:0 0 20px 0; text-align:center;}
.service_org_box_np{font-size:20px; line-height:26px; padding:10px 12px; min-width:190px;}
.service_logo_np{padding:30px 15px 0 15px; margin:auto; }
.service_info_np{font-size:14px; line-height:28px; padding-top:15px;}
.service_digit_np{font-size: 170px; line-height:180px; left:50%; bottom:-30px; transform: translate(-50%, 0); }
.service_pd_np{bottom:-65px;  }
.service_btn_np{padding-top:42px;}
.service_right_img_np{width:100%;}
.service_reverse_np .service_left_np{padding:0 0 20px 0;}
.green_change_np .service_left_np{padding:0 0 20px 0;}


.welfare_block_np{padding-top:50px;}
.welfare_top_np{display:block;}
.welfare_box_np{width:100%; margin:0 0 30px 0;}
.welfare_btn_np{margin-top:-40px;}
.welfare_btn_np a{font-size:18px; line-height:26px; padding:12px 75px 14px 0;}
.welfare_btn_np img{width:12px;}
.welfare_btn_arrow_np{right:15px; width:28px; height:28px;}



.home_block_np{padding-top:50px;}
.home_img_np{padding-right:0;}
.home_top_np{display:block; margin-top:0px; padding: 15px; }
.home_box_np{display:block; width:100%; margin-right:0; padding:20px 20px; margin-bottom:20px; }
.home_box_np:last-child{ margin-bottom:0; }
.home_logo_np{width:100%; padding-bottom:20px;}
.home_right_np{width:100%; padding-left:0px;}
.home_info_np{font-size:14px; line-height:26px; min-height:0; text-align:center;}
.home_btn_np{padding-top:25px; text-align:center;}
.home_btn_np a{min-width:185px; padding:12px 0;}


.news_block_np{padding:50px 0;}
.news_block_np:after{display:none;}
.news_leaves_np{display:none;}
.news_tringle_np{display:none;}
.news_box_np{display:block;}
.news_left_np{width:100%; margin:0 0 40px 0;}
.news_btn_np{padding-top:30px; text-align:center;}
.news_right_np{width:100%; padding:30px 20px; border-radius:20px;}
.news_right_np:after{display:none;}
.news_right_np a{display:block; padding:15px 15px;}
.news_date_np{font-size:16px; line-height:24px; width:100%; padding-bottom:10px;}
.news_info_np{font-size:14px; line-height:20px; width:100%; padding-left:0;}



.care_block_np{border-radius:0 80px 0 0; padding:50px 0;}
.care_top_np{display:block;}
.care_box_np{width:100%; margin:0 0 30px 0; text-align:center;}
.care_box_np:last-child{ margin:0; }
.care_info_np h6{font-size:14px; line-height:18px;}
.care_info_np h3{font-size:26px; line-height:30px; padding-top:12px;}
.care_info_np p{font-size:14px; line-height:20px; padding-top:16px;}
.care_btn_np{padding-top:30px;}



/*---------------01-Nursig-top_END --------------*/

/*--------------- FOOTER_START --------------*/

.back-to-top a{width:60px; height:60px;}

#footer{margin:0; padding:0;}
.footer_block_np{padding:50px 15px;}
.footer_box_np{display:block; text-align:center;}
.footer_left_np{width:100%; margin-bottom:20px;}
.footer_logo_np{padding:0 15px;}
.footer_info_np h3{font-size:18px; line-height:28px; padding-top:15px;}
.footer_info_np p{font-size:12px; line-height:18px; padding-top:8px;}
.footer_right_np{width:100%; padding-left:0;}
.footer_links_np{ flex-wrap: wrap; justify-content: center; }
.footer_links_np ul{padding-right:0; width:50%; margin-bottom:15px; }
.footer_links_np ul li{font-size:12px; line-height:18px; padding-bottom:8px;}
.footer_copyright_np{font-size:14px; line-height:22px; padding-top:20px; text-align:center;}

/*--------------- FOOTER_END --------------*/

/*--------------- 02-nursing_care_business_start --------------*/

.banner_middle_ncp{padding:30px 0 0 30px;}
.banner_img_ncp img{border-radius:100px 0 0 0;}

.care_block_ncp{padding:70px 0 0px 0;}
.care_info_ncp{font-size:14px; line-height:30px; padding-top:40px;}

.homecare_block_ncp{padding:50px 0 0 0;}

.orange_title_ncp h3{font-size:25px; line-height:25px; padding:0 70px;}
.orange_title_ncp h3:after{width:50px; height:45px; top:0px;}
.orange_title_ncp h3:before{width:50px; height:45px; top:0px;}

.homecare_boxes_ncp{padding-top:30px;}
.homecare_box_ncp{padding:20px; display:block; margin-bottom:30px;}
.homecare_left_ncp{width:100%;  padding-right:0px;}
.homecare_left_num_row_ncp{width:60px; padding-right:15px;}
.homecare_left_num_ncp{font-size:40px; line-height:45px;}
.homecare_left_name_ncp{font-size:10px; line-height:14px;}
.homecare_left_title_ncp{font-size:17px; line-height:20px; width:calc(100% - 60px); padding-left:20px;}
.homecare_left_info_ncp p{font-size:13px; line-height:17px; padding-top:20px;}
.homecare_right_ncp{width:100%; padding-top:20px;}
.home_block_ncp{padding-bottom:60px;}
.home_top_ncp{padding-top:40px;}
.home_img_subinfo_ncp{font-size:15px; line-height:25px; padding-top:15px;}
.home_row_main_ncp{padding-top:40px;}
.home_row_left_ncp{font-size:15px; line-height:24px; width:150px; padding:15px 5px;}
.home_row_right_ncp{font-size:14px; line-height:20px; padding:15px 5px; width:calc(100% - 150px);}

/*--------------- 02-nursing_care_business_end --------------*/


/*---------------03-Fee_based_Nursin_Home_Business_start --------------*/

.paid_img_fp{padding-top:40px;}
.paid_title_fp{margin:30px auto 0px auto;  max-width: 345px;}
.paid_title_fp h2{font-size:13px; line-height:18px;     padding: 6px 30px 30px 30px;}


.fee_block_fp{padding:30px 0 50px 0;}
.fee_top_fp{padding-top:30px; display:block;}
.fee_left_fp{width:100%; padding-right:0px;}
.fee_left_info_fp{font-size: 16px; line-height: 28px;}
.fee_right_fp{width:100%; padding-top:20px;}
.fee_right_img_fp img{height:100%;}
.fee_right_subinfo_fp{font-size:15px; line-height:20px; padding-top:20px;}
.fee_boxes_fp{display:flex; padding-top:60px;}
.fee_box_fp{margin: 0 10px 15px 0; width: calc(50% - 5px);}
.fee_box_fp:nth-child(2n){ margin-right:0; }
.fee_info_fp{font-size:14px; line-height:20px; padding-top:18px;}

/*--------------- 03-Fee_based_Nursin_Home_Business_end --------------*/


/*--------------- 04_Support_for_children_with_disabilities_start --------------*/

.support_block_sp{padding:50px 0 0 0;}
.support_img_sp{padding:0px 0 40px 0;}
.support_boxes_sp{display:block; padding-top:0px;}
.support_box_sp{width:100%; margin-right:0; height:100%; margin-top:30px;}
.support_title_sp{font-size:25px; line-height:35px; padding:30px 10px;}
.support_info_sp{padding:0 29px 26px 20px;}
.support_info_sp h3{font-size:18px; line-height:25px; padding-top:20px;}
.support_info_sp p{font-size:16px; line-height:25px; padding-top:15px;}
.support_bottom_box_sp{max-width:800px; margin-top:40px;}
.support_bottom_row_sp{display:block;}
.support_bottom_row_sp:first-child .support_bottom_left_sp{border-radius:20px 20px 0px 0;}
.support_bottom_row_sp:last-child .support_bottom_left_sp{border-radius:0px 0 0 0px;}
.support_bottom_left_sp{padding:16px; font-size:18px; line-height:25px; width:100%; text-align:center;}
.support_bottom_right_sp{padding:16px; font-size:16px; line-height:25px; width:100%;}


.kids_pd_sp{padding-top:40px;}
.kids_pd2_sp{padding-bottom:60px;}
.kids_grid_main_sp{display:block; padding-top:40px;}
.kids_grid_sp{width:100%; padding: 0 44px 0 50px;}
.kids_grid_info_sp{padding-top:20px; font-size:16px; line-height:20px;}
.kids_grid_box_sp{width:100%; padding-top:20px;}

/*--------------- 04_Support_for_children_with_disabilities_end --------------*/

/*--------------- 06_Temporary_daytime_support_start --------------*/


.temporary_info_tp{font-size:15px; padding-top:50px;}
.temporary_title_tp{padding:19px 25px 25px 30px; margin-top:40px;}
.temporary_title_tp h2{font-size:25px; line-height:28px;}
.temporary_title_tp p{font-size:16px; line-height:20px; padding-top:17px;}


.business_change_tp{padding:50px 0 60px 0;}
.business_change_tp .home_row_main_ncp{width:100%;}
.business_change_tp .kids_grid_sp{width:100%; padding-right:40px;}
.business_change_tp .home_row_left_ncp{width:100px;}
.business_change_tp .home_row_right_ncp{width:calc(100% - 100px);}


.service_block_tp{padding-top:40px;}
.service_pd_tp{padding-top:35px;}


.business_block_tp{padding-top:40px;}
.business_right_tp{width:calc(100% - 175px); padding:20px; font-size:18px; line-height:25px;}
.business_left_tp { padding: 20px 20px 20px 20px; }

/*--------------- 06_Temporary_daytime_support_end --------------*/



/*--------------- 07_Group_company_start --------------*/

.group_block_gp{padding:50px 0 0 0;}
.group_info_gp h3{font-size:20px; line-height:24px; padding-top:15px; text-align:center;}
.group_info_gp p{font-size:15px; line-height:27px; padding-top:15px; text-align:center;}


.party_block_gp{padding-bottom:50px;}
.party_change_gp .fee_boxes_fp{padding-top:50px;}
.party_change_gp .fee_box_fp{width:calc(50% - 5px); margin: 0 10px 20px 0;}
.party_change_gp .fee_box_fp:nth-child(2n){ margin-right:0; }
/*--------------- 07_Group_company_end --------------*/


/*--------------- 08-Company_ProfileCorporate_Philosophy_start --------------*/

.corporate_block_cop{padding:60px 0 0 0;}
.corporate_info_cop h2{font-size:32px; line-height:40px; padding-top:28px;}
.corporate_info_cop p{font-size:12px; line-height:28px; padding-top:20px;}
.corporate_img_cop{padding-top:10px;}

.company_block_cop{padding:50px 0 0 0;}
.home_row_right_ncp p{font-size:14px; line-height:24px; padding-bottom:20px;}


.history_block_cop{padding:50px 0 0 0;}
.history_row_box_cop{padding-bottom:30px;}

.history_left_cop{font-size:16px; line-height:20px; width:90px;}
.history_left_cop:before{ top:5px; }
.history_right_cop{width:calc(100% - 90px); padding-left:30px; font-size:11px; line-height:16px;}


.map_block_cop{padding:50px 0;}
.map_img_cop{padding-top:25px;}
.map_img_cop iframe{ height:400px; }

/*--------------- 08-Company_ProfileCorporate_Philosophy_end --------------*/


/*--------------- 09-Children Staff Recruitment Inquiries_START --------------*/

.breadcrumb_block_sp{padding:20px 0;}
.breadcrumb{justify-content:center;}

.child_block_cp{padding:20px 0 0 0;}
.child_btn_cp{padding:20px 0 0 0; text-align:center;}
.child_btn_cp a{font-size:14px; line-height:24px; padding:12px 18px 12px 18px;}
.child_btn_cp a img{margin:0 0 5px 14px;}

.recruitment_block_cp{padding:50px 0;}
.recruitment_middle_cp{padding:15px;}
.recruitment_title_cp{font-size:15px; line-height:23px;}

.form-field-cop{padding:20px 0 0 0; display:block;}
.form-field-lable-cop{width:100%; font-size:16px; line-height:20px; padding:0 5px 20px 0;}
.form-field-lable-cop span{font-size:16px;}
.form-field-input-cop{width:100%;}
.form-field-input-cop input{font-size:16px; line-height:20px;}
.form-field-input-cop textarea{height:160px; font-size:16px; line-height:20px;}
.form-field-input-cop select{font-size:16px; line-height:20px;}
.form-field-radio-main-cp .radio-container-cp{font-size:16px; line-height:20px;}

.recruitment_btn_cp{padding-top:20px;}
.recruitment_btn_cp button{font-size:16px; line-height:20px; min-width:200px; padding:10px;}

/*--------------- 09-Children Staff Recruitment Inquiries_end --------------*/

/*------------------- 10-Nursing Care Staff Recruitment_start -----------------*/

.change_pd_cp{padding:20px;}

/*------------------- 10-Nursing Care Staff Recruitment_end -----------------*/


/*------------------- 11- Contact us_start -----------------*/

.phone_block_ctp{padding:50px 0 0 0;}
.phone_middle_ctp{padding:20px;}
.phone_title_ctp{font-size:24px; line-height:30px;}
.phone_top_ctp{display:block; padding-top:20px;}
.phone_left_ctp{width:100%; padding-bottom:20px;}
.phone_img_ctp{width:22px;}
.phone_row_ctp { justify-content: center;}
.phone_info_ctp{font-size:24px; line-height:30px; width:auto; padding-left:15px;}
.phone_right_ctp{width:100%;}
.phone_box_ctp{padding-left:0px; justify-content: center; }
.phone_subinfo_ctp{font-size:22px; line-height:30px; padding-left:15px; width:auto;}
.form-field-radio-main-cp .radio-container-cp .checkmark-cp{ top:3px; }


/*------------------- 11- Contact us_end -----------------*/


/*------------------- 12-Notice_start -----------------*/


.notice_block_ntp{padding:50px 0;}
.notice_box_ntp a{display:flex; padding:20px 0;}
.notice_date_ntp{font-size:14px; line-height:18px; width:120px;}
.notice_info_ntp{font-size:14px; line-height:20px; width:calc(100% - 120px);}

.notice_pagination_ntp{padding-top:40px;}
/*------------------- 12-Notice_end -----------------*/



}

@media(min-width:768px) and (max-width:991px){
.container{ max-width:768px; }

.common_title_hp h3{font-size:18px; line-height:30px; padding:2px 110px;}
.common_title_hp h2{font-size:36px; line-height:40px; padding:8px 0 0 0;}
.common_title_hp h3:after{width:98px; height:79px; top:-20px; left:0;}
.common_title_hp h3:before{width:98px; height:79px; top:-20px; right:0;}

.common_page_title_ncp{padding-left:20px;}
.common_page_title_in_ncp h2{font-size:20px; line-height:24px;}


.common_btn_hp{font-size:8px; line-height:12px; padding:12px 0; min-width:180px;}
.common_btn_hp img{width:10px;}
.service_btn_arrow_np{width:28px; height:28px;}


/*--------------- HEADER_START --------------*/
#header{ padding:0px; }
.header-in-hp{ padding:0 0 0 15px; justify-content: space-between; min-height: 76px; }
.header_middle_hp{justify-content: space-between; padding:0;}
.header_logo_hp{ width:200px; padding:0px; }
.header_logo_hp img{ width:100%; height:auto; }
.header_right_hp{display:none;}
.mobile-menu-icon-hp{ display:block; margin-top:0px; margin-right:0;  width: 70px; height: 76px; }
.menu-toggle-btn{  margin:29px auto 29px auto;  }
.navigation { padding: 23px; position: fixed; left: 0; width: 100%; background-color: #000; display: none; top: 76px; clear: both; height:calc(100% - 76px); overflow:scroll; }
.navbar-nav .nav-item{ border:0; }
.navbar-nav .nav-link{ color: #fff !important; padding: 10px 0px !important;  font-weight: 700; border:0 !important; }
.navbar-nav .dropdown-menu.show{ display:block; opacity:1; height:auto; transform: translate(0px, 0px); }
.navbar-nav .nav-link.contact_hp { color: #fff !important; padding: 18px 8px !important; margin-left:0; }
.navbar-collapse{ display:block !important; }
.navbar-nav .nav-link:hover { color: #fff !important; }
.navbar-nav .show .nav-link{ color: #fff !important; }
.dropdown-menu-btns{}
.dropdown-menu-btns .container{ padding:0; display:block; width:100%; }
.dropdown-menu-items-hp{ display:block; padding:0; }
.dropdown-menu-items-name-main-hp{ display:none; }
.dropdown-menu-items-links-hp{ width:100%; }
.dropdown-menu-items-links-hp ul{ display:block; padding:5px 0; }
.dropdown-menu-items-links-hp ul li{ width:100%; border:0px; }
.dropdown-menu-items-links-hp ul li a{ font-size: 14px; line-height: 20px; letter-spacing: 1.4px; margin-bottom:13px; padding:0 0 0px 30px; font-weight:400; position:relative; }
.dropdown-menu-items-links-hp ul li a:after{ content:''; position:absolute; left:11px; top:50%; transform: translate(0px, -50%); width:8px; height:1px; background:#fff; }
.online-form-hp{ display:block; }
.navbar-nav .nav-link.active { color: #fff !important; }
.header-right-hp{ display:none; }
.hide-desktop-hp{ display:block !important; }
.mobile-menu-icon-hp.open{ background:#000; }
.menu-toggle-btn.open span{ background:#000; }
.header-right-hp .contact-btn-main-hp{ display:none; }
.navbar-nav .nav-item{ padding:0px; width:100%; }
.navbar{ display:block; }
.navbar-nav .nav-link:before{ display:none; }
.dropdown-toggle::after{ border:0; content:''; background:url(../images/plus_icon.png) no-repeat center center; width:12px; height:12px; position:absolute; margin:0; right:10px; top: 50%; transform: translate(0, -50%); }
.show .dropdown-toggle::after{ border:0; content:''; background:url(../images/minus_icon.png) no-repeat center center; width:12px; height:12px; position:absolute; margin:0; right:10px; top: 50%; transform: translate(0, -50%); }
.header-absolute-hp{ display:none; }
.menuOpen #header{ background:#000; }
.navbar-nav .nav-link.login_hp{ margin:10px 0 0px 0; }
.navbar-nav .nav-link.materials_hp{ margin-top:20px; }
.fix-header .header-in-hp { height: 70px; }
/*--------------- HEADER_END --------------*/

/*--------------- CONTAIN_START --------------*/
#contain{ margin:0; padding:0px 0 0 0; }


.coexistence_block_hp{padding:85px 0 0 0;}
.coexistence_img1_hp{position:absolute; right:20%; top:-30px; width:400px; height:450px; background-size: 100%;}
.coexistence_img2_hp{position:absolute; top:114px; right:20px; width:750px; height:700px;}
.coexistence_left_hp{font-size:45px; line-height:80px; width:300px; padding-right:73px;}
.coexistence_right_hp{width:calc(100% - 300px);}
.coexistence_right_info_hp{font-size:17px; line-height:23px;}
.coexistence_right_btn_hp{padding-top:30px;}
.coexistence_btn_hp{padding:10px 25px; font-size:15px; line-height:20px; min-width:200px;}


.maintenance_block_hp{padding:80px 0 0 0;}
.maintenance_top_hp{padding:0 0 60px 0;}
.maintenance_left_hp{width:450px; padding:0 30px 0 30px;}
.maintenance_left_title_hp{font-size:14px; line-height:20px; padding-right:15px; margin:40px 0 0 -27px;}
.maintenance_left_info_hp{width:calc(100% - 48px);}
.maintenance_info_hp h2{font-size:25px; line-height:40px;}
.maintenance_info_hp p{font-size:15px; line-height:20px; padding-top:10px;}
.maintenance_btn_hp{padding-top:20px;}
.maintenance_right_hp{width:calc(100% - 450px);}
.maintenance_reverse_hp .maintenance_left_hp{padding-right:20px; padding-left:44px;}
.maintenance_change_hp:after{right:28%; top:135px; width:350px; height:350px; background-size: 100%;}


.recruit_middle_hp{padding:116px 100px 60px 50px;}
.recruit_box_hp{max-width:402px;}
.recruit_box_info_hp h3{font-size:30px; line-height:44px;}
.recruit_box_info_hp h4{font-size:15px; line-height:20px; padding-bottom:20px;}
.recruit_box_info_hp p{font-size:15px; line-height:20px; padding-bottom:20px;}
.recruit_box_btn_hp{padding-bottom:40px; padding-top:0;}
.recruit_box_btn_bg1_hp{min-width:300px;}
.recruit_box_btn_bg2_hp{min-width:300px;}


.contact_block_hp{margin:100px 0 -100px 0;}
.contact_box_hp{padding:65px 80px;}


/*--------------- CONTAIN_END --------------*/


/*--------------- FOOTER_START --------------*/
.back-to-top a { width: 60px; height: 60px; }

.footer_bottom_hp{max-width:1000px; margin:auto;}
.footer-middle-hp{padding:150px 10px 15px 10px;}
.footer-logo-hp img{max-width:250px; width:100%;}
.footer-links-hp ul li{font-size:14px; line-height:20px; padding-right:30px;}
.footer_copyright_hp{padding-top:40px; font-size:14px; line-height:20px;}

/*--------------- FOOTER_END --------------*/




/*--------------- 01-Nursig-top_START --------------*/
#contain{ margin:0 0 0 0; padding:0px; }

.nursing_block_np{padding-top:30px;}
.nursing_link_np{padding:0 0 0 15px;}
.nursing_link_np ul li{font-size:12px; line-height:18px;}
.nursing_link_np ul li a{padding:20px 10px 20px 10px;}



.banner_block_np{margin-top:-30px;}
.banner_block_np:after{width:160px; height:160px; left:135px; bottom:115px;}
.banner_top_np{display:flex;}
.banner_left_np{width:223px;}
.banner_row_np{display:inline-block; }
.banner_title_np{ font-size: 28px; line-height: 34px; padding:0 10px 0 10px;}
.banner_circle_np{margin:30px 0 0 10px; width:190px; height:190px;}
.banner_img1_np{left:52px; top:10px;}
.banner_sub_title_np{font-size:16px; line-height:18px; left:25px; top:72px; padding-bottom:8px;}
.banner_info_np{font-size:16px; line-height:20px; left:27px; top:114px;}
.banner_right_np{width:calc(100% - 223px); display:flex;}
.banner_box_np{}
.banner_img_np{height:510px;}
.banner_hover_np{font-size:24px; line-height:32px; padding:10px;}



.open_block_np{padding:80px 0 0 0;}
.open_green_leaves1_np{left:3px; top:-29px; width:85px;}
.open_green_leaves2_np{right:0px; top:-35px; width:85px;}
.open_middle_np{padding:30px;}
.open_left_np{width:calc(100% - 300px); padding-right:30px;}
.open_logo_np{padding:0 0 0 60px;}
.open_logo_np img{width:230px;}
.open_title_np{margin:15px 0 0 15px; font-size:20px; line-height:24px; width:365px; padding-top:10px;}
.open_right_np{width:300px;}
.open_img_np img{max-width:195px;}
.open_info_np{font-size:10px; line-height:20px; width:310px; padding:15px 15px 15px 15px;}
.open_green_circle_np{width:100px; height:100px; right:35px; top:192px;}
.open_subtitle_np{font-size:12px; line-height:18px; padding-top:32px;}
.open_bottom_np{padding-top:40px;}
.open_bottom_left_np{width:350px; margin-top: -59px; }
.open_img1_np{}
.open_img_title_np{font-size:16px; line-height:20px; padding-top:12px;}
.open_right_bottom_np{width:calc(100% - 350px); padding-left:10px;}
.open_img_name_np{font-size:10px; line-height:12px; padding-top:12px;}
.open_grid_np{ margin-top:-30px; }
.open_map_img_np iframe{ height:400px; }



.service_block_np{padding:60px 0 0 0;}
.service_left_np{width:300px; padding-left:50px;}
.service_org_box_np{font-size:16px; line-height:20px; padding:8px 10px; min-width:130px;}
.service_logo_np{padding-top:20px; max-width:230px;}
.service_info_np{font-size:11px; line-height:20px; padding-top:14px;}
.service_digit_np{font-size:140px; line-height:155px; left:60px; bottom:-27px;}
.service_pd_np{bottom:-53px;}
.service_btn_np{padding-top:25px;}
.service_right_img_np{width:calc(100% - 300px);}
.service_reverse_np .service_left_np{padding:0 25px 0 60px;}
.green_change_np .service_left_np{padding:0 15px 0 50px;}



.welfare_block_np{padding-top:50px;}
.welfare_box_np{width:calc(33.33% - 15px); margin-right:25px;}
.welfare_btn_np{margin-top:-25px;}
.welfare_btn_np a{font-size:12px; line-height:16px; padding:12px 90px 14px 0;}
.welfare_btn_np img{width:10px;}
.welfare_btn_arrow_np{right:15px; width:28px; height:28px;}



.home_block_np{padding-top:60px;}
.home_img_np{padding-right:60px;}
.home_top_np{margin:-55px 0 0 40px;}
.home_box_np{width:calc(50% - 75px); margin-right:15px; padding:15px 10px 15px 10px;}
.home_logo_np{width:130px;}
.home_right_np{width:calc(100% - 130px); padding-left:20px;}
.home_info_np{font-size:10px; line-height:20px; min-height:80px;}
.home_btn_np{padding-top:20px;}
.home_btn_np a{min-width:119px; padding:11px 0;}



.news_block_np{padding:60px 0; overflow:hidden;}
.news_leaves_np{bottom:56px; left:42px; display:none;}
.news_tringle_np{bottom:255px; left:35px; display:none;}
.news_left_np{width:270px; margin-left:0px;}
.news_right_np{width:calc(100% - 270px); padding:30px 0 30px 30px; border-radius:20px 0 0 20px;}
.news_right_np:after{width:1000%; height:100%; right:-1000%; top:0px;}
.news_right_np a{padding:15px 0;}
.news_date_np{font-size:12px; line-height:20px; width:100px; padding-left:10px;}
.news_info_np{font-size:11px; line-height:20px; width:calc(100% - 100px); padding-left:10px;}



.care_block_np{padding:60px 0;}
.care_box_np{width:calc(33.33% - 35px); margin-right:55px;}
.care_info_np h6{font-size:14px; line-height:18px;}
.care_info_np h3{font-size:20px; line-height:24px; padding-top:12px;}
.care_info_np p{font-size:11px; line-height:14px; padding-top:15px;}
.care_btn_np{padding-top:30px;}


/*---------------01-Nursig-top_END --------------*/


/*--------------- FOOTER_START --------------*/

#footer{margin:0; padding:0;}

.footer_block_np{padding:40px 20px;}
.footer_left_np{width:200px;}
.footer_info_np h3{font-size:12px; line-height:18px; padding-top:10px;}
.footer_info_np p{font-size:10px; line-height:18px; padding-top:8px;}
.footer_right_np{width:calc(100% - 200px); padding-left:50px;}
.footer_links_np ul{padding-right:30px;}
.footer_links_np ul li{font-size:10px; line-height:16px; padding-bottom:8px;}
.footer_copyright_np{font-size:12px; line-height:18px; padding-top:20px;}

/*--------------- FOOTER_END --------------*/


/*--------------- 02-nursing_care_business_start --------------*/

.banner_middle_ncp{padding:30px 0 0 100px;}
.banner_img_ncp img{border-radius:150px 0 0 0;}

.care_block_ncp{padding:100px 0 0px 0;}
.care_info_ncp{font-size:17px; line-height:30px; padding-top:40px;}

.homecare_block_ncp{padding:80px 0 0 0;}

.orange_title_ncp h3{font-size:28px; line-height:35px; padding:0 80px;}
.orange_title_ncp h3:after{width:60px; height:62px; top:0px;}
.orange_title_ncp h3:before{width:60px; height:62px; top:0px;}

.homecare_boxes_ncp{padding-top:40px;}
.homecare_box_ncp{padding:30px; margin-bottom:45px;}
.homecare_left_ncp{width:calc(100% - 300px);  padding-right:20px;}
.homecare_left_num_row_ncp{width:75px; padding-right:15px;}
.homecare_left_num_ncp{font-size:50px;}
.homecare_left_name_ncp{font-size:12px; line-height:14px;}
.homecare_left_title_ncp{font-size:25px; width:calc(100% - 75px); padding-left:15px;}
.homecare_left_info_ncp p{font-size:15px; line-height:20px; padding-top:25px;}
.homecare_right_ncp{width:300px;}
.home_block_ncp{padding-bottom:80px;}
.home_top_ncp{padding-top:45px;}
.home_img_subinfo_ncp{font-size:15px; line-height:25px; padding-top:15px;}
.home_row_main_ncp{padding-top:40px;}
.home_row_left_ncp{font-size:17px; line-height:25px; width:150px;}
.home_row_right_ncp{font-size:16px; line-height:20px; width:calc(100% - 150px);}

/*--------------- 02-nursing_care_business_end --------------*/


/*---------------03-Fee_based_Nursin_Home_Business_start --------------*/

.paid_img_fp{padding-top:80px;}
.paid_title_fp{margin:50px 0 0px 0;}
.paid_title_fp h2{font-size:25px; line-height:40px; padding:12px 40px 45px 40px;}
.paid_title_fp h2 span{color:#EE782E;}


.fee_block_fp{padding:50px 0 50px 0;}
.fee_left_fp{width:400px; padding-right:30px;}
.fee_left_info_fp{font-size:17px; line-height:30px;}
.fee_right_fp{width:calc(100% - 400px);}
.fee_right_img_fp img{height:100%;}
.fee_right_subinfo_fp{font-size:15px; line-height:20px; padding-top:20px;}
.fee_boxes_fp{padding-top:80px;}
.fee_box_fp{margin:0 10px 20px 0; width:calc(25% - 8px);}
.fee_info_fp{font-size:12px; padding-top:10px;}

/*--------------- 03-Fee_based_Nursin_Home_Business_end --------------*/


/*--------------- 04_Support_for_children_with_disabilities_start --------------*/


.support_block_sp{padding:80px 0 0 0;}
.support_img_sp{padding:0px 0 80px 0;}
.support_boxes_sp{display:flex; padding-top:30px;}
.support_box_sp{ margin-right:15px; height:550px;}
.support_title_sp{font-size:25px; line-height:29px; padding:20px 10px; }
.support_info_sp{padding:0 20px 20px 20px;}
.support_info_sp h3{font-size:18px; line-height:25px; padding-top:20px;}
.support_info_sp p{font-size:18px; line-height:20px; padding-top:15px;}
.support_bottom_box_sp{border:2px solid #34A12C; max-width:800px; margin:auto; border-radius:20px; margin-top:67px;}
.support_bottom_row_sp{display:flex; align-items:center; border-bottom:1px solid #34A12C;}
.support_bottom_row_sp:first-child .support_bottom_left_sp{border-radius:20px 0 0 0;}
.support_bottom_row_sp:last-child .support_bottom_left_sp{border-radius:0px 0 0 20px;}
.support_bottom_row_sp:last-child{border-bottom:none;}
.support_bottom_left_sp{padding:20px; font-size:17px; line-height:20px;}
.support_bottom_right_sp{padding:20px; font-size:16px; line-height:19px;}


.kids_pd_sp{padding-top:50px;}
.kids_pd2_sp{padding-bottom:80px;}
.kids_grid_main_sp{display:flex; padding-top:60px;}
.kids_grid_sp{width:50%; padding: 0 30px 0 0px;}
.kids_grid_info_sp{font-size:18px; line-height:20px;}
.kids_grid_box_sp{padding-top:0;}

/*--------------- 04_Support_for_children_with_disabilities_end --------------*

/*--------------- 06_Temporary_daytime_support_start --------------*/


.temporary_info_tp{padding-top:60px;}
.temporary_title_tp{padding:19px;}
.temporary_title_tp h2{font-size:25px;}
.temporary_title_tp p{font-size:18px;}


.business_change_tp{padding:80px 0 70px 0;}
.business_change_tp .home_row_main_ncp{width:400px;}
.business_change_tp .kids_grid_sp{width:calc(100% - 400px); padding-right:83px;}
.business_change_tp .home_row_left_ncp{width:161px;}
.business_change_tp .home_row_right_ncp{width:calc(100% - 161px);}

.service_block_tp{padding-top:60px;}
.service_pd_tp{padding-top:30px;}

.business_block_tp{padding-top:80px;}

/*--------------- 06_Temporary_daytime_support_end --------------*/



/*--------------- 07_Group_company_start --------------*/

.group_block_gp{padding:60px 0 0 0;}


.group_info_gp h3{font-size:26px; line-height:30px; padding-top:15px;}
.group_info_gp p{font-size:14px; line-height:24px; padding-top:15px;}


.party_block_gp{padding-bottom:60px;}
.party_change_gp .fee_boxes_fp{padding-top:50px;}
.party_change_gp .fee_box_fp{width:calc(20% - 10px); margin: 0 12px 0 0;}
.party_change_gp .fee_info_fp{padding-top:10px;}

/*--------------- 07_Group_company_end --------------*/


/*--------------- 08-Company_ProfileCorporate_Philosophy_start --------------*/

.corporate_block_cop{padding:60px 0 0 0;}
.corporate_info_cop h2{font-size:40px; line-height:44px; padding-top:25px;}
.corporate_info_cop p{font-size:16px; line-height:32px; padding-top:30px;}
.corporate_img_cop{padding-top:10px;}


.company_block_cop{padding:40px 0 0 0;}
.home_row_right_ncp p{font-size:14px; line-height:24px; padding-bottom:20px;}


.history_block_cop{padding:60px 0 0 0;}
.history_row_box_cop{padding-bottom:40px;}
.history_left_cop{font-size:20px; line-height:24px; width:120px;}
.history_right_cop{width:calc(100% - 120px); padding-left:35px; font-size:16px; line-height:20px;}
.history_left_cop:before{ top:6px; }


.map_block_cop{padding:60px 0;}

/*--------------- 08-Company_ProfileCorporate_Philosophy_end --------------*/


/*--------------- 09-Children Staff Recruitment Inquiries_START --------------*/

.breadcrumb_block_sp{padding:20px 0;}
.breadcrumb{justify-content:end; padding:0 20px 0 0;}

.child_block_cp{padding:10px 0 0 0;}
.child_btn_cp{padding-left:25px;}
.child_btn_cp a{font-size:16px; line-height:20px; padding:12px 15px;}
.child_btn_cp a img{margin:0 0 4px 18px;}

.recruitment_block_cp{padding:60px 0;}
.recruitment_middle_cp{padding:20px;}
.recruitment_title_cp{font-size:22px; line-height:34px;}

.form-field-input-cop textarea{height:200px;}

.recruitment_btn_cp{padding-top:30px;}
.recruitment_btn_cp button{font-size:18px; line-height:24px; min-width:240px; padding:10px;}

/*--------------- 09-Children Staff Recruitment Inquiries_end --------------*/

/*------------------- 10-Nursing Care Staff Recruitment_start -----------------*/

.change_pd_cp{padding:30px;}

/*------------------- 10-Nursing Care Staff Recruitment_end -----------------*/

/*------------------- 11- Contact us_start -----------------*/


.phone_block_ctp{padding:60px 0 0 0;}
.phone_middle_ctp{padding:30px;}
.phone_title_ctp{font-size:30px; line-height:34px;}
.phone_top_ctp{padding-top:20px;}
.phone_img_ctp{width:28px;}
.phone_info_ctp{font-size:32px; line-height:34px; width:calc(100% - 28px); padding-left:18px;}
.phone_box_ctp{padding-left:30px;}
.phone_subinfo_ctp{font-size:26px; line-height:28px; padding-left:18px;}


/*------------------- 11- Contact us_end -----------------*/


/*------------------- 12-Notice_start -----------------*/

.notice_block_ntp{padding:60px 0;}
.notice_box_ntp a{padding:20px 0;}
.notice_date_ntp{font-size:16px; line-height:24px; width:180px;}
.notice_info_ntp{font-size:16px; line-height:24px; width:calc(100% - 180px);}

.notice_pagination_ntp{padding-top:45px;}

/*------------------- 12-Notice_end -----------------*/




}

@media(min-width:992px) and (max-width:1450px){
.container{ max-width:992px; }

.common_title_hp h3{font-size:24px; line-height:34px; padding:6px 120px;}
.common_title_hp h2{font-size:40px; line-height:48px; padding:8px 0 0 7px;}
.common_title_hp h3:after{width:98px; height:79px; top:-20px; left:0;}
.common_title_hp h3:before{width:98px; height:79px; top:-20px; right:0;}

.common_page_title_ncp{padding-left:20px;}
.common_page_title_in_ncp h2{font-size:28px; line-height:32px;}


.common_btn_hp{font-size:16px; line-height:20px; padding:12px 0; min-width:230px;}
.common_btn_hp img{width:14px;}
.service_btn_arrow_np{width:35px; height:35px;}


/*--------------- HEADER_START --------------*/
#header { padding: 0 20px; }
.header-in-hp { min-height: 78px; }
.header_logo_hp{width:250px;}
.header_right_hp{width:100px;}
.header_right_title_hp{letter-spacing:5px;}
.navigation{width:calc(100% - 433px);} 
.navbar-nav .nav-item {font-size:12px; padding:0 10px !important;}
.navbar-nav .nav-link{ }
/*--------------- HEADER_END --------------*/


/*--------------- CONTAIN_START --------------*/
#contain{ margin:0; padding:76px 0 0 0; }


.coexistence_block_hp{padding:100px 0 0 0;}
.coexistence_img1_hp{right:20%; top:-13%; width:570px; height:600px;}
.coexistence_img1_hp img{width:100%;}
.coexistence_img2_hp{top:45%; right:87px; width:900px; height:800px;}
.coexistence_img2_hp img{width:100%;}
.coexistence_left_hp{font-size:60px; line-height:70px; width:500px; padding-right:40px;}
.coexistence_right_hp{width:calc(100% - 500px);}
.coexistence_right_info_hp{font-size:16px; line-height:40px;}
.coexistence_right_btn_hp{padding-top:40px;}
.coexistence_btn_hp{padding:11px 28px; font-size:17px; line-height:20px;  min-width:200px;}



.maintenance_block_hp{padding:80px 0 0 0;}
.maintenance_top_hp{padding:0 0 100px 0;}
.maintenance_left_hp{width:580px; padding:0 40px 0 60px;}
.maintenance_left_title_hp{font-size:16px; line-height:25px; padding-right:18px; margin:40px 0 0 -27px;}
.maintenance_info_hp h2{font-size:40px; line-height:50px;}
.maintenance_info_hp p{font-size:18px; line-height:30px; padding-top:15px;}
.maintenance_btn_hp{padding-top:20px;}
.maintenance_right_hp{width:calc(100% - 580px);}
.maintenance_reverse_hp .maintenance_left_hp{padding-left:80px;}
.maintenance_change_hp:after{right:24%; top:130px; width:490px; height:600px; background-size:100%;}


.recruit_middle_hp{padding:80px 50px 50px 40px;}
.recruit_box_hp { max-width: 360px; }
.recruit_box_info_hp h3{font-size:50px; line-height:74px;}
.recruit_box_info_hp h4{font-size:18px; line-height:25px; padding-bottom:28px;}
.recruit_box_info_hp p{font-size:18px; line-height:27px; padding-bottom:28px;}
.recruit_box_btn_hp{padding-bottom:30px; padding-top:0;}
.recruit_box_btn_bg1_hp{min-width:330px;}
.recruit_box_btn_bg2_hp{min-width:330px;}


.contact_block_hp{margin:100px 0 -80px 0;}
.contact_box_hp{padding:50px 70px;}

/*--------------- CONTAIN_END --------------*/


/*--------------- FOOTER_START --------------*/

.footer_bottom_hp{max-width:1400px; margin:auto;}
.footer-middle-hp{padding:180px 10px 30px 10px;}
.footer-logo-hp img{max-width:290px; width:100%;}
.footer-links-hp ul li{font-size:16px; line-height:24px; padding-right:30px;}
.footer_copyright_hp{padding-top:60px;}

/*--------------- FOOTER_END --------------*/


/*--------------- 01-Nursig-top_START --------------*/
#contain{ margin:0 0 0 0; padding:0px; }


.nursing_link_np ul li{font-size:14px; line-height:18px; width:calc(25% - 0px);}
.nursing_link_np ul li a{padding:20px 10px 20px 10px;}
.banner_block_np { margin-top: -30px; }
.banner_block_np:after{width:200px; height:200px; left:150px; bottom:105px;}
.banner_left_np{width:250px;}
.banner_title_np{font-size:34px; line-height:36px; padding:0 15px 0 15px;}
.banner_circle_np{margin:25px 0 0 20px; width:200px; height:200px;}
.banner_img1_np{left:63px; top:10px;}
.banner_sub_title_np{font-size:16px; line-height:20px; left:28px; top:72px; padding-bottom:9px;}
.banner_info_np{font-size:18px; line-height:20px; left:22px; top:120px;}
.banner_right_np{width:calc(100% - 250px); padding-left:10px;}
.banner_img_np{height:600px;}
.banner_hover_np{font-size:34px; line-height:40px; padding:10px;}



.open_block_np{padding:80px 0 0 0;}
.open_green_leaves1_np{left:5px; top:-32px; width:95px;}
.open_green_leaves2_np{right:0; top:-39px; width:95px;}
.open_middle_np{padding:30px;}
.open_left_np{width:calc(100% - 420px); padding-right:35px;}
.open_logo_np{padding:0 0 0 90px;}
.open_logo_np img{width:300px;}
.open_title_np{margin:18px 0 0 18px; font-size:22px; line-height:26px; width:455px; padding-top:13px;}
.open_right_np{width:420px;}
.open_img_np img{max-width:215px;}
.open_info_np{font-size:12px; line-height:20px; width:370px; padding:18px 18px 18px 18px;}
.open_green_circle_np{width:120px; height:120px; right:40px; top:200px;}
.open_subtitle_np{font-size:14px; line-height:20px; padding-top:35px;}
.open_bottom_np{padding-top:45px;}
.open_bottom_left_np{width:460px;     margin-top: -104px; }
.open_img_title_np{font-size:18px; line-height:22px; padding-top:14px;}
.open_right_bottom_np{width:calc(100% - 460px); padding-left:12px;}
.open_box_np{padding-right:12px;}
.open_map_img_np iframe{ height:400px; }
.open_img_name_np{font-size:12px; line-height:14px; padding-top:15px;}



.service_block_np{padding:80px 0 0 0;}
.service_left_np{width:325px; padding-left:40px;}
.service_org_box_np{font-size:18px; line-height:22px; padding:10px 12px; min-width:150px;}
.service_logo_np{padding-top:25px; max-width:250px;}
.service_info_np{font-size:11px; line-height:22px; padding-top:20px;}
.service_digit_np{font-size:150px; line-height:160px; left:65px; bottom:-30px;}
.service_pd_np{bottom:-55px;}
.service_btn_np{padding-top:30px;}
.service_right_img_np{width:calc(100% - 325px);}
.service_reverse_np .service_left_np{padding:0 30px 0 40px;}
.green_change_np .service_left_np{padding:0 20px 0 60px;}


.welfare_block_np{padding-top:80px;}
.welfare_box_np{width:calc(33.33% - 19px); margin-right:30px;}
.welfare_btn_np{margin-top:-30px;}
.welfare_btn_np a{font-size:14px; line-height:18px; padding:13px 95px 16px 0;}
.welfare_btn_np img{width:12px;}
.welfare_btn_arrow_np{right:18px; width:30px; height:30px;}


.home_block_np{padding-top:80px;}
.home_img_np{padding-right:70px;}
.home_top_np{margin:-60px 0 0 20px;}
.home_box_np{width:calc(50% - 90px); margin-right:18px; padding:18px 12px 18px 10px;}
.home_logo_np{width:150px;}
.home_right_np{width:calc(100% - 150px); padding-left:35px;}
.home_info_np{font-size:12px; line-height:22px; min-height:90px;}
.home_btn_np{padding-top:25px;}
.home_btn_np a{min-width:175px; padding:13px 0;}


.news_block_np{padding:80px 0 80px 0; overflow:hidden;}
.news_leaves_np{bottom:56px; left:42px; display:none;}
.news_tringle_np{bottom:255px; left:35px; display:none;}
.news_left_np{width:315px; margin-left:30px;}
.news_right_np{width:calc(100% - 315px); border-radius:40px 0 0 40px; padding:25px 0 25px 55px;}
.news_right_np a{padding:18px 0;}
.news_date_np{font-size:14px; line-height:22px; width:120px; padding-left:12px;}
.news_info_np{font-size:13px; line-height:22px; width:calc(100% - 120px); padding-left:15px;}


.care_block_np{padding:70px 0;}
.care_box_np{width:calc(33.33% - 39px); margin-right:60px;}
.care_info_np h6{font-size:16px; line-height:20px;}
.care_info_np h3{font-size:22px; line-height:26px; padding-top:14px;}
.care_info_np p{font-size:13px; line-height:16px; padding-top:18px;}
.care_btn_np{padding-top:35px;}


/*---------------01-Nursig-top_END --------------*/

/*--------------- FOOTER_START --------------*/

#footer{margin:0; padding:0;}

.footer_block_np{padding:50px 20px;}
.footer_left_np{width:250px;}
.footer_info_np h3{font-size:14px; line-height:20px; padding-top:15px;}
.footer_info_np p{font-size:12px; line-height:20px; padding-top:10px;}
.footer_right_np{width:calc(100% - 250px); padding-left:60px;}
.footer_links_np ul{padding-right:40px;}
.footer_links_np ul li{font-size:12px; line-height:18px; padding-bottom:10px;}
.footer_copyright_np{font-size:14px; line-height:20px; padding-top:25px;}


/*--------------- FOOTER_END --------------*/


/*--------------- 02-nursing_care_business_start --------------*/

.banner_middle_ncp{padding:50px 0 0 180px;}
.banner_img_ncp img{border-radius:180px 0 0 0;}

.care_block_ncp{padding:100px 0 0px 0;}
.care_info_ncp{font-size:18px; line-height:30px; padding-top:50px;}

.homecare_block_ncp{padding:90px 0 0 0;}

.orange_title_ncp h3{font-size:33px; line-height:40px;}
.orange_title_ncp h3:after{top:-2px;}
.orange_title_ncp h3:before{top:-2px;}

.homecare_boxes_ncp{padding-top:55px;}
.homecare_box_ncp{padding:35px; margin-bottom:50px;}
.homecare_left_ncp{width:calc(100% - 400px); padding-right:80px;}
.homecare_left_num_row_ncp{width:90px;}
.homecare_left_num_ncp{font-size:55px; line-height:60px;}
.homecare_left_name_ncp{font-size:13px; line-height:14px;}
.homecare_left_title_ncp{font-size:30px; width:calc(100% - 90px);}
.homecare_left_info_ncp p{font-size:18px; line-height:25px; padding-top:20px;}
.homecare_right_ncp{width:400px;}


.home_block_ncp{padding-bottom:80px;}
.home_top_ncp{padding-top:50px;}
.home_row_main_ncp{padding-top:40px;}
.home_row_left_ncp{font-size:19px; padding:20px 10px;}
.home_row_right_ncp{font-size:17px;}

/*--------------- 02-nursing_care_business_end --------------*/


/*---------------03-Fee_based_Nursin_Home_Business_start --------------*/

.paid_img_fp{padding-top:80px;}
.paid_title_fp{margin:50px 0 0px 0;}
.paid_title_fp h2{font-size:33px; line-height:50px; padding:19px 50px 50px 50px;}


.fee_block_fp{padding:50px 0 60px 0;}
.fee_left_fp{width:500px; padding-right:40px;}
.fee_left_info_fp{font-size:18px; line-height:40px;}
.fee_right_fp{width:calc(100% - 500px);}
.fee_right_img_fp img{height:100%;}
.fee_right_subinfo_fp{font-size:17px; line-height:25px; padding-top:25px;}
.fee_boxes_fp{padding-top:80px;}
.fee_info_fp{font-size:17px; line-height:25px; padding-top:20px;}

/*--------------- 03-Fee_based_Nursin_Home_Business_end --------------*/

/*--------------- 04_Support_for_children_with_disabilities_start --------------*/


.support_block_sp{padding:80px 0 0 0;}
.support_img_sp{padding:0px 0 80px 0;}
.support_box_sp{width:50%; margin-right:28px;}
.support_title_sp{font-size:28px; line-height:35px; padding:20px 10px;}
.support_info_sp{padding:26px;}
.support_info_sp h3{padding-top:0px;}
.support_info_sp p{font-size:17px; line-height:30px; padding-top:20px;}
.support_bottom_box_sp{margin-top:40px;}
.support_bottom_left_sp{padding:18px;}
.support_bottom_right_sp{padding:18px; font-size:18px;}


.kids_pd_sp{padding-top:40px;}
.kids_pd2_sp{padding-bottom:80px;}
.kids_grid_main_sp{padding-top:60px;}
.kids_grid_sp{width:50%; padding: 0 60px 0 0px;}
.kids_grid_info_sp{padding-top:25px;}
.kids_grid_box_sp{padding-top:0;}

/*--------------- 04_Support_for_children_with_disabilities_end --------------*/


/*--------------- 06_Temporary_daytime_support_start --------------*/

.temporary_info_tp{font-size:17px; padding-top:80px;}
.temporary_title_tp{padding:19px;}
.temporary_title_tp h2{font-size:28px;}
.temporary_title_tp p{font-size:18px;}

.business_change_tp{padding:70px 0 90px 0;}

.service_block_tp{padding-top:60px;}
.service_pd_tp{padding-top:40px;}

.business_block_tp{padding-top:80px;}

/*--------------- 06_Temporary_daytime_support_end --------------*/


/*--------------- 07_Group_company_start --------------*/

.group_block_gp{padding:70px 0 0 0;}
.group_info_gp h3{font-size:28px; line-height:30px; padding-top:18px;}
.group_info_gp p{font-size:16px; line-height:28px; padding-top:18px;}


.party_block_gp{padding-bottom:70px;}
.party_change_gp .fee_box_fp{width:calc(20% - 15px); margin: 0 18px 0 0;}
.party_change_gp .fee_info_fp{padding-top:10px;}

/*--------------- 07_Group_company_end --------------*/


/*--------------- 08-Company_ProfileCorporate_Philosophy_start --------------*/

.corporate_block_cop{padding:70px 0 0 0;}
.corporate_info_cop h2{font-size:48px; line-height:54px; padding-top:50px;}
.corporate_info_cop p{font-size:18px; line-height:46px; padding-top:35px;}
.corporate_img_cop{padding-top:20px;}


.company_block_cop{padding:60px 0 0 0;}
.home_row_right_ncp p{font-size:16px; line-height:24px; padding-bottom:25px;}

.history_block_cop{padding:70px 0 0 0;}
.history_row_box_cop{padding-bottom:45px;}
.history_row_cop:after{display:none;}
.history_left_cop{font-size:22px; line-height:26px; width:130px;}
.history_left_cop:before{display:none;}
.history_right_cop{width:calc(100% - 130px); padding-left:40px; font-size:16px; line-height:28px;}


.map_block_cop{padding:60px 0;}

/*--------------- 08-Company_ProfileCorporate_Philosophy_end --------------*/


/*--------------- 09-Children Staff Recruitment Inquiries_START --------------*/

.breadcrumb_block_sp{padding:20px 0;}
.breadcrumb{padding:0px 30px 0 0px;}

.child_btn_cp{padding-left:50px;}
.child_btn_cp a{font-size:18px; line-height:24px;}

.recruitment_block_cp{padding:80px 0;}
.recruitment_middle_cp{padding:30px;}
.recruitment_title_cp{font-size:26px; line-height:38px;}
.form-field-input-cop textarea{height:240px;}

.recruitment_btn_cp button{font-size:18px; line-height:26px; min-width:250px; padding:12px;}

/*--------------- 09-Children Staff Recruitment Inquiries_end --------------*/

/*------------------- 10-Nursing Care Staff Recruitment_start -----------------*/

.change_pd_cp{padding:35px;}

/*------------------- 10-Nursing Care Staff Recruitment_end -----------------*/


/*------------------- 11- Contact us_start -----------------*/

.phone_block_ctp{padding:80px 0 0 0;}
.phone_middle_ctp{padding:30px;}
.phone_title_ctp{font-size:32px; line-height:34px;}
.phone_top_ctp{padding-top:35px;}
.phone_img_ctp{width:30px;}
.phone_info_ctp{font-size:36px; line-height:38px; width: calc(100% - 30px); padding-left:18px;}
.phone_box_ctp{padding-left:80px;}
.phone_subinfo_ctp{font-size:28px; line-height:30px; padding-left:18px;}

/*------------------- 11- Contact us_end -----------------*/


/*------------------- 12-Notice_start -----------------*/


.notice_block_ntp{padding:70px 0;}
.notice_box_ntp a{padding:25px 0;}
.notice_date_ntp{font-size:18px; line-height:26px; width:200px;}
.notice_info_ntp{font-size:18px; line-height:26px; width:calc(100% - 200px);}

.notice_pagination_ntp{padding-top:50px;}

/*------------------- 12-Notice_end -----------------*/

}

@media(min-width:1451px) and (max-width:1800px){

/*--------------- 01-Nursig-top_START --------------*/

.open_block_np .open_container{ max-width:992px; }
.open_block_np{padding:80px 0 0 0;}
.open_green_leaves1_np{left:5px; top:-32px; width:95px;}
.open_green_leaves2_np{right:0; top:-39px; width:95px;}
.open_middle_np{padding:30px;}
.open_left_np{width:calc(100% - 420px); padding-right:35px;}
.open_logo_np{padding:0 0 0 90px;}
.open_logo_np img{width:300px;}
.open_title_np{margin:18px 0 0 18px; font-size:22px; line-height:26px; width:455px; padding-top:13px;}
.open_right_np{width:420px;}
.open_img_np img{max-width:215px;}
.open_info_np{font-size:12px; line-height:20px; width:370px; padding:18px 18px 18px 18px;}
.open_green_circle_np{width:120px; height:120px; right:40px; top:200px;}
.open_subtitle_np{font-size:14px; line-height:20px; padding-top:35px;}
.open_bottom_np{padding-top:45px;}
.open_bottom_left_np{width:460px;     margin-top: -104px; }
.open_img_title_np{font-size:18px; line-height:22px; padding-top:14px;}
.open_right_bottom_np{width:calc(100% - 460px); padding-left:12px;}
.open_box_np{padding-right:12px;}
.open_map_img_np iframe{ height:400px; }
.open_img_name_np{font-size:12px; line-height:14px; padding-top:15px;}

/*---------------01-Nursig-top_END --------------*/

}

@media(min-width:992px) and (max-width:9999px){
	.navigation{  display:block !important; } 
	
}
