body{margin:0px; padding:0px; font-family: 'Noto Sans JP', sans-serif; font-weight:400; overflow-x:hidden;}
h1,h2,h3,h4,h5,h6{margin:0px; padding:0px; font-weight:normal;}
p{margin:0px; padding:0px;}
a{text-decoration:none; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; -ms-transition: all 0.3s linear; transition: all 0.3s linear;} 
a:hover, a:focus, a:active{ outline:none; text-decoration:none; }
input{-webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; -ms-transition: all 0.3s linear; transition: all 0.3s linear;} 
input:hover, input:focus, input:active{outline:none;}
input::-webkit-input-placeholder{color:#333333;}
input::-moz-placeholder{color:#333333;}
input:-ms-input-placeholder{color:#333333;}
input:-moz-placeholder{color:#333333;}
textarea::-webkit-input-placeholder{color:#333333;}
textarea::-moz-placeholder{color:#333333;}
textarea:-ms-input-placeholder{color:#333333;}
textarea:-moz-placeholder{color:#333333;}
ul{margin:0px; padding:0px;}
ul li{list-style-type:none;}
img{border:0px;}
.clearfix{clear:both; overflow:hidden;}
.container{max-width:1230px; margin:auto;}
.open_container{max-width:1710px; margin:auto;}
.container_inner{max-width:1630px; margin:auto;}
.coexistence_banner{max-width:1430px; margin:auto;}
.recruit_banner{max-width:1600px; margin:auto;}
.wrapper{margin:0px auto;}


.common_title_hp{text-align:center;}
.common_title_hp h3{font-size:30px; line-height:45px; font-weight:700; color:#202020; font-family:'Poppins',sans-serif; text-transform:uppercase; position:relative; display:inline-block; padding:6px 120px;}
.common_title_hp h2{font-size:60px; line-height:62px; font-weight:900; color:#202020; padding:8px 0 0 0; text-align:center;}
.common_title_hp h3:after{position:absolute; content:''; width:98px; height:79px; top:-20px; left:0; background:url(../images/btn_leaves1.png) no-repeat top left;}
.common_title_hp h3:before{position:absolute; content:''; width:98px; height:79px; top:-20px; right:0; background:url(../images/btn_leaves2.png) no-repeat top right;}


.common_page_title_ncp{padding-left:160px; display:flex; align-items:center;}
.common_page_title_in_ncp.news_detail h2{font-size:30px; line-height:60px; color:#202020; font-weight:700;}


.common_btn_hp{font-size:20px; line-height:27px; color:#EE782E !important; font-weight:700; border-radius:29px; padding:15px 0; display:inline-block; position:relative; min-width:292px; text-align:center; border:2px solid #EE782E;}
.common_btn_hp img{width:18px; height:auto;}
.service_btn_arrow_np{vertical-align:middle; position:absolute; left:5px; top:50%; transform:translate(0 , -50%); background:#EE782E;  border-radius:100%; width:46px; height:46px; display:flex; justify-content:center;    align-items:center;}
.green_btn_np{border:2px solid #34A12C; color:#34A12C !important;}
.green_btn_np .service_btn_arrow_np{background:#34A12C;}


.common_btn_hp:hover{ opacity:0.8; }

/*--------------- HEADER_START --------------*/
#header{padding:0 40px; margin:0px; position:relative; width:100%; top:0; z-index:9999; background:#F7F7F7;}
.header-in-hp{display:block; align-items:center; min-height:90px; padding:0;}

.header_middle_hp{padding:17px 0; display:flex; align-items:center;}
.header_logo_hp{width:325px;}
.header_logo_hp img{width:100%;}

.header_right_hp{padding-left:8px;}
.header_right_hp a{width:175px; padding-left:25px; display:flex; align-items:center; background:#EE782E; border-radius:29px; padding:4px 30px  4px 4px;}
.header_right_icon_hp{background:#FFF; width:36px; height:36px; padding:11px 9px; border-radius:100%;}
.header_right_icon_in_hp{display:flex; align-items:center;}
.header_right_icon_in_hp img{width:100%;}
.header_right_btn_hp{font-weight:700; font-size:15px; line-height:20px; color:#FFFFFF; width:calc(100% - 36px); padding-left:15px;}

.navigation{width:calc(100% - 508px);} 
.dropdown-submenu{position:relative; padding:0;}
.dropdown-submenu a::after{transform:rotate(-90deg); position:absolute; right:6px; top:.8em;}
.dropdown-submenu .dropdown-menu{top:0; left:100%; margin-left:.1rem; margin-right:.1rem;}
.navbar{padding:0px; position:static; align-items:center;}
.navbar-nav{align-items:center;}
.navbar-nav .nav-item{font-weight:700; font-size:18px; line-height:24px; color:#202020; display:inline-block; padding:0 15px !important;}
.navbar-nav .nav-link{color:#202020 !important; padding:0 !important;  display:block; position:relative; text-align:center;}
.navbar-nav .nav-link span{color:#fff; padding:11px 0 !important;}
.navbar-nav .nav-link strong{color:#202020;}

/*.navbar-nav .nav-link:after{ display:none; }*/
.navbar-nav .nav-link:before{content:''; position:absolute; background:#000000; height:2px; width:0%; left:50%; bottom:-9px; -webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; -o-transition:all 0.3s linear; -ms-transition:all 0.3s linear; transition:all 0.3s linear;}
.navbar-nav .nav-link:hover{color:#000000 !important;}
.navbar-nav .nav-link:hover:before{left:0; width:100%;}
.navbar-nav .show .nav-link{color:#0095DA !important;}
.navbar-nav .show .nav-link:before{left:0; width:100%;}
.navbar-nav .nav-link.active{color:#0095DA !important;}
.navbar-nav .nav-link.active:before{left:0; width:100%;}

.navbar-nav .nav-item.dropdown{}
.navbar-nav .nav-item.dropdown .nav-link{}
.navbar-nav .dropdown-menu{border:0px; border-radius:0px; margin:0px; padding:0; top:84px; background:rgba(32,41,49,0.92); width:100%; left:0; display:block; opacity:0; z-index:-1; height:0; overflow:hidden; -webkit-transition: all 0.3s linear; -moz-transition:all 0.3s linear; -o-transition:all 0.3s linear; -ms-transition: all 0.3s linear; transition: all 0.3s linear; transform: translate(0px, -10px); } 
.navbar-nav .dropdown-menu ul{ }
.navbar-nav .dropdown-menu ul li{ }
.navbar-nav .dropdown-menu ul li a{ font-size:18px; line-height:24px; font-weight:700; color:#000; padding:14px 10px 14px 25px; }
.navbar-nav .dropdown-menu ul li a:hover{ background:none; color:#fff; font-weight:700; }

.hide-desktop-hp{ display:none !important; }
.header-right-hp{ display:flex; align-items:center; padding-left:8px; padding-top:0px; }
.contact-btn-main-hp{ margin-left:23px; }
.contact-btn-main-hp:first-child{ margin-left:0; }
.contact-btn-hp{ background:#fff; border:1px solid #fff; border-radius:28px; font-size:14px; line-height:18px; font-weight:700; color:#202931; display:block; min-width:151px; text-align:center; padding:9px; }
.contact-btn-hp:hover{ color:#fff; background:none; }
.contact-btn-border-hp{ background:none; color:#fff; }
.contact-btn-border-hp:hover{ background:#fff; color:#202931; }

.mobile-menu-icon-hp{ margin:0px; padding:0px; float:right; display:none;  width:50px; height:50px; text-align:center; cursor:pointer; }
.menu-toggle-btn{ margin:21px 0px 20px 0px; cursor:pointer; width:30px; height:19px; padding:0; position:relative; z-index:999999999; }
.menu-toggle-btn span{ background:#000; display:block; width:30px; height:2px; border-radius:0px; margin-bottom:6px; -webkit-transition: all 0.5s linear; transition: all 0.3s linear;}
.menu-toggle-btn span:last-child{ margin-bottom:0px;}
.menu-toggle-btn span:nth-child(2){ width:100%; }
.menu-toggle-btn span:nth-child(3){ width:100%; }

.menu-toggle-btn.open span:nth-child(1), .menu-toggle-btn.open span:nth-child(3){ transform: translate(0px, 8px) rotate(-45deg) scalex(1.3); margin:0; width:100%; }
.menu-toggle-btn.open span:nth-child(2){ height:0; margin:0;}
.menu-toggle-btn.open span:nth-child(3){ transform: translate(0px, 6px) rotate(45deg) scalex(1.3);}
.overlay-mobile-menu-hp{ position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(255,255,255,0.6); z-index: 999; opacity:0; z-index:-11; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; -ms-transition: all 0.3s linear; transition: all 0.3s linear; } 
.menu-text-hp{ font-size:10px; color:#fff; font-weight:700; line-height: 7px; margin: 0 0 0 -5px; position:absolute; top:25px; }
.menu-toggle-btn.open .menu-text-hp{  }
.show_menu .overlay-mobile-menu-hp{ background:rgba(29,56,53,0.9); opacity:1; z-index:991; }
.show_menu #header{ background:#fff; }

.header-absolute-hp{ position:absolute; left:53px; top:50%; z-index:3; }
.copyright-header-hp{}
.copyright-header-in-hp{ font-size:10px; line-height:15px; color:#fff; text-transform:uppercase; transform: rotate(90deg);  margin-left: -50px; }
.copyright-header-in-hp div{ }

.fix-header #header{ position:fixed; background:#F7F7F7;}	
/*--------------- HEADER_END --------------*/


/*--------------- CONTAIN_START --------------*/
#contain{ margin:0; padding:76px 0 0 0; }

.banner_block_hp{position:relative; z-index:2;}
.banner_block_in_hp{padding:0;}
.banner_middle_hp{}
.banner_img_hp{}
.banner_img_hp img{width:100%;}


.coexistence_block_hp{padding:185px 0 0 0; position:relative;}
.coexistence_img1_hp{position:absolute; right:25%; top:-8%; width:864px; height:755px;}
.coexistence_img1_hp img{width:100%;}
.coexistence_img2_hp{position:absolute; top:45%; right:165px; width:1740px; height:237px;}
.coexistence_img2_hp img{width:100%;}
.coexistence_block_in_hp{}
.coexistence_middle_hp{}
.coexistence_top_hp{display:flex; align-items:center; justify-content:space-between;}
.coexistence_left_hp{font-size:100px; line-height:133px; color:#202020; font-weight:400; width:873px; font-family: kokuryu, sans-serif; padding-right:373px;}
.coexistence_right_hp{width:calc(100% - 873px);}
.coexistence_right_info_hp{font-size:24px; line-height:60px; color:#202020; font-weight:700;}
.coexistence_right_info_hp span{color:#34A12C;}
.coexistence_right_btn_hp{padding-top:78px;}
.coexistence_right_btn_hp a{}
.coexistence_btn_hp{padding:15px 30px; font-size:20px; position:relative; line-height:27px; text-align:center; display:inline-block; min-width:264px; font-weight:700; 
color:#FFFFFF; background:#34A12C; border-radius:29px;}
.coexistence_btn_hp svg{max-width:100%; vertical-align:middle; position:absolute; right:30px; top:50%; transform:translate(0 , -50%);}
.coexistence_btn_hp:hover{opacity:0.8; color:#fff;}



.maintenance_block_hp{padding:100px 0 0 0;}
.maintenance_block_in_hp{padding:0;}
.maintenance_middle_hp{}
.maintenance_top_hp{display:flex; align-items:center; justify-content:center; padding:0 0 160px 0;}
.maintenance_left_hp{width:720px; padding:0 43px 0 70px; position:relative; z-index:1; display:flex;}
.maintenance_left_in_hp{width:48px;  }
.maintenance_left_title_hp{font-size:20px; line-height:30px; color:#006FB4; font-weight:700; font-family: 'Poppins', sans-serif; padding-right:20px; transform: rotate(90deg);
 margin:40px 0 0 -27px; text-transform: uppercase; white-space: nowrap;}
.maintenance_left_title_hp span{color:#EE782E;}
.maintenance_left_info_hp{width:calc(100% - 48px);}
.maintenance_info_hp{}
.maintenance_info_hp h2{font-size:60px; line-height:80px; color:#202020; font-weight:700;}
.maintenance_info_hp p{font-size:20px; line-height:40px; color:#202020; font-weight:700; padding-top:30px;}
.maintenance_btn_hp{padding-top:42px;}
.maintenance_right_hp{width:calc(100% - 720px); position:relative; z-index:1;}
.maintenance_img_hp{}
.maintenance_img_hp img{width:100%; border-radius:400px 0 0 400px; box-shadow: 0px 3px 20px rgba(238,120,46,0.16);}
.maintenance_reverse_hp{flex-direction: row-reverse;}
.maintenance_reverse_hp .maintenance_left_hp{padding-right:20px; padding-left:144px;}
.maintenance_reverse_hp .maintenance_img_hp img{border-radius:0 400px 400px 0px;}
.maintenance_change_hp:after{content:''; position:absolute; right:28%; top:345px; width:864px; height:755px; background:url(../images/absolute_img_1.svg) no-repeat top center;}
.maintenance_btn_bg_hp{background:#EE782E;}
.maintenance_btn_bg2_hp {background:#006FB4;}
.maintenance_left_info_hp .coexistence_right_btn_hp{ padding-top:40px; }


.recruit_block_hp{}
.recruit_block_in_hp{}
.recruit_middle_hp{display:flex; align-items:center; justify-content:end; padding:116px 100px 60px 50px; border-radius:20px; border:1px solid #FDF0E8; box-shadow: 0px 3px 20px rgba(238,120,46,0.16);}
.recruit_box_hp{max-width:402px;}
.recruit_box_info_hp{}
.recruit_box_info_hp h3{font-size:60px; line-height:84px; color:#202020; font-weight:500; font-family: 'Poppins', sans-serif; padding-bottom:11px; text-transform:uppercase; }
.recruit_box_info_hp h4{font-size:20px; line-height:27px; color:#202020; font-weight:700; padding-bottom:41px;}
.recruit_box_info_hp p{font-size:20px; line-height:33px; color:#202020; font-weight:700; padding-bottom:42px;}
.recruit_box_btn_hp{padding-bottom:40px; padding-top:0;}
.recruit_box_btn_hp:last-child{padding-bottom:0;}
.recruit_box_btn_bg1_hp{background:#006FB4; min-width:376px; }
.recruit_box_btn_bg2_hp{background:#EE782E; min-width:376px; }


.contact_block_hp{margin:120px 0 -139px 0;}
.contact_block_in_hp{}
.contact_middle_hp{}
.contact_box_hp{display:flex; align-items:center; justify-content:space-between; background:#FFF; border-radius:20px; border:1px solid #FDF0E8; padding:65px 80px; box-shadow: 0px 3px 20px rgba(52,161,44,0.16);}

.contact_box_hp .recruit_box_info_hp h4{ padding-bottom:0; }

/*--------------- CONTAIN_END --------------*/

/*--------------- FOOTER_START --------------*/
.back-to-top{position:fixed; right:0px; bottom:0px; z-index:99; display:none;}
.back-to-top a{display:flex; width:120px; height:120px; border-radius:0px; justify-content:center;}
.back-to-top img{width:100%;}

#footer{margin:0 0 0 0;  background:#F4FAF4;}

.footer_bottom_hp{max-width:1400px; margin:auto;}
.footer-in-hp{}
.footer-middle-hp{padding:239px 10px 30px 10px;}
.footer_box_hp{display:flex; justify-content:space-between; align-items:center;}
.footer-logo-hp{}
.footer-logo-hp img{max-width:350px; width:100%;}
.footer-links-hp{padding:0px;}
.footer-links-hp ul{margin:0; padding:0; display:flex; justify-content:center;}
.footer-links-hp ul li{font-size:18px; line-height:24px; font-weight:700; padding-right:30px;}
.footer-links-hp ul li:last-child{padding-right:0;}
.footer-links-hp ul li a{color:#202020;}
.footer-links-hp ul li a:hover{color:#707070;}
.footer_copyright_hp{padding-top:96px; text-align:center; font-size:16px; line-height:21px; font-weight:700; color:#202020;}
/*--------------- FOOTER_END --------------*/



/*--------------- 01-Nursig-top_START --------------*/
#contain{ margin:0 0 0 0; padding:0px; }

.nursing_block_np{padding-top:40px; position:relative; z-index:2;}
.nursing_block_in_np{}
.nursing_middle_np{max-width:1200px; margin:auto;}
.nursing_link_np{padding:0 0 0 0; box-shadow: 0px 3px 20px rgba(238,120,46,0.16); border-radius:10px; }
.nursing_link_np ul{display:flex;}
.nursing_link_np ul li{font-size:18px; line-height:24px; font-weight:700; color:#202020; border-right:1px solid #EEEEEE; background:#fff; width:calc(25% - 0px); text-align:center; }
.nursing_link_np ul li:last-child{border-right:none; border-radius:0 10px 10px 0;}
.nursing_link_np ul li:first-child{border-radius:10px 0 0 10px;}
.nursing_link_np ul li a{color:#202020; display:block; padding:34px 10px 32px 10px;}
.nursing_link_np ul li .active{background:#EE782E; color:#fff;}



.banner_block_np{position:relative; margin-top:-40px;}
.banner_block_np:after{position:absolute; content:''; width:270px; height:270px; left:180px; bottom:125px; border:6px solid #FDF0E8; border-radius:100%;}
.banner_block_in_np{padding:0;}
.banner_middle_np{}
.banner_top_np{display:flex; align-items:center;}
.banner_left_np{width:323px; z-index:1; text-align:center;}
.banner_row_np{display:inline-block; padding:0 10px;}
.banner_title_np{font-size:50px; line-height:60px; font-weight:700; color:#202020; writing-mode:vertical-rl; text-orientation:upright; border-left:2px dotted #707070; padding:0 21px 0 22px; display:inline-block; vertical-align: top;}
.banner_title_np:last-child{padding-right:0;}
.banner_title_np span{color:#EE782E;}
.banner_circle_np{margin:47px 0 0 40px; position:relative; background:#EE782E; border-radius:100%; width:267px; height:267px;}
.banner_border_np{border:2px dotted #FDFCFA; margin:0 5px 0 5px; width:calc(100% - 10px); height:calc(100% - 10px); border-radius:100%; top:5px; position:relative;}
.banner_img1_np{position:absolute; left:94px; top:29px;}
.banner_img1_np img{width:100%;}
.banner_sub_title_np{position:absolute; font-size:25px; line-height:33px; font-weight:700; color:#fff; left:27px; top:81px; border-bottom:4px dotted #fff; padding-bottom:12px;}
.banner_info_np{position:absolute; font-size:27px; line-height:36px; font-weight:700; color:#FFFFFF; text-align:center; left:23px; top:155px;}
.banner_right_np{width:calc(100% - 323px); padding-left:0; display:flex; z-index:1;}
.banner_box_np{width:100%; }
.banner_img_np{height:817px; width:100%; border-radius:10px; background-size: cover !important; }
.banner_hover_np{height:100%; width:100%; background:rgba(0,0,0,0.32); border-radius:10px; font-size:40px; line-height:48px; font-weight:700; color:#fff; writing-mode:vertical-rl; text-orientation:upright; padding:15px; opacity: 0; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; -ms-transition: all 0.3s linear; transition: all 0.3s linear;}
.banner_hover_np span{display:flex; align-items:center; justify-content:center; width:100%;}
.banner_box_np:hover .banner_hover_np{ opacity: 1; }


.open_block_np{padding:201px 0 0 0; position:relative;     overflow: hidden; }
.open_green_leaves1_np{position:absolute; left:-57px; top:-70px;}
.open_green_leaves1_np img{width:100%;}
.open_green_leaves2_np{position:absolute; right:-45px; top:-48px;}
.open_green_leaves2_np img{width:100%;}
.open_block_in_np{}
.open_middle_np{border:4px solid #EE782E; border-radius:20px; padding:36px 40px 40px 40px;}
.open_top_np{display:flex;}
.open_left_np{width:calc(100% - 695px); padding-right:52px;}
.open_logo_np{padding:0 0 0 250px;}
.open_logo_np img{width:606px;}
.open_title_np{margin:25px 0 0 100px; background:url(../images/open_orange_rec.svg) no-repeat top center; background-size:100%; font-size:55px; line-height:82px; font-weight:700; color:#fff; text-align:center; width:900px; height:131px; padding-top:12px;}
.open_right_np{width:695px;}
.open_img_np{text-align:center;}
.open_img_np img{max-width:460px; margin:auto;}
.open_row_np{display:flex;}
.open_info_np{font-size:24px; line-height:40px; font-weight:700; color:#202020; background:#FDF0E8; width:638px; border-radius:33px; padding:31px 75px 30px 27px;}
.open_info_np span{color:#EE782E;}
.open_green_circle_np{position:absolute; background:#34A12C; width:183px; height:183px; border-radius:100%; right:50px; top:435px;}
.open_border_np{border:2px dotted #FDFCFA; margin:0 5px 0 5px; width:calc(100% - 10px); height:calc(100% - 10px); border-radius:100%; top:5px; position:relative;}
.open_subtitle_np{font-size:27px; line-height:41px; font-weight:700; color:#fff; padding-top:43px; text-align:center;}
.open_bottom_np{display:flex; padding-top:56px;}
.open_bottom_left_np{width:868px; margin-top: -240px; }
.open_img1_np img{width:100%; border-radius:10px;}
.open_img_title_np{font-size:20px; line-height:30px; font-weight:700; color:#202020; padding-top:21px;}
.open_right_bottom_np{width:calc(100% - 868px); padding-left:13px;}
.open_grid_np{display:flex; padding-top:75px; margin-top:-40px; margin-right: -13px;}
.open_box_np{margin-right:13px;}
.open_img2_np{}
.open_img2_np img{width:100%; border-radius:10px;}
.open_img_name_np{font-size:14px; line-height:21px; font-weight:700; color:#202020; padding-top:25px;}
.open_map_img_np{padding-top:22px;}
.open_map_img_np iframe{width:100%; border-radius:20px; display:flex; }

.slick-prev, .slick-prev:hover, .slick-prev:focus{ background:url(../images/left_arrow.svg) no-repeat center center; width: 56px; height: 56px; left: 0; top: 5px; transform: none; }
.slick-prev:before{ display:none; }
.slick-next, .slick-next:hover, .slick-next:focus{ background:url(../images/right_arrow.svg) no-repeat center center; width: 56px; height: 56px; left: 69px; top: 5px; transform: none; right: auto;}
.slick-next:before{ display:none; }



.service_block_np{padding:104px 0 0 0;}
.service_block_in_np{padding:0;}
.service_middle_np{}
.service_top_np{padding-top:40px;}
.service_box_np{margin-bottom:60px; display:flex;}
.service_box_np:last-child{margin-bottom:0;}
.service_left_np{width:727px; padding-left:160px; padding-right:20px; }
.service_org_box_np{font-size:40px; line-height:48px; font-weight:700; color:#FFFFFF; padding:11px 25px; background:#EE782E; min-width:200px; display:inline-block; text-align:center;}
.service_logo_np{padding-top:40px; max-width:567px;}
.service_logo_np img{max-width:100%;}
.service_info_np{font-size:20px; line-height:40px; font-weight:700; color:#202020; padding-top:40px; position:relative;}
.service_digit_np{font-size:249px; line-height:252px; font-weight:700; color:rgba(238,120,46,0.10); font-family:'Poppins',sans-serif; position:absolute; left:70px; bottom:-30px;}
.service_pd_np{bottom:-65px;}
.service_btn_np{padding-top:42px;}
.service_right_img_np{width:calc(100% - 727px);}
.service_right_img_np img{width:100%; border-radius:300px 0 0 306px;}

.service_reverse_np{flex-direction:row-reverse;}
.service_reverse_np .service_left_np{padding:0 20px 0 109px;}
.service_reverse_np .service_right_img_np img{border-radius:0 300px 300px 0;}

.green_change_np .service_org_box_np{background:#34A12C;}
.green_change_np .service_left_np{padding:0 30px 0 123px;}


.welfare_block_np{padding-top:120px;}
.welfare_block_in_np{}
.welfare_middle_np{}
.welfare_top_np{display:flex;}
.welfare_box_np{width:calc(33.33% - 83px); margin-right:125px;}
.welfare_box_np:last-child{margin-right:0;}
.welfare_img_np{}
.welfare_img_np img{width:100%;}
.welfare_btn_np{margin-top:-32px;}
.welfare_btn_np a{font-size:30px; line-height:34px; color:#202020 !important; font-weight:700; border-radius:0 10px 0 0; padding:13px 98px 17px 0; display:inline-block; position:relative; background:#fff;}
.welfare_btn_np img{width:13px; height:auto;}
.welfare_btn_arrow_np{vertical-align:middle; position:absolute; right:24px; top:50%; transform:translate(0 , -50%); background:#EE782E; border-radius:100%; width:34px; height:34px; display:flex; justify-content:center;    align-items:center;}



.home_block_np{padding-top:120px;}
.home_block_in_np{padding:0;}
.home_middle_np{}
.home_img_np{padding-right:160px;}
.home_img_np img{width:100%; border-radius:0 250px 250px 0;}
.home_top_np{display:flex; max-width:1400px; margin:auto; margin-top:-148px;}
.home_box_np{background:#FFFFFF; border-radius:20px; display:flex; width:calc(50% - 11px); margin-right:23px; padding:50px 50px 29px 50px; box-shadow:0 3px 10px rgba(0,0,0,0.1); align-items:center; }  
.home_box_np:last-child{margin-right:0;}
.home_logo_np{width:253px; text-align:center;}
.home_logo_np img{max-width:100%;}
.home_right_np{width:calc(100% - 253px); padding-left:62px;}
.home_info_np{font-size:16px; line-height:30px; color:#202020; font-weight:700; min-height:111px;}
.home_btn_np{padding-top:38px;}
.home_btn_np a{min-width:242px; padding:14px 0;}


.news_block_np{padding:131px 0 120px 0; position:relative; overflow:hidden; }
.news_block_np:after{position:absolute; content:''; width:270px; height:270px; right:-130px; bottom:-230px; border:6px solid #FDF0E8; border-radius:100%;}
.news_leaves_np{position:absolute; bottom:56px; left:42px;}
.news_tringle_np{position:absolute; bottom:255px; left:35px;}
.news_block_in_np{}
.news_middle_np{}
.news_box_np{display:flex; align-items:center;}
.news_left_np{width:330px; margin-left:200px; margin-right: 60px; }
.news_btn_np{padding-top:39px; text-align:center;}
.news_right_np{width:calc(100% - 330px); background:#FDF0E8; border-radius:200px 0 0 200px; padding:59px 0 59px 58px; position:relative;}
.news_right_np:after{position:absolute; content:''; width:1000%; height:100%; right:-1000%; background:#FDF0E8; top:0px;}
.news_row_np{max-width:793px; margin:0 0 0 auto; border-bottom:1px solid rgba(32,32,32,0.20);}
.news_row_np:first-child{border-top:1px solid rgba(32,32,32,0.20);}
.news_right_np a{display:flex; padding:31px 0;}
.news_date_np{font-size:19px; line-height:27px; color:rgba(32,32,32,0.50); font-weight:700; width:150px;}
.news_info_np{font-size:20px; line-height:27px; color:#202020; font-weight:700; width:calc(100% - 141px); padding-left:65px;}



.care_block_np{background:#EE782E; border-radius:0 80px 0 0; padding:74px 0 63px 0; position:relative; z-index:1;}
.care_block_in_np{}
.care_middle_np{}
.care_top_np{display:flex;}
.care_box_np{width:calc(33.33% - 103px); margin-right:155px;}
.care_box_np:last-child{margin-right:0;}
.care_info_np{}
.care_info_np h6{font-size:16px; line-height:25px; color:#fff; font-weight:500; font-family:'Poppins', sans-serif;}
.care_info_np h3{font-size:36px; line-height:48px; color:#fff; font-weight:700; padding-top:15px;}
.care_info_np p{font-size:16px; line-height:30px; color:#fff; font-weight:700; padding-top:20px;}
.care_btn_np{padding-top:50px;}
.care_btn_np a{background:#fff;}



/*---------------01-Nursig-top_END --------------*/

/*--------------- FOOTER_START --------------*/

#footer{margin:0; padding:0;}

.footer_block_np{background:#FDF0E8; padding:50px 0 55px 0;}
.footer_in_np{}
.footer_middle_np{}
.footer_top_np{}
.footer_box_np{display:flex;}
.footer_left_np{width:350px;}
.footer_logo_np{}
.footer_logo_np img{max-width:100%;}
.footer_info_np{}
.footer_info_np h3{font-size:20px; line-height:48px; color:#202020; font-weight:700; padding-top:27px;}
.footer_info_np p{font-size:14px; line-height:20px; color:#202020; padding-top:10px;}
.footer_right_np{width:calc(100% - 350px); padding-left:280px; padding-top:30px; }
.footer_links_np{display:flex; justify-content: space-between; }
.footer_links_np ul{padding-right:20px;}
.footer_links_np ul:last-child{padding-right:0;}
.footer_links_np ul li{font-size:14px; line-height:20px; color:#202020; font-weight:700; padding-bottom:10px;}
.footer_links_np ul li a{color:#202020;}
.footer_copyright_np{font-size:16px; line-height:30px; color:#202020; font-weight:700; padding-top:49px;}

/*--------------- FOOTER_END --------------*/


/*--------------- 02-nursing_care_business_start --------------*/

.breadcrumb_block_sp{padding:40px 0;}
.breadcrumb_block_in_sp{padding:0;}
.breadcrumb_middle_sp{}
.breadcrumb{background:none; border-radius:0; margin:0px; font-size:12px; line-height:30px; font-weight:400; padding:0px 0 0 0px; color:#999999; display:flex; justify-content:end;}
.breadcrumb a{color:#999999; text-decoration:none; font-weight:500; text-align:right;}
.breadcrumb-item+.breadcrumb-item::before{content:''; color:#000000; padding-right:22px; background:url(../images/breadcrumb_arrow.svg) no-repeat center center;}
.breadcrumb-item+.breadcrumb-item{padding-left:7px; color:#000000;}
.breadcrumb a span{color:#202020;}

.banner_block_ncp{}
.banner_block_in_ncp{padding:0;}
.banner_middle_ncp{padding:60px 0 0 260px;}
.banner_img_ncp{}
.banner_img_ncp img{border-radius:200px 0 0 0; width:100%;}

.care_block_ncp{padding:131px 0 0px 0;}
.care_block_in_ncp{}
.care_middle_ncp{}
.care_top_ncp{}
.care_img_ncp{text-align:center;}
.care_img_ncp img{max-width:100%;}
.care_info_ncp{font-size:20px; line-height:35px; font-weight:700; color:#202020; text-align:center; padding-top:60px;}

.homecare_block_ncp{padding:120px 0 0 0;}
.homecare_block_in_ncp{}
.homecare_middle_ncp{}
.homecare_top_ncp{}

.orange_title_ncp h3{font-size:40px; line-height:48px; color:#EE782E; padding:0 90px;}
.orange_title_ncp h3:after{width:77px; height:62px; background-size:100%; top:-5px;}
.orange_title_ncp h3:before{width:77px; height:62px; background-size:100%; top:-5px;}

.homecare_boxes_ncp{padding-top:55px;}
.homecare_box_ncp{padding:40px; display:flex; background:#FDF0E8; border-radius:20px; margin-bottom:60px;}
.homecare_box_ncp:last-child{margin-bottom:0;}
.homecare_left_ncp{width:calc(100% - 420px);  padding-right:120px;}
.homecare_left_row_ncp{display:flex; align-items:center; justify-content:center;}
.homecare_left_num_row_ncp{width:95px; border-right:1px solid #CCCCCC; padding-right:20px; text-align: center;}
.homecare_left_num_ncp{font-size:60px; line-height:65px; font-weight:400; color:#EE782E; font-family:'Poppins',sans-serif;}
.homecare_left_name_ncp{font-size:14px; line-height:15px; font-weight:500; color:#EE782E; font-family:'Poppins',sans-serif; text-align:center;}
.homecare_left_title_ncp{font-size:36px; line-height:40px; font-weight:700; color:#202020; width:calc(100% - 85px); padding-left:20px;}
.homecare_left_info_ncp{}
.homecare_left_info_ncp p{font-size:20px; line-height:30px; font-weight:400; color:#202020; padding-top:32px;}
.homecare_right_ncp{width:420px;}
.homecare_right_img_ncp{}
.homecare_right_img_ncp img{width:100%; border-radius:20px;}


.home_block_ncp{padding-bottom:120px;}
.home_block_in_ncp{}
.home_middle_ncp{}
.home_top_ncp{padding-top:60px;}
.home_img_2_ncp{text-align:center;}
.home_img_2_ncp img{max-width:100%;}
.home_img_subinfo_ncp{font-size:20px; line-height:29px; font-weight:400; color:#202020; text-align:center; padding-top:20px;}
.home_row_main_ncp{padding-top:61px;}
.home_row_ncp{display:flex; border-bottom:1px solid #CCCCCC;}
.home_row_ncp:first-child{border-top:1px solid #CCCCCC;}
.home_row_left_ncp{font-size:20px; line-height:29px; font-weight:700; color:#202020; width:200px; padding:20px 10px;}
.home_row_right_ncp{font-size:20px; line-height:29px; font-weight:400; color:#202020; padding:20px 5px; width:calc(100% - 200px);}

/*--------------- 02-nursing_care_business_end --------------*/



/*---------------03-Fee_based_Nursin_Home_Business_start --------------*/


.paid_block_fp{}
.paid_block_in_fp{}
.paid_middle_fp{}
.paid_img_fp{padding-top:131px; text-align:center;}
.paid_img_fp img{max-width:100%;}
.paid_title_fp{background:url(../images/bg.png) no-repeat top center; background-size:100%; margin:70px 0 0px 0;}
.paid_title_fp h2{font-size:40px; line-height:60px; font-weight:700; color:#202020; text-align:center; padding:23px 60px 50px 60px;}
.paid_title_fp h2 span{color:#EE782E;}


.fee_block_fp{padding:90px 0 170px 0;}
.fee_block_in_fp{}
.fee_middle_fp{}
.fee_top_fp{padding-top:30px; display:flex;}
.fee_left_fp{width:580px; padding-right:65px;}
.fee_left_info_fp{font-size:20px; line-height:55px; font-weight:700; color:#202020;}
.fee_right_fp{width:calc(100% - 580px);}
.fee_right_img_fp{}
.fee_right_img_fp img{width:100%; border-radius:20px; height:500px;}
.fee_right_subinfo_fp{font-size:20px; line-height:30px; font-weight:400; color:#202020; text-align:right; padding-top:30px;}
.fee_boxes_fp{display:flex; flex-flow:wrap; padding-top:180px;}
.fee_box_fp{margin:0 13px 20px 0; width:calc(25% - 10px);}
.fee_box_fp a{}
.fee_box_fp:nth-child(4n){margin-right:0;}
.fee_img_fp{}
.fee_img_fp img{width:100%; border-radius:20px;}
.fee_info_fp{font-size:20px; line-height:30px; font-weight:400; color:#202020; padding-top:26px;}

/*--------------- 03-Fee_based_Nursin_Home_Business_end --------------*/




/*--------------- 04_Support_for_children_with_disabilities_start --------------*/


.support_block_sp{padding:100px 0 0 0;}
.support_block_in_sp{}
.support_middle_sp{}
.support_top_sp{}
.support_img_sp{padding:0px 0 116px 0; text-align:center;}
.support_img_sp img{max-width:100%;}
.green_title_sp h3{color:#34A12C;}
.support_boxes_sp{display:flex; padding-top:40px;}
.support_box_sp{width:50%; margin-right:36px; border:2px solid #34A12C; border-radius:20px; }
.support_box_sp:last-child{margin-right:0;}
.support_title_sp{font-size:36px; line-height:48px; font-weight:700; color:#34A12C; padding:30px 10px; background:#F4FAF4; border-radius:20px 20px 0 0; text-align:center;}
.support_info_sp{padding:0 29px 26px 20px;}
.support_info_sp h3{font-size:20px; line-height:30px; font-weight:700; color:#202020; padding-top:30px;}
.support_info_sp p{font-size:20px; line-height:30px; font-weight:400; color:#202020; padding-top:20px;}
.support_bottom_box_sp{border:2px solid #34A12C; max-width:800px; margin:auto; border-radius:20px; margin-top:67px;}
.support_bottom_row_sp{display:flex; align-items:center; border-bottom:1px solid #34A12C;}
.support_bottom_row_sp:first-child .support_bottom_left_sp{border-radius:20px 0 0 0;}
.support_bottom_row_sp:last-child .support_bottom_left_sp{border-radius:0px 0 0 20px;}
.support_bottom_row_sp:last-child{border-bottom:none;}
.support_bottom_left_sp{padding:18px 20px 20px 20px; font-size:20px; line-height:30px; font-weight:700; color:#34A12C; width:174px; background:#F4FAF4;}
.support_bottom_right_sp{padding:18px 35px 20px 35px; font-size:20px; line-height:30px; font-weight:400; color:#202020; width:calc(100% - 174px);}


.kids_block_sp{}
.kids_block_in_sp{}
.kids_middle_sp{}
.kids_top_sp{}
.kids_pd_sp{padding-top:60px;}
.kids_pd2_sp{padding-bottom:120px;}
.kids_grid_main_sp{display:flex; padding-top:120px;}
.kids_grid_sp{width:50%; padding-right:144px;}
.kids_grid_img_sp{text-align:center;}
.kids_grid_img_sp img{max-width:100%;}
.kids_grid_info_sp{padding-top:30px; font-size:20px; line-height:29px; font-weight:700; color:#202020; text-align:center;}
.kids_grid_box_sp{width:50%; padding-top:0;}

/*--------------- 04_Support_for_children_with_disabilities_end --------------*/



/*--------------- 06_Temporary_daytime_support_start --------------*/


.temporary_block_tp{}
.temporary_block_in_tp{}
.temporary_middle_tp{}
.temporary_top_tp{}
.temporary_info_tp{font-size:20px; line-height:30px; font-weight:400; color:#202020; padding-top:100px;}
.temporary_title_tp{padding:19px 61px 28px 48px; background:#FDF0E8; border-radius:20px; margin-top:60px;}
.temporary_title_tp h2{font-size:30px; line-height:30px; font-weight:700; color:#202020; text-align:center;}
.temporary_title_tp p{font-size:20px; line-height:30px; font-weight:400; color:#202020; padding-top:17px;}


.business_change_tp{padding:98px 0 117px 0;}
.business_change_tp .home_row_main_ncp{width:700px;}
.business_change_tp .kids_grid_sp{width:500px; padding-right:83px;}
.business_change_tp .home_row_left_ncp{width:161px;}
.business_change_tp .home_row_right_ncp{width:calc(100% - 161px);}


.service_block_tp{padding-top:78px;}
.service_block_in_tp{}
.service_middle_tp{}
.service_pd_tp{padding-top:48px;}


.business_block_tp{padding-top:120px;}
.business_block_in_tp{}
.business_middle_tp{}
.business_box_tp{border:2px solid #EE782E; border-radius:20px; max-width:430px; margin:auto;}
.business_row_tp{display:flex; border-bottom:1px solid #EE782E;}
.business_row_tp:last-child{border-bottom:none;}
.business_left_tp{width:175px; padding:20px 41px 20px 41px; background:#FDF0E8; font-size:20px; line-height:30px; font-weight:700; color:#EE782E;}
.business_right_tp{width:calc(100% - 175px); padding:20px 28px 20px 28px; font-size:20px; line-height:30px; font-weight:400; color:#202020;}
.business_row_tp:first-child .business_left_tp{border-radius:20px 0 0 0;}
.business_row_tp:last-child .business_left_tp{border-radius:0px 0 0 20px;}

/*--------------- 06_Temporary_daytime_support_end --------------*/



/*--------------- 07_Group_company_start --------------*/

.group_block_gp{padding:120px 0 0 0;}
.group_block_in_gp{}
.group_middle_gp{}
.group_img_gp{padding-top:25px;}
.group_img_gp img{width:100%; border-radius:20px;}
.group_info_gp{}
.group_info_gp h3{font-size:30px; line-height:30px; font-weight:700; color:#202020; padding-top:20px;}
.group_info_gp p{font-size:20px; line-height:30px; font-weight:400; color:#202020; padding-top:20px;}


.party_block_gp{padding-bottom:120px;}
.party_block_in_gp{}
.party_middle_gp{}
.party_change_gp .fee_boxes_fp{padding-top:60px;}
.party_change_gp .fee_box_fp{width:calc(20% - 16px); margin: 0 20px 0px 0;}
.party_change_gp .fee_box_fp:last-child{margin-right:0;}
.party_change_gp .fee_info_fp{padding-top:16px;}

/*--------------- 07_Group_company_end --------------*/


/*--------------- 08-Company_ProfileCorporate_Philosophy_start --------------*/

.corporate_block_cop{padding:120px 0 0 0;}
.corporate_block_in_cop{}
.corporate_middle_cop{}
.corporate_info_cop{text-align:center;}
.corporate_info_cop h2{font-size:71px; line-height:71px; color:#202020; font-weight:400; font-family: kokuryu, sans-serif; padding-top:72px;}
.corporate_info_cop p{font-size:20px; line-height:52px; color:#202020; font-weight:400; padding-top:76px;}
.corporate_img_cop{text-align:center; padding-top:73px;}
.corporate_img_cop img{max-width:100%;}


.company_block_cop{padding:64px 0 0 0;}
.company_block_in_cop{}
.company_middle_cop{}
.company_pd_cop{padding-top:41px;}
.home_row_right_ncp p{font-size: 20px; line-height: 29px; font-weight: 400; color: #202020; padding-bottom:30px;}
.home_row_right_ncp p:last-child{padding-bottom:0;}

.history_block_cop{padding:120px 0 0 0;}
.history_block_in_cop{}
.history_middle_cop{ position: relative; padding: 0 0 0 37px; }
.history_row_cop{margin-top:35px; position:relative;}
.history_row_box_cop{display:flex; padding-bottom:92px;}
.history_row_box_cop:last-child{padding-bottom:0;}
.history_row_cop:after{content: ''; width: 1px; height:calc(100% - 38px); background:#CCCCCC; position: absolute; top: 20px; left: -31px;}
.history_left_cop{font-size:30px; line-height:44px; color:#202020; font-weight:700; width:167px; position:relative; z-index:1;}
.history_left_cop:before{content:''; width:14px; height:14px; background:url(../images/orange_circle.svg) no-repeat top center; position:absolute; top:18px; left:-37px;}
.history_right_cop{width:calc(100% - 167px); padding-left:73px; font-size:20px; line-height:30px; color:#202020; font-weight:400;}


.map_block_cop{padding:165px 0 120px 0;}
.map_block_in_cop{}
.map_middle_cop{}
.map_img_cop{padding-top:30px;}
.map_img_cop img{width:100%;}


/*--------------- 08-Company_ProfileCorporate_Philosophy_end --------------*/


/*--------------- 09-Children Staff Recruitment Inquiries_START --------------*/


.child_block_cp{padding:10px 0 0 0;}
.child_block_in_cp{}
.child_middle_cp{}
.child_btn_cp{padding-left:70px;}
.child_btn_cp a{font-size:20px; line-height:29px; color:#FFFFFF; font-weight:700; background:#006FB4; border-radius:29px; padding:14px 21px 13px 21px; text-align:right; display:inline-block; position:relative;}
.child_btn_cp a img{max-width:100%; vertical-align:middle; margin:0 0 7px 20px;}


.recruitment_block_cp{padding:128px 0 120px 0;}
.recruitment_block_in_cp{}
.recruitment_middle_cp{max-width:900px; margin:auto; background:#FDF0E8; border-radius:20px; padding:30px 50px 29px 51px;}
.recruitment_title_cp{font-size:40px; line-height:48px; color:#202020; font-weight:700; text-align:center;}

.contact-form-cop{}
.form-field-cop{width:100%; margin:auto; padding:40px 0 0 0; display:flex;}
.form-field-lable-cop{width:200px; font-size:20px; color:#303030; line-height:30px; padding-right:5px; font-weight:400;}
.form-field-lable-cop span{color:#D61313; background:none; font-weight:400; font-size:20px;}
.recruitment_title_width_cp{width:100%;}
.recruitment_width_cp{max-width:367px;}
.form-field-input-cop{width:calc(100% - 200px); padding:0; }
.form-field-input-cop input{height:40px; width:100%; background:#FFFFFF; border:1px solid #CCCCCC; border-radius:3px; color:#999999; padding:6px 9px; font-size:20px; line-height:30px;}
.form-field-input-cop input::-webkit-input-placeholder {  color: #999999;}
.form-field-input-cop input::-moz-placeholder { color: #999999;}
.form-field-input-cop input:-ms-input-placeholder { color: #999999;}
.form-field-input-cop input:-moz-placeholder { color: #999999;}
.form-field-input-cop textarea{ height:264px; width:100%; background:#FFFFFF; border:1px solid #CCCCCC; border-radius:3px; color:#999999; padding:10px; font-size:20px; line-height:30px; outline:none;}
.form-field-input-cop textarea::-webkit-input-placeholder {  color: #999999;}
.form-field-input-cop textarea::-moz-placeholder { color: #999999;}
.form-field-input-cop textarea:-ms-input-placeholder { color: #999999;}
.form-field-input-cop textarea:-moz-placeholder { color: #999999;}
.form-field-input-cop select{height:40px; width:100%; background:url(../images/form_drop_down_arrow.svg) no-repeat right 10px center; border:1px solid #CCCCCC; border-radius:3px; color:#999999; padding:6px 9px; font-size:20px; line-height:30px;}
.form-field-input-2-cop{}
.form_field_name_main_dp{display:flex; align-items:center; padding-right:29px;}
.form_field_name_dp{font-size:14px; color:#303030; line-height:17px; padding:0 5px 0 0; font-weight:400; width:40px;}
.form_field_name_pd_dp{padding-left:0;}
.form_field_input_width_dp{width:199px;}
.form_field_age_main_dp{display:flex; align-items:center;}
.form_field_age_width_dp{width:62px;}
.form_field_age_dp{font-size:14px; color:#303030; line-height:17px; font-weight:400; padding-left:16px;}
.form_field_width_dp{width:200px;}
.form_field_postal_in_dp{}
.form_field_postal_main_dp{display:flex; align-items:center;}
.form_field_postal_width_dp{width:102px;}
.form_field_postal_minus_dp{width:32px; display:flex; align-items:center; justify-content:center; font-size:14px; color:#333333; line-height:17px; font-weight:400;}
.form_field_postal_info_dp{font-size:12px; color:#999999; line-height:20px; font-weight:400; padding-left:13px; width:calc(100% - 236px);}
.form_field_postal_bottom_dp{display:flex; align-items:center; padding-top:32px;}
.form_field_postal_svg_dp{}
.form_field_postal_svg_dp img{width:100%;}
.form_field_postal_bottom_info_dp{font-size:14px; color:#999999; line-height:17px; font-weight:400; padding-left:8px;}
.form_field_add_dp{}
.form_field_add_pd_dp select{color:#999999;}
.form_field_add_row_dp{display:flex; align-items:center; padding:17px 0;}
.form_field_add_row_in_dp{font-size:14px; color:#333333; line-height:17px; font-weight:400; width:80px;}
.form_field_add_width_dp{width:199px;}
.form_field_add_info_dp{padding-top:17px; font-size:14px; color:#333333; line-height:17px; font-weight:400;}
.form_field_add_width_2_dp{width:260px; padding-top:11px;}
.form_field_add_bottom_info_dp{padding-top:17px; font-size:14px; color:#999999; line-height:17px; font-weight:400;}
.form_field_data_pd_dp{padding-bottom:25px;}
.form_field_data_pd2_dp{padding-top:20px;}


.form-field-radio-row-cop{ display: flex; flex-wrap: wrap; }
.form-field-radio-row-cop .form-radio-cp{ padding:0 40px 0 0; }
.form-field-radio-row-2-cop .form-radio-cp{ padding:10px 40px 10px 0; }
.post-code-cop{}
.post-code-cop .form-field-input-cop input{ max-width:160px; }
.email-details-cop{ font-size:12px; line-height:24px; color:#565656; padding-top:18px; }
.field-top-cop .form-field-lable-cop{ align-self:center; padding-top: 15px; }
.form-list-cop{ display:flex; align-items:center; padding-bottom:0px; }
.form-list-title-cop{ font-size:16px; line-height:24px; color:#565656; padding-right:20px;  }
.form-list-select-cop{ width:367px; padding-right:0px;  background:#fff;}
.form-list-input-cop{ width:100px; padding-right:8px;}
.form-list-last-cop{ padding-bottom:0; }

.form-field-radio-cp{ padding-left:0; margin-right:56px; }
.form-field-radio-cp:last-child{ margin-right:0; }
.radio-container-cp { display: inline-block; position: relative; padding-left: 26px; margin-bottom: 0px; margin-left:0px; cursor: pointer;  -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;  user-select: none; font-size:20px; line-height:30px; font-weight: 400; color: #303030; background: none; }
.radio-container-cp a{ text-decoration:underline; color:#707070; }
.radio-container-cp input {position: absolute; opacity: 1; cursor: pointer; width:14px; height:14px; left:0px; top: 5px; background:#fff;}
.radio-container-cp:hover input ~ .checkmark-cp {  }
.radio-container-cp input:checked ~ .checkmark-cp{}
.checkmark-cp:after { content: "";  position: absolute; display: none;}
.radio-container-cp input:checked ~ .checkmark-cp:after { display: block; }
.checkmark-cp { position: absolute; top: 0px; left: 0; height:14px; width:14px; border:1px solid #CCCCCC; background:#fff; border-radius:2px;}
.radio-container-cp .checkmark-cp:after { top: 4px; left: 4px; }
.checkmark-cp{ width:19px; height:19px; }
.radio-container-cp .checkmark-cp:after{ background:#333333; width:9px; height:9px; border-radius:100%; }
.form-radio-top-cp{display:flex;}
.form-radio-cp{ padding:0px 0px 20px 0; }
.form-radio-cp:last-child{padding-bottom:0;}
.form-radio-label-cp{ margin-bottom:0; width:210px; font-weight: 700; font-size: 16px; line-height: 19px; color: #303030; padding-bottom: 0;}
.form-field-radio-main-cp{padding-top:0px;}
.form-field-radio-main-cp .radio-container-cp{ font-size:16px; line-height:27px; font-weight:400; color:#303030; padding:0;  background:none; margin:0 0px 0 26px;}
.form-field-radio-main-cp .radio-container-cp .checkmark-cp{border-radius:2px; width:14px; height:14px; background:#fff; border-color:#CCCCCC; top:7px; left:-23px;}
.form-field-radio-main-cp .radio-container-cp .checkmark-cp:after{ background:url(../images/check.svg) no-repeat center center; width:12px; height:12px; left:0px; top:0px; background-size:auto;}
.form-field-label-top-cp{ vertical-align:top; padding-top:10px; }
.form_field_top_cp{ align-items: flex-start; } 
.form_field_top_cp .form_field_lable_cp{ padding-top:5px; }
.radio-container-cp input {position: absolute; opacity: 1; cursor: pointer; width:14px; height:14px; left:0px; top: 5px; background:#fff; display:none;}
.form-field-radio-main-alone-cp{ padding-top:40px; }
.contact-btn-cop{ text-align:center; }
.contact-btn-cop a{ min-width:380px; }
.form-field-info-cop{ padding:30px 0 0 0; }
.form-field-title-cop{ font-size:16px; line-height:24px; color:#323232; padding-bottom:18px; font-weight:700; }
.form-field-details-cop{ height:140px; overflow:hidden; background:rgba(227,232,238,0.4);  }
.form-field-details-in-cop{ height:100%; overflow-y:scroll; padding:30px 25px 25px 60px; }
.form-field-details-in-cop h3{ font-size:16px; line-height:24px; color:#988969; padding-bottom:15px; }
.form-field-details-in-cop p{ font-size:14px; line-height:26px; color:#565656; padding-bottom:30px; }
.form-field-details-in-cop p span{font-weight:700;}


.recruitment_btn_cp{padding-top:40px; text-align:center;}
.recruitment_btn_cp button{font-size:20px; line-height:29px; color:#FFFFFF; font-weight:700; background:#EE782E; border:2px solid #EE782E; border-radius:29px; min-width:264px; display:inline-block; padding:14px;}


/*--------------- 09-Children Staff Recruitment Inquiries_end --------------*/



/*------------------- 10-Nursing Care Staff Recruitment_start -----------------*/

.change_pd_cp{padding:30px 70px 25px 70px;}

/*------------------- 10-Nursing Care Staff Recruitment_end -----------------*/


/*------------------- 11- Contact us_start -----------------*/


.phone_block_ctp{padding:128px 0 0 0;}
.phone_block_in_ctp{}
.phone_middle_ctp{max-width:900px; margin:auto; background:#FDF0E8; border-radius:20px; padding:31px 102px 51px 51px;}
.phone_title_ctp{font-size:40px; line-height:48px; color:#202020; font-weight:700; text-align:center;}
.phone_top_ctp{display:flex; align-items:center; padding-top:52px;}
.phone_left_ctp{width:50%;}
.phone_row_ctp{display:flex; align-items:center;}
.phone_img_ctp{width:33px;}
.phone_img_ctp img{width:100%;}
.phone_info_ctp{font-size:40px; line-height:42px; color:#202020; font-weight:500; font-family:'Poppins', sans-serif; width:calc(100% - 33px); padding-left:20px;}
.phone_right_ctp{width:50%;}
.phone_box_ctp{display:flex; align-items:center; padding-left:95px;}
.phone_img2_ctp{width:21px;}
.phone_img2_ctp img{width:100%;}
.phone_subinfo_ctp{font-size:30px; line-height:32px; color:#202020; font-weight:700; width:calc(100% - 21px); padding-left:20px;}


/*------------------- 11- Contact us_end -----------------*/


/*------------------- 12-Notice_start -----------------*/


.notice_block_ntp{padding:108px 0 120px 0;}
.notice_block_in_ntp{}
.notice_middle_ntp{}
.notice_top_ntp{}
.notice_box_ntp{border-bottom:1px solid rgba(32,32,32,0.20); }
.notice_box_ntp a{display:flex; padding:30px 0; }
.notice_box_ntp:first-child{border-top:1px solid rgba(32,32,32,0.20);}
.notice_date_ntp{font-size:20px; line-height:30px; color:#EE782E; font-weight:700; width:205px;}
.notice_info_ntp{font-size:20px; line-height:30px; color:#202020; font-weight:700; width:calc(100% - 205px);}


.notice_pagination_ntp{padding-top:60px;}
.notice_pagination_ntp .pagination {justify-content: center;}
.notice_pagination_ntp .page-link {background:#FFFFFF; border:1px solid #F2F2F2; border-radius:2px; color:#202020; font-size:16px; line-height:30px; margin-right:3px; width:30px; height:30px; display:flex; align-items:center; justify-content:center;}
.notice_pagination_ntp .page-link:first-child img{width:6px; margin-right:0px; vertical-align:middle;}
.notice_pagination_ntp .page-item:first-child .page-link {border-radius:2px; width:30px; margin-right:4px;}
.notice_pagination_ntp .page-item.disabled .page-link {border:1px solid #CCCCCC; color:#333333;}
.notice_pagination_ntp .page-link:hover{ color:#333333; background:#26A9E0; border-color:inherit;}
.notice_pagination_ntp .page-item .page-link.active{background:#EE782E; color:#fff; border:1px solid #F2F2F2;}
.notice_pagination_ntp .page-dot{ font-size:16px; line-height:23px; color:#333333;}
.notice_pagination_ntp .page-item.disabled .page-link {background:#FFFFFF; color:#333333; width:30px;}
.notice_pagination_ntp .page-item:last-child .page-link{width:30px; background:#FFFFFF; border-radius:2px; margin-right:0; }
.notice_pagination_ntp .page-item:last-child .page-link img{vertical-align:middle; margin-left:0px; margin-right:0;}

/*------------------- 12-Notice_end -----------------*/

.pagination_wrap {
	display: flex;
	align-items: center;
    justify-content: center;
}
.wp-pagenavi {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 1px;
}

.wp-pagenavi a,
.wp-pagenavi span {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: #212529;
    border-color: #fff;
	font-size: 14px;
}
.wp-pagenavi a.previouspostslink {
	width: 32px;
}
.wp-pagenavi a.nextpostslink {
	width: 32px;
}
.wp-pagenavi span {
    color: #212529;
    background-color: #fff;
}

.wp-pagenavi a:hover {
    color: #212529 !important;
	background-color: #EE782E !important;
    border: none;
}

.wp-pagenavi span.current {
	background-color: #EE782E;
	color: #fff;
    border: none;
}