
@font-face {
    font-family: 'HiraMinProN-W3';
    src: url('../fonts/HiraMinProN-W3-AlphaNum.eot');
    src: url('../fonts/HiraMinProN-W3-AlphaNum.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HiraMinProN-W3-AlphaNum.woff2') format('woff2'),
        url('../fonts/HiraMinProN-W3-AlphaNum.woff') format('woff'),
        url('../fonts/HiraMinProN-W3-AlphaNum.ttf') format('truetype'),
        url('../fonts/HiraMinProN-W3-AlphaNum.svg#HiraMinProN-W3-AlphaNum') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

