body{margin:0px; padding:0px; font-family:'Noto Serif JP'; font-weight:400; overflow-x:hidden;}
h1,h2,h3,h4,h5,h6{margin:0px; padding:0px; font-weight:normal;}
p{margin:0px; padding:0px;}
a{text-decoration:none; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; -ms-transition: all 0.3s linear; transition: all 0.3s linear;} 
a:hover, a:focus, a:active{ outline:none; text-decoration:none; }
input{-webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; -ms-transition: all 0.3s linear; transition: all 0.3s linear;} 
input:hover, input:focus, input:active{outline:none;}
input::-webkit-input-placeholder{color:#333333;}
input::-moz-placeholder{color:#333333;}
input:-ms-input-placeholder{color:#333333;}
input:-moz-placeholder{color:#333333;}
textarea::-webkit-input-placeholder{color:#333333;}
textarea::-moz-placeholder{color:#333333;}
textarea:-ms-input-placeholder{color:#333333;}
textarea:-moz-placeholder{color:#333333;}
ul{margin:0px; padding:0px;}
ul li{list-style-type:none;}
img{border:0px;}
.clearfix{clear:both; overflow:hidden;}
.container{max-width:1130px; }
.container_inner{max-width:1030px; margin:auto;}
.wrapper{margin:0px auto;}

.common_btn_hp{ min-width:275px; font-weight: 400; display:inline-block; font-size: 15px; line-height: 22px; text-align: center; color: #0055AA; padding:15px 30px; background: #FFFFFF; border: 1px solid #0055AA; position:relative;}
.common_btn_hp:hover{color:#fff; background:#000; border: 1px solid #fff;}
.common_btn_hp:after{content:'>'; position:absolute; color:#0055AA; right:17px; }
.common_btn_hp:hover:after{color:#fff;}

.common_title_hp{padding-left:90px; padding-right:15px; padding-bottom:20px; }
.common_title_hp h2{font-weight: 700; font-size: 60px; line-height: 86px; background: linear-gradient(90.02deg, #04A7F3 1.14%, #005EBF 99.98%); -webkit-background-clip: text;
-webkit-text-fill-color: transparent; background-clip: text; text-fill-color: transparent; display:inline-block;}
.common_title_hp h3{font-weight: 400; font-size: 15px; line-height: 22px; background: linear-gradient(90.02deg, #04A7F3 1.14%, #005EBF 99.98%); -webkit-background-clip: text;
-webkit-text-fill-color: transparent; background-clip: text; text-fill-color: transparent; display:inline-block;}




/*--------------- HEADER_START --------------*/
#header{ padding:0 90px; background: #0055AA; margin:0px;  width:100%; position:relative; top:0; width:100%; z-index:111; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; -ms-transition: all 0.3s linear; transition: all 0.3s linear; }

.header-hp{}
.header-in-hp{height:89px; display:flex; align-items:center; padding:0;}
.header-left-hp{ float:left; width:128px;}
.group-menu-hp{ float:left; background:#348441; width:128px; height:100px; text-align:center; font-size:17px; color:#fff; line-height:17px; font-family:Arial, Helvetica, sans-serif; }
.group-menu-hp span{ font-size:13px;}
.group-menu-hp a{ display:block; color:#fff; }
.group-menu-hp img{ width:25px; margin:18px 0 9px 0; }
.logo-hp{ float:left; margin:0 0 0 0; vertical-align:middle;}
.logo-hp img{width:100%;}

.header-left-mobile-hp{ display:none;}
.logo-mobile-hp{ width:200px; float:left; line-height:40px; height:45px; margin-left:15px;}
.logo-mobile-hp img{ width:100%; }
.group-menu-mobile-hp{ float:right; margin:10px 15px 0 0; }
.group-menu-mobile-hp a{ color: #0D9A0F; font-size:10px; line-height:12px;}
.group-menu-mobile-hp img{ width:20px; float:left; vertical-align: middle; margin: 3px 8px 0 0; }
.group-menu-mobile-hp span{ float:left;}

.mobile-menu-hp{ display:none; min-height:36px; line-height:34px; text-align:center; font-size:10px;}
.mobile-menu-hp a{ color: #FFFFFF;}




/*----- MOBILE_MENU_START -----*/
.menu-toggle-btn-hp{ margin:0; vertical-align:middle; display:inline-block; padding:0px; width: 32px; height: 15px; cursor:pointer; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; -ms-transition: all 0.3s linear; transition: all 0.3s linear;}
.menu-toggle-btn-hp span{ background:#fff; display:block; width:30px; height:2px; border-radius:0px; margin:0px 1px 4px 1px; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; -ms-transition: all 0.3s linear; transition: all 0.3s linear;}
.menu-toggle-btn-hp span:last-child{ margin-bottom:0px;}
.menu-toggle-btn-hp span:nth-child(2){ width:23px; }
.menu-toggle-btn-hp span:nth-child(3){ width:15px; }
.menu-toggle-btn-hp.open span:nth-child(1), .menu-toggle-btn-hp.open span:nth-child(3){ transform: translate(0px, 7px) rotate(-45deg) scalex(1); margin-bottom:0px;}
.menu-toggle-btn-hp.open span:nth-child(2){ height:0; margin-bottom:0px; width:0px;}
.menu-toggle-btn-hp.open span:nth-child(3){ transform: translate(0px, 5px) rotate(45deg) scalex(1); width:30px;}
.menu-toggle-btn-text-hp{ font-size:10px; line-height:6px; color:#00B5C4; font-weight:600; letter-spacing:-0.39px; text-transform:uppercase; text-align:center; margin:0px; padding:9px 0px 0px; position:relative;}
.hide-scroll{ overflow:hidden !important;}
/*----- MOBILE_MENU_END -----*/


.header-right-hp{ float:right; width:calc(100% - 128px);}
.header_top_hp{padding-top:0;}
.header_top_hp ul{text-align:right; display:flex; justify-content:end;}
.header_top_hp ul li{}
.header_top_hp ul li a{display:flex; font-size:10px; line-height:13px; color:#000000; font-weight:500; font-family:'Montserrat' , sans-serif; border-right:1px solid #000000; padding:0 11px 0 10px;}
.header_top_hp ul li:last-child a{border-right:none; padding-right:0;}
.header_top_hp ul li:first-child{padding-left:0;}

.navigation-hp{ margin:0px 0 0 0;  min-height:auto; }
.navbar .dropdown-menu { width:100%; margin:0px; padding:0px; background: transparent linear-gradient(103deg, rgba(8,21,10,0.95) 0%,rgba(62,155,76,0.95) 100%) 0% 0% no-repeat; border:0px; border-radius:0px; }
@media(min-width:992px){
	.navbar .dropdown {position:static;}
	.navbar .dropdown-menu { width:100%; left:0; right:0; top:100px; display:block; visibility: hidden; opacity: 0; transition: visibility 0s, opacity 0.3s linear; margin:0px; padding:0px; background: transparent linear-gradient(103deg, rgba(8,21,10,0.95) 0%,rgba(62,155,76,0.95) 100%) 0% 0% no-repeat; border:0px; border-radius:0px; }
	.navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover { display:block; visibility: visible; opacity: 1; transition: visibility 0s, opacity 0.3s linear; }
}
.navbar { padding:0px; margin:0px; position:static; }
.navigation-main-hp{ margin:0px; padding:0; }
.navigation-main-hp > ul{ padding:0px 0px 0px 0}
.navigation-main-hp > ul > li{ padding-left:40px; }
.navigation-main-hp > ul > li:first-child{ padding-left:0; }
.navigation-main-hp > ul > li > a{ font-size:15px; line-height:22px; font-weight:400; color:#fff; text-transform:uppercase;  font-family:'Noto Sans CJK JP'; padding:0 0 0 0; position:relative; display:block; }
.navigation-main-hp > ul > li > a:before{ content:''; position:absolute; background:#000; height:4px; width:0%; left:0; bottom:-7px; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; -ms-transition: all 0.3s linear; transition: all 0.3s linear; }
.navigation-main-hp > ul > li > a:hover{ color:#000; }
.navigation-main-hp > ul > li > a:hover:before{ width:100%;}
.navigation-main-hp > ul > li.dropdown.show > a{ color:#3E9B4C;}
.navigation-main-hp > ul > li.dropdown > a:after{ border:0px; background: url(../images/black_dropdown.svg) no-repeat center center; width:8px; height:6px; background-size:8px; margin-left:6px; vertical-align: .15em; display:none; }
.navigation-main-hp > ul > li.dropdown.show > a::before{ width:100%; }
.navigation-main-hp > ul > li > a.contact-btn-hp{ height:48px; line-height:44px; margin:26px 0; padding:0 38px; border-radius:40px; color:#fff; min-width:inherit; }
.navigation-main-hp > ul > li > a.contact-btn-hp:before{ display:none;}
.navigation-main-hp > ul > li > a.contact-btn-hp:hover{ color:#000000;}

.dropdown-menu-in{ padding:60px 0;}
.product-info-hp{ width:100%; }
.product-info-left-hp{ width:170px; float:left;}
.product-info-title-hp{ font-size:24px; line-height:24px; color: #3E9B4C; font-weight:700; padding:0 0 24px 0 }
.product-info-search-hp{}
.product-info-search-in-hp{ }
.product-info-search-in-hp a{ padding:16px 25px 16px 0; display:block; border-bottom:1px solid #7FBA7F; color:#7FBA7F; font-size:14px; line-height:18px; }
.product-info-search-in-hp a:hover{ color:#fff; border-color:#fff; }
.product-info-search-in-hp.active a{ border-bottom:1px solid #fff; color:#fff; background:url(../images/white_arrow.png) no-repeat right center; background-size:20px;}
.product-info-btn-hp{ padding:20px 0 0 0;}
.product-info-btn-hp a{ background:#3E9B4C; width:100%; display:block; height:42px; line-height:40px; color:#fff; text-align:center; padding:0 15px; font-size:14px; font-weight:700; border-radius:40px; }
.product-info-btn-hp a:hover{ background:#fff; color:#3E9B4C; }

.product-info-right-hp{ width:calc(100% - 170px); padding-left:40px; float:right; }
.search-box-main-hp{ padding-bottom:16px;}
.search-box-hp{ width:200px; margin-right:13px; float:left; }
.width-476-hp{ width:476px; margin-right:0px;}
.width-354-hp{ width:354px; margin-right:0px;}
.search-box-input-hp{ width:calc(100% - 60px); float:left; }
.search-box-input-hp input{ width:100%; height:60px; border:0px; background:#fff; color:#333333; font-size:13px; font-weight:700; padding:0 15px; }
.search-box-btn-hp{ float:right; width:60px; height:60px;  background:#3e9b4c url(../images/white_arrow.png) no-repeat center center; background-size:20px; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; -ms-transition: all 0.3s linear; transition: all 0.3s linear; }
.search-box-btn-hp a{ display: block; width: 100%; height: 100%; }
.search-box-btn-hp:hover{ opacity:0.8; }

.mobile-menu-btn-hp{ margin:0px; padding:0px; float:right; right:15px; display:none; position:absolute;}
.mobile-menu-btn-hp a{ display:block; font-size:0px;}
.mobile-menu-icon-hp{ display:inline-block; vertical-align:top;}
.mobile-menu-icon-hp img{ width:19px;}
.mobile-menu-overlay-hp{ display:none;}
.mobile-menu-close-hp{ display:none; float:right; position:absolute; top:15px; right:15px; z-index:99999;}
.mobile-menu-close-hp img{ width:19px;}
/*--------------- HEADER_END --------------*/

/*--------------- CONTAIN_START --------------*/
#contain{ margin:0 0 0 0; padding:0px; }
.banner_block_hp{}
.banner_block_in_hp{padding:0;}
.banner_middle_hp{ min-height:511px; display: flex; align-items: center; }
.banner_boxes_hp{display:flex; align-items:start; justify-content:start;}
.banner_box_hp{}
.banner_title_hp{}
.banner_title_hp h3{font-weight: 400; font-size: 20px; line-height: 36px; letter-spacing: 0.04em; color: #0055AA; padding:0 0 10px 90px;}
.banner_box_in_hp{background: rgba(255, 255, 255, 0.8); }
.banner_box_in_hp h2{font-weight: 700; font-size: 35px; line-height: 60px; letter-spacing: 0.03em; background: linear-gradient(90.02deg, #04A7F3 1.14%, #005EBF 99.98%); 
-webkit-background-clip: text; -webkit-text-fill-color: transparent; background-clip: text; text-fill-color: transparent; padding:5px 55px 5px 90px;}

.notation_block_hp{ padding-bottom:83px; }
.notation_block_in_hp{ padding:0; }
.notation_middle_hp{}
.notation_box_hp{display:flex; align-items:flex-end; justify-content:end; padding-top:83px;}
.notation_img_hp:after{content:''; position:absolute; background:url(../images/Vector_2.svg) no-repeat top center; height:302px; width: 302px; left: -200px; top: 0px;}
.notation_img_hp{width:calc(50% - 90px); padding-left:0; position:relative; margin-left: 90px; }
.notation_img_hp img{width:100%;}
.notation_info_hp{width:50%;}
.notation_info_in_hp{ max-width:565px; width:100%; float:right; padding-left:15px; }
.notation_info_hp h2{ display:inline-block; font-weight: 700; font-size: 60px; line-height: 86px; background: linear-gradient(90.02deg, #04A7F3 1.14%, #005EBF 99.98%); -webkit-background-clip: text; 
-webkit-text-fill-color: transparent; background-clip: text; text-fill-color: transparent;}
.notation_info_hp h3{ display:inline-block; background: linear-gradient(90.02deg, #04A7F3 1.14%, #005EBF 99.98%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-clip: text;
text-fill-color: transparent; font-weight: 400; font-size: 15px; line-height: 22px;}
.notation_info_hp p{font-size: 18px; line-height: 36px; color: #333333; padding-top:50px;}
.notation_btn_hp{padding-top:50px;}

.notation_reverse_hp{flex-direction: row-reverse;}
.notation_reverse_hp .notation_img_hp{padding-right:0; margin-left:0; width:50%; padding-left:0px; position:relative;}
.notation_reverse_hp .notation_img_hp:after{background:url(../images/Vector_1.svg) no-repeat top center; left:auto; right:-200px; }
.notation_reverse_hp .notation_info_subtitle_hp{text-align:right;}
.notation_reverse_hp .notation_info_hp{ padding-left:74px; }
.notation_reverse_hp .notation_info_in_hp{ float:left; width:510px; padding-left:0; padding-right:15px; }

.company_block_hp{padding-top:0px;}
.company_block_in_hp{padding:0;}
.company_middle_hp{height:250px;}
.company_boxes_cp{ display:flex; align-items:center; justify-content:center;}
.company_box_np{width:50%; display:block;}
.company_box_np a{}
.company_box_in_np{padding:29px 76px 113px 90px;}
.company_box_in_np h2{font-weight: 700; font-size: 60px; line-height: 86px; color: #FFFFFF;}
.company_box_in_np h3{font-weight: 400; font-size: 15px; line-height: 22px; color: #FFFFFF;}
/*--------------- CONTAIN_END --------------*/

/*--------------- FOOTER_START --------------*/
.back-to-top-hp{ position:fixed; right:0; bottom:0; z-index:99; display:block; width:60px; height:60px; line-height:60px; text-align:center;}
.back-to-top-hp a{ display:block; width:60px; height:60px; border-radius:0px;}
.back-to-top-hp img{ width:100%; }

#footer{margin:0; padding:0; position:relative; background: #333333;}
.footer_in_hp{padding:0;}
.footer_middle_hp{padding:35px 90px 10px 90px;}
.footer_top_hp{display:flex; justify-content:space-between; align-items:center;}
.footer_logo_hp{width:111px;}
.footer_logo_hp img{width:100%;}
.footer_top_in_hp{}
.footer_links_hp{}
.footer_links_hp ul{margin-bottom:0;}
.footer_links_hp ul li:last-child{padding-right:0;}
.footer_links_hp ul li{font-weight:400; font-size:15px; line-height:22px; display:inline; padding-right:38px;}
.footer_links_hp ul li a{color:#fff;}
.footer_links_hp ul li a:hover{color:#CCC;}
.footer_copyright_hp{font-size:12px; line-height:24px; font-weight:300; letter-spacing: -0.015em; color: #FFFFFF; padding-top:77px; text-align:center;}
/*--------------- FOOTER_END --------------*/

/*--------------- vision_mission_start --------------*/
.vision_block_vp{ padding:80px 0 100px 0;}
.vision_block_in_vp{}
.vision_middle_vp{}
.vision_title_vp{}
.vision_title_vp h2{font-weight:400; font-size:18px; line-height:36px; text-align:center; color:#333333;}
.vision_boxes_vp{display:flex;justify-content:center; margin-top:80px;}
.vision_box_vp{background-size:cover !important; width:50%; height:auto; margin-right:100px; position:relative;}
.vision_box_vp:after{ content:''; position:absolute; background:url(../images/Vision_vector.svg) no-repeat top center; height:86px; width:86px; left:0; top:0px;}
.vision_box_vp:last-child{margin-right:0;}
.vision_box_info_vp{padding:40px 30px 51px 30px; text-align:center;}
.vision_box_info_vp h3{font-weight:400; font-size:15px; line-height:22px; text-align:center; background:linear-gradient(90.02deg, #04A7F3 1.14%, #005EBF 99.98%); 
-webkit-background-clip: text; -webkit-text-fill-color: transparent; background-clip:text; text-fill-color:transparent; display:inline-block;}
.vision_box_info_vp h4{font-weight: 700; font-size: 32px; line-height: 46px; background: linear-gradient(90.02deg, #04A7F3 1.14%, #005EBF 99.98%); -webkit-background-clip: text;
-webkit-text-fill-color: transparent; background-clip: text; text-fill-color: transparent; text-align:center; display:inline-block;}
.vision_box_info_vp p{font-weight: 400; font-size: 15px; line-height: 35px; text-align: center; color: #000000; padding-top:14px;}
/*--------------- vision_mission_END --------------*/

/*--------------- COMPANY_START --------------*/
.company_block_cp{padding:80px 0 100px 0;}
.company_block_in_cp{}
.company_middle_cp{}
.company_box_cp{display:flex; align-items:center; padding:35px 0; border-bottom:1px solid #C4C4C4; position:relative;}
.company_box_subtitle_cp{font-weight:700; font-size:15px; line-height:22px; color:#333333; width:250px; text-align: center;}
.company_box_subtitle_cp:after{content:''; width:250px; height:5px; background: linear-gradient(90.02deg, #04A7F3 1.14%, #005EBF 99.98%); position:absolute; left:0; bottom:-3px;}
.company_box_info_cp{font-weight:400; font-size:15px;line-height:30px; color:#333333;  width:calc(100% - 250px);  padding:0  0 0 100px;}

.owner_block_cp{ padding:80px 0 0 0; }
.owner_block_in_cp{}
.owner_middle_cp{ height:346px; }
.owner_details_cp{ max-width:535px; width:100%; background:url(../images/co_shade.png) no-repeat left top; background-size:auto 100%; height:100%; display: flex; align-items: flex-end; }
.owner_details_in_cp{ padding:48px 0 48px 58px; max-width:400px; }
.owner_details_in_cp p{ font-weight: 400; font-size: 14px; line-height: 30px; color: #FFFFFF; }
.owner_details_info_cp{ border-top:1px solid #fff; border-bottom:1px solid #fff; display: flex; align-items: center; padding:10px 0; margin-top:65px; }
.owner_details_info_left_cp{ font-weight: 400; font-size: 14px; line-height: 15px; color: #FFFFFF; }
.owner_details_info_right_cp{ font-weight: 400; font-size: 25px; line-height: 30px; color: #FFFFFF; padding-left:18px; padding-right: 10px; }

/*--------------- COMPANY_END --------------*/

/*--------------- CONTACT_PAGE_START --------------*/
.contact_block_cp{}
.contact_block_in_cp{}
.contact_middle_cp{padding:80px 50px 100px 50px;}
.contact_info_cp{}
.contact_info_cp p{font-weight:400; font-size:18px; line-height:28px; color: #333333; text-align: center;}
.contact_info_cp p span{color: #FF0000; font-size:12px;}

.contact_form_cp{padding:50px 0 0 0; max-width:680px; margin:auto;}
.form_info_cp{width:100%; font-weight:400; font-size:12px; color:#000000; line-height:17px; padding-bottom:20px;}
.form_info_cp span{color:#C5182D;}
.form_field_cp{width:100%; padding:20px 0 0 0; border-bottom:none; display:flex; align-items:center; justify-content:center;}
.form_field_cp:last-child{border-bottom:none;}
.form_field_cp:first-child{padding-top:0;}
.form_field_padding_cp{padding-bottom:0;}
.form_field_lable_cp{width:230px; font-weight:400; font-size:15px; line-height:22px; color:#333333; padding-bottom:0; }
.form_field_lable_cp sup{color:#FF5768;}
.form_field_input_cp{width:calc(100% - 230px); padding:0;}
.form_field_input_cp input{height:40px; width:100%; background:none; border: 1px solid #C4C4C4; border-radius:0; color:#333; padding:0 15px; font-size:14px; line-height:21px; margin-bottom:0; font-weight:400;}
.form_field_input_cp input::-webkit-input-placeholder{color:#333;}
.form_field_input_cp input::-moz-placeholder{color:#333;}
.form_field_input_cp input:-ms-input-placeholder{color:#333;}
.form_field_input_cp input:-moz-placeholder{color:#333;}
.form_field_input_cp{}
.form_field_input_cp textarea{background:none; width:100%; height:175px; color:#333; border: 1px solid #C4C4C4; padding:15px; outline:none; font-size:14px; line-height:21px; }
.form_field_input_cp textarea::-webkit-input-placeholder{color:#333;}
.form_field_input_cp textarea::-moz-placeholder{color:#333;}
.form_field_input_cp textarea:-ms-input-placeholder{color:#333;}
.form_field_input_cp textarea:-moz-placeholder{color:#333;}
.form_field_input_width_cp input{width:256px;}
.form_field_select_cp{ width:100%; padding-right: 0;}
.form_field_select_cp select{height:40px; width:100%; background:#F7F7F7; border:1px solid #EEEEEE; border-radius:3px; color:#000000; padding:0 10px; font-size:14px; line-height:19px; margin-bottom:10px; font-weight:400;}
.form_field_padding_cp .form_field_input_cp input{ margin-bottom:0px;}
.form-field-radio-cp{ padding-left:0; margin-right:56px; }
.form-field-radio-cp:last-child{ margin-right:0; }
.radio-container-cp { display: inline-block; position: relative; padding-left: 10px; margin-bottom: 0px; margin-left:0px; cursor: pointer; font-size:18px; line-height:24px; color:#000000; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;  user-select: none;     white-space: nowrap; }
.radio-container-cp a{ text-decoration:underline; color:#707070; }
.radio-container-cp input { position: absolute; opacity: 0; cursor: pointer; width: auto; height: auto; left: 0; }
.checkmark-cp { position: absolute; top: 0px; left: 0; height: 20px; width: 20px; border:1px solid #707070; background:#fff; border-radius: 0; }
.radio-container-cp:hover input ~ .checkmark-cp {  }
.radio-container-cp input:checked ~ .checkmark-cp {  }
.checkmark-cp:after { content: "";  position: absolute; display: none;}
.radio-container-cp input:checked ~ .checkmark-cp:after { display: block; }
.radio-container-cp .checkmark-cp:after { top: 4px; left: 4px; }
.checkmark-cp{ width:19px; height:19px; border-radius:0; }
.radio-container-cp .checkmark-cp:after{ background:#333333; width:9px; height:9px; border-radius:100%; }
.form-radio-cp{ padding:3px 10px 3px 0; display:inline-block; min-width:320px; }
.form-radio-cp label{ margin-bottom:0; }
.form-field-radio-main-cp{ display:flex; padding-top: 34px;}
.form-field-radio-main-cp .radio-container-cp{ font-size:12px; line-height:17px; font-weight:400; color:#fff; padding: 4px 8px;  background:#999999; margin:0 30px 0 26px;}
.form-field-radio-main-cp .radio-container-cp .checkmark-cp{ border-radius:3px; width:18px; height:18px; background:none; border-color:#BABABA; top:4px; left:-26px; }
.form-field-radio-main-cp .radio-container-cp .checkmark-cp:after{ background:url(../images/check.svg) no-repeat center center; width: 18px; height: 18px; left: -1px; top: -2px; background-size:auto; }
.form-field-label-top-cp{ vertical-align:top; padding-top:10px; }
.contact_btn_cp{padding-top:80px; text-align:center;}
.form_field_top_cp{ align-items: flex-start; } 
.form_field_top_cp .form_field_lable_cp{ padding-top:10px; }
/*--------------- CONTACT_PAGE_END --------------*/

/*--------------- BUSINESS_CONTENT_START --------------*/
.breadcrumb_block_sdp{padding:20px 15px 0 75px;}
.breadcrumb_block_in_sdp{}
.breadcrumb_middle_sdp{}
.breadcrumb{background:none; border-radius:0; margin:0px; font-size:15px; line-height:22px; font-weight:400; padding:0px 0 0 0px; color:#333;}
.breadcrumb a{color:#333; text-decoration:none; font-weight:400;}
.breadcrumb-item+.breadcrumb-item::before{content:'>'; color:#333; padding-right:6px;}
.breadcrumb-item+.breadcrumb-item{padding-left:6px; color:#333;}

.banner_block_bp{}
.banner_block_in_bp{padding:0;}
.banner_middle_bp{}
.banner_img_bp{position:relative;}
.banner_img_bp:after{content:''; position:absolute; background:url(../images/vector_banner.svg) no-repeat top center; height:254px; width:254px; right:0; top:-169px;}
.banner_img_bp img{width:100%;}

.business_block_bp{paddng:50px 0 100px 0;}
.business_block_in_bp{}
.business_middle_bp{max-width:1100px; margin:auto; padding:80px 0 100px 0;}
.business_top_bp{background:rgba(0, 85, 170, 0.05); margin-top:80px; padding:50px 87px 50px 87px; position:relative;}
.business_top_bp:after{content:''; position:absolute; background:url(../images/Vision_vector.svg) no-repeat top center; height:86px; width:86px; left:0; top:0px;}
.business_title_bp{}
.business_title_bp h2{font-weight:700; font-size:18px; line-height:26px; text-align:center; color:#0055AA; padding-bottom:50px;}
.business_boxes_bp{display:flex; }
.business_box_bp{margin-right:36px; padding-bottom:50px; width:calc(20% - 28px); }
.business_box_bp:last-child{margin-right:0;}
.business_img_bp img{width:100%;}
.business_box_info_bp{font-weight:400; font-size:14px; line-height:22px; text-align:center; color:#333333; padding-top:12px;}
.business_info_bp{text-align:center;}
.business_info_bp h2{font-weight: 400; font-size: 14px; line-height:22px; color:#333333; padding-bottom:50px;}
.business_info_bp p{font-weight:400; font-size:15px; line-height:22px; color:#333333;}

.business_change_bp{ max-width:768px; margin:auto; }
.business_change_bp .business_box_bp{margin-right:85px; padding-bottom:40px; width:calc(33.33% - 56px); }
.business_change_bp .business_box_bp:last-child{margin-right:0;}
.business_bottom_in_bp{background:#0055AA; font-weight:400; font-size:15px; line-height:22px; color:#FFFFFF; padding:10px; text-align:center;}
/*--------------- BUSINESS_CONTENT_END --------------*/












