.category_topics {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.category_topics .topics_box_hp {
    width: calc( 50% - 20px );
}

@media (max-width:767px) {
    .category_topics .topics_box_hp {
        width: 100%;
    }   
}

.pagination_wrap {
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wp-pagenavi {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 3px;
}

.wp-pagenavi a,
.wp-pagenavi span {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: #202020;
    border-color: #fff;
	font-size: 14px;
}
.wp-pagenavi a:hover, .wp-pagenavi span:hover {
    border-color: #CCCCCC;
}
.wp-pagenavi a.previouspostslink {
	width: 36px;
}
.wp-pagenavi a.nextpostslink {
	width: 36px;
}
.wp-pagenavi span {
    color: #202020;
    background-color: #CCCCCC;
}

.wp-pagenavi a:hover {
    color: #202020 !important;
	background-color: #fff !important;
}

.wp-pagenavi span.current {
	background-color: #fff;
	color: #202020;
    border-color: #CCCCCC;
}

@media(min-width:0px) and (max-width:767px){
	.wp-pagenavi a,
	.wp-pagenavi span {
		width: 24px;
		height: 24px;
		font-size: 10px;
	}
	.wp-pagenavi a.previouspostslink {
		width: 24px;
	}
	.wp-pagenavi a.nextpostslink {
		width: 24px;
	}
}	

.blog_date {
    padding: 20px 0;
}
.blog_thumb {
    padding: 20px 0;
}
.blog_thumb img {
    width: 100%;
}