@font-face {
    font-family: 'hanazome';
    src: url('./fonts/hanazome.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

img {
    max-width: 100%;
}

.outer-container {
    width: 100%;
    max-width: 1600px;
    padding: 0 16px;
    margin: 0 auto;
    position: relative;
}

.inner-container {
    width: 100%;
    max-width: 1200px;
    padding: 0 16px;
    margin: 0 auto;
    position: relative;
}

.footer_block {
    margin-top: 50px !important;
}

.main_visual {
    position: relative;
    opacity: 0;
    transition: all .5s ease
}

.main_visual .sec-top-thumb {
    position: absolute;
    bottom: 0;
    right: 50px;
    z-index: 40;
}

.main_visual .sec-top-thumb .sec-top-thumb-text {
    position: absolute;
    width: 90%;
    bottom: 20%;
    left: 53%;
    transform: translateX(-50%);
    z-index: 40;
}

.sec-top-thumb .sec-top-thumb-text span {
    background: #fff;
    color: #222;
    font-size: 18px;
    font-weight: 600;
    line-height: 35px;
    padding: 0 10px;
    transition: all .3s;
}
.main_visual .sec-top-thumb:hover .sec-top-thumb-text span {
    color: #F0110A;
}
.main_visual.act {
    opacity: 1
}

.main_visual .sec-recruit-topview,
#loopslider,
.main_visual .slider {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 940px;
    overflow: hidden;
}

.main_visual .sec-recruit-topview,
.lower_ttl,
.main_visual .slider li {
    background-repeat: no-repeat;
    background-size: cover
}

.main_visual .slider li {
    top: 0;
    left: 0;
    width: 100%;
    opacity: 1;
    position: absolute;
    height: 100%;
    z-index: 20;
    background-position: center;
}

.main_visual .sec-recruit-topview {
    background-image: url(../images/com_recruit.jpg);
}

.main_visual .slider li.img00 {
    background-image: url(../images/hero1.png);
}

.main_visual .slider li.img01 {
    background-image: url(../images/hero2.png);
}

.main_visual .slider li.img02 {
    background-image: url(../images/hero3.png);
}

.main_visual .slider li.img03 {
    background-image: url(../images/hero4.png);
}

.main_visual .slider li.act {
    -webkit-animation: scale 7.5s linear 0s forwards, fade 1.5s ease-in 6s forwards;
    animation: scale 7.5s linear 0s forwards, fade 1.5s ease-in 6s forwards;
    z-index: 30
}

.main_visual .slider li.act+.act {
    z-index: 25
}

.main_visual .main_txt {
    display: none;
    position: absolute;
    top: 305px;
    left: 0;
    text-align: center;
    width: 100%;
    z-index: 40;
    -webkit-font-feature-settings: "palt" 1;
    -moz-font-feature-settings: "palt" 1;
    -ms-font-feature-settings: "palt" 1;
    letter-spacing: .15em
}

.main_visual .main_txt h1 {
    font-size: 40px;
    font-weight: 700;
    margin-top: 30px;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.main_visual .main_txt.is-act {
    opacity: 1
}

@-webkit-keyframes scale {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    to {
        -webkit-transform: scale(1.13);
        transform: scale(1.13)
    }
}

@keyframes scale {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    to {
        -webkit-transform: scale(1.13);
        transform: scale(1.13)
    }
}

@-webkit-keyframes fade {
    0% {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@keyframes fade {
    0% {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

#loopslider {
    margin: -90px auto 20px;
    height: 160px;
    text-align: left;
    z-index: 2;
    opacity: 0;
}

#loopslider.fadein {
    opacity: 1;
    transition: opacity 1.5s cubic-bezier(1, 0, 0, 1);
}

#loopslider ul,
#loopslider ul li {
    height: 160px;
    float: left;
    display: inline-block;
    overflow: hidden
}

#loopslider ul::after {
    content: ".";
    height: 0;
    clear: both;
    display: block;
    visibility: hidden
}

#loopslider ul li {
    width: 190px;
    display: inline;
    text-align: center
}

.Splash {
    position: relative;
    pointer-events: none;
    z-index: 1;
    margin-left: -60px;
    width: calc(100% + 170px);
}

.SplashView {
    width: 100%;
    height: 40vh;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    position: absolute;
    overflow-x: hidden;
    overflow-y: visible;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.SplashView__center {
    position: absolute;
    top: 58%;
    left: 0;
    width: 100%;
}

.SplashTop {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100vw;
    margin-left: -48vw;
}

.SplashBottom {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100vw;
    margin-left: -50vw;
}

.SplashEl {
    position: absolute;
}

.SplashTop .SplashEl,
.SplashTop .SplashEl__img,
.SplashTop .SplashEl__mask {
    bottom: 0;
}

.SplashBottom .SplashEl,
.SplashBottom .SplashEl__img,
.SplashBottom .SplashEl__mask {
    top: 0;
}

.SplashEl .SplashEl__mask {
    width: 0;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

.Splash.fadein .SplashEl[data-index="01"] .SplashEl__mask {
    transition: width 1.5s cubic-bezier(1, 0, 0, 1);
    width: 100%;
}

.Splash.fadein .SplashEl[data-index="02"] .SplashEl__mask {
    transition: width 1.5s cubic-bezier(1, 0, 0, 1) .1s;
    width: 100%;
}

.Splash.fadein .SplashEl[data-index="03"] .SplashEl__mask {
    transition: width 1.5s cubic-bezier(1, 0, 0, 1) .2s;
    width: 100%;
}


/* Splash 01 */

.SplashEl--home-01-01 {
    right: 30%;
    height: 300px;
    width: 80vw;
}

.Splash--home-01 .SplashView__center {
    transform: rotate(353deg);
}

.SplashEl--home-01-01 .SplashEl__img {
    height: 300px;
    width: 80vw;
    background-color: #2C4298;
    clip-path: polygon(0 0, 100% 100%, 0 100%);
}

.SplashEl--home-01-01 .SplashEl__img,
.SplashEl--home-01-01 .SplashEl__mask {
    left: 0;
}

.SplashEl--home-01-02 {
    left: 60%;
    height: 300px;
    width: 60vw;
}

.SplashEl--home-01-02 .SplashEl__img {
    height: 300px;
    width: 60vw;
    background-color: #F0110A;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
}

.SplashEl--home-01-02 .SplashEl__img,
.SplashEl--home-01-02 .SplashEl__mask {
    right: 0;
}

.SplashEl--home-01-03 {
    right: 40%;
    height: 30px;
    width: 70vw;
}

.SplashEl--home-01-03 .SplashEl__img {
    background-color: #F0110A;
    height: 30px;
    width: 70vw;
    clip-path: polygon(0 0, 100% 0, 0 100%);
}

.SplashEl--home-01-03 .SplashEl__img,
.SplashEl--home-01-03 .SplashEl__mask {
    left: 0;
}


/* Splash 02 */

.Splash--home-02 .SplashView__center {
    transform: rotate(183deg);
    top: 38%;
}

.SplashEl--home-03-01,
.SplashEl--home-02-01 {
    left: 10%;
    height: 170px;
    width: 90vw;
}

.SplashEl--home-03-01 .SplashEl__img,
.SplashEl--home-03-01 .SplashEl__mask,
.SplashEl--home-02-01 .SplashEl__img,
.SplashEl--home-02-01 .SplashEl__mask {
    right: 0;
}

.SplashEl--home-03-01 .SplashEl__img,
.SplashEl--home-02-01 .SplashEl__img {
    height: 170px;
    width: 90vw;
    background-color: #2C4298;
    clip-path: polygon(0 100%, 100% 0, 100% 100%);
}

.SplashEl--home-03-02,
.SplashEl--home-02-02 {
    right: 75%;
    height: 120px;
    width: 30vw;
}

.SplashEl--home-03-02 .SplashEl__img,
.SplashEl--home-03-02 .SplashEl__mask,
.SplashEl--home-02-02 .SplashEl__img,
.SplashEl--home-02-02 .SplashEl__mask {
    left: 0;
}

.SplashEl--home-03-02 .SplashEl__img,
.SplashEl--home-02-02 .SplashEl__img {
    height: 120px;
    width: 30vw;
    background-color: #F0110A;
    clip-path: polygon(0 0, 100% 0, 0 100%);
}

.SplashEl--home-03-03,
.SplashEl--home-02-03 {
    left: 25%;
    height: 30px;
    width: 80vw;
}

.SplashEl--home-03-03 .SplashEl__img,
.SplashEl--home-03-03 .SplashEl__mask,
.SplashEl--home-02-03 .SplashEl__img,
.SplashEl--home-02-03 .SplashEl__mask {
    right: 0;
}

.SplashEl--home-03-03 .SplashEl__img,
.SplashEl--home-02-03 .SplashEl__img {
    height: 30px;
    width: 80vw;
    background-color: #F0110A;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
}


/* Splash 03 */

.Splash--home-03 .SplashView__center {
    transform: rotate(3deg);
    top: 57%;
}


/* Splash flip */

.Splash--home-02.splash-flip,
.Splash--home-03.splash-flip {
    transform: scaleX(-1);
}

.Splash--home-02.splash-flip-y,
.Splash--home-03.splash-flip-y {
    transform: scaleY(-1);
}

.Splash--home-02.splash-rotate {
    transform: rotate(9deg);
    margin-left: -100px;
}

.Splash--home-02.splash-flip .SplashView__center {
    top: 43%;
}

.Splash--home-03.splash-flip .SplashView__center {
    top: 56%;
}

.text-overlay {
    font-size: 300px;
    line-height: 300px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #2C4298;
    opacity: .08;
    text-transform: uppercase;
    pointer-events: none;
}

.sec-feature {
    padding: 100px 0 80px;
    position: relative;
}

.sec-feature .text-overlay {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) rotate(15deg);
}

.sec-title-area {
    display: flex;
    justify-content: space-around;
}

.sec-recruit h2,
.sec-title-area h2 {
    font-size: 50px;
    font-weight: 700;
    text-shadow: -1px -1px 0 #2C4298, 1px -1px 0 #2C4298, -1px 1px 0 #2C4298, 1px 1px 0 #2C4298;
}

.sec-title {}

.sec-title .sec-title-ja {
    font-size: 50px;
    font-weight: 600;
    position: relative;
    line-height: 1;
    display: inline-block;
}

.sec-title .sec-title-ja span {
    line-height: 1;
}

.sec-title .sec-title-ja::after {
    content: "";
    width: 0;
    height: 100%;
    /* background: #fa9600;
    background: linear-gradient(90deg, #fa9600 0, #78d2f0 100%); */
    background: #2C4298;
    background: linear-gradient(90deg, #2C4298 0, #F0110A 100%);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transition: width .35s cubic-bezier(.95, .05, .795, .035), left .35s cubic-bezier(.95, .05, .795, .035);
}

.sec-title .sec-title-ja.fadein::after {
    width: 100%;
}

.sec-title .sec-title-ja.out::after {
    background: linear-gradient(90deg, black 0%, black 100%);
    left: 100%;
    width: 0;
}

.sec-title .sec-title-ja span {
    opacity: 0;
}

.sec-title .sec-title-ja.out span {
    opacity: 1;
}

.sec-title .sec-title-ja.out::after {
    transition: width .5s cubic-bezier(.19, 1, .22, 1), left .5s cubic-bezier(.19, 1, .22, 1), background .4s cubic-bezier(.47, 0, .745, .715);
    background: linear-gradient(90deg, #000 0, #000 100%);
    left: 100%;
    width: 0;
}

.sec-title p {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #2C4298;
}

.feature-list {}

.feature-list .f-list-item {
    display: flex;
    align-items: center;
}

.EffectImg {
    position: relative;
    transform: scale(.9) rotate(10deg) translate3d(0, 0, 0);
    opacity: 0;
    flex: 0 0 30%;
}

.EffectImg .img-wrapper {
    position: relative;
    z-index: 2;
}

.EffectImg .EffectImg__shape {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(.8);
}

.EffectImg .EffectImg__shape--01 {
    top: -15px;
    left: -28px;
    transition: transform .6s cubic-bezier(1, 0, 0, 1) .4s;
}

.EffectImg .EffectImg__shape--02 {
    top: 12px;
    left: 24px;
    transition: transform .6s cubic-bezier(1, 0, 0, 1) .3s;
}

.EffectImg.fadein {
    transition: transform 1s cubic-bezier(1, 0, 0, 1), opacity 1s cubic-bezier(.47, 0, .745, .715);
    transform: scale(1) rotate(0);
    opacity: 1;
}

.EffectImg.fadein .EffectImg__shape--01 {
    transform: rotate(3deg) scale(1);
}

.EffectImg.fadein .EffectImg__shape--02 {
    transform: rotate(1deg) scale(1);
}

.f-list-item .item-content {
    flex: 1;
    padding-left: 50px;
}

.f-list-item .item-content .item-content-inner {
    display: inline-block;
}

.feature-list .f-list-item:nth-of-type(even) .item-content {
    padding-left: 0;
    padding-right: 50px;
    text-align: right;
}

.feature-list .f-list-item:nth-of-type(even) .item-content .item-content-inner {
    text-align: left;
}

.feature-list .f-list-item:nth-of-type(even) .item-thumb {
    order: 2;
}

.feature-list .f-list-item:nth-of-type(even) .item-content {
    order: 1;
}

.f-list-item .item-content .item-content-title {
    display: flex;
    align-items: center;
}

.f-list-item .item-content .item-content-body {
    font-size: 20px;
    margin-top: 30px;
}

.item-content-title .item-num {
    background: #2C4298;
    text-align: center;
    color: #fff;
    padding: 10px 35px 0px;
    margin-right: 25px;
}

.item-content-title .item-num p:first-of-type {
    font-size: 20px;
}

.item-content-title .item-num p:last-of-type {
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.item-content-title .item-title-text {
    font-size: 40px;
    font-weight: 600;
}

.sec-feature .feature-bottom-label {
    position: relative;
}

.feature-bottom-label .f-b-left-text p {
    font-size: 110px;
    font-weight: 700;
    color: #2C4298;
    text-shadow: -1px -1px 0 #2C4298, 1px -1px 0 #2C4298, -1px 1px 0 #2C4298, 1px 1px 0 #2C4298;
}

.feature-bottom-label .f-b-left-text span {
    color: #fff;
}

.feature-bottom-label .f-b-left-text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.feature-bottom-label .inner-container {
    text-align: right;
}

.feature-bottom-label .f-b-right-text {
    display: inline-block;
    z-index: 2;
    position: relative;
}

.btn-yellow {
    display: inline-block;
    position: relative;
    width: 275px;
    height: 60px;
}

.btn-yellow .btn-inner {
    background: #F09C1C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 100px;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-duration: .4s;
}

.btn-yellow:hover .btn-inner {
    transform: translate(-50%, -50%) scale(1.1);
}

.sec-work {
    padding: 150px 0 100px;
    position: relative;
}

.sec-rec-members .text-overlay,
.sec-work .text-overlay {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    writing-mode: vertical-rl;
}

.sec-work .sec-title-area {
    justify-content: flex-start;
    position: relative;
}

.sec-work .sec-title-area .sec-title {
    margin-right: 50px;
}

.sec-work .sec-title-area h2 {
    text-align: center;
    position: relative;
    z-index: 2;
}

.sec-work .sec-title-area .sec-title-img {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.work-slide-area {
    margin-top: 60px;
    position: relative;
    padding: 50px 0;
}

.work-slide-area::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 75vw;
    height: calc(100% - 85px);
    background: #F4F5FA;
}

.work-list-slider {}

.work-item .item-thumb {
    width:100%;
    padding-top: 70%;
    overflow: hidden;
    position: relative;
}
.work-item .item-thumb img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
.work-item .item-content {
    /* margin-top: -12px; */
}

.work-item .item-content .item-cate span {
    color: #fff;
    background: #2C4298;
    padding: 2px 25px;
    font-weight: 600;
}

.work-item .item-content h3 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 15px;
}

.work-item .item-content p {
    font-size: 20px;
    margin-top: 25px;
}

.work-list-slider.owl-carousel .owl-stage-outer {
    overflow: unset;
}

.work-slide-area .btn-area {
    text-align: right;
    margin-top: 20px;
}

.work-text-area.outer-container h2 {
    font-size: 110px;
    font-weight: 700;
    color: #fff;
    text-shadow: -1px -1px 0 #2C4298, 1px -1px 0 #2C4298, -1px 1px 0 #2C4298, 1px 1px 0 #2C4298;
    text-align: center;
    z-index: 2;
    position: relative;
}

.work-text-area.outer-container h2 span {
    color: #2C4298;
}

.work-text-area.outer-container img {
    position: absolute;
    top: 50%;
    left: 60px;
    transform: translateY(-50%);
}

.sec-external-link {
    padding: 180px 0 0px;
    position: relative;
}

.sec-external-link .text-overlay {
    font-size: 200px;
    line-height: 200px;
    writing-mode: vertical-rl;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.sec-external-link .text-overlay.text-overlay-right {
    left: auto;
    right: 0;
}

.sec-external-link .external-link-img {
    text-align: right;
    padding-right: 50px;
    margin-top: 50px;
}

.sec-external-link .external-link-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.external-link-list .external-link {
    flex: 0 0 48%;
}

.external-link-list .external-link .link-inner {
    position: relative;
    width: 100%;
    padding-top: 100%;
}

.external-link .link-inner .black-overlay,
.external-link .link-inner img.img-thumb {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
}

.external-link .link-inner .black-overlay {
    background: #000;
    opacity: .5;
    transition-duration: .4s;
}

.external-link:hover .link-inner .black-overlay {
    opacity: 1;
}

.external-link:hover .link-inner .btn-yellow .btn-inner {
    transform: translate(-50%, -50%) scale(1.1);
}

.external-link .link-inner .inner-text {
    position: absolute;
    color: #fff;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.btn-yellow.btn-white .btn-inner {
    background: #fff;
    color: #222222;
}

.link-inner .inner-text p {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

.link-inner .inner-text h3 {
    font-size: 50px;
    font-weight: 700;
    margin: 30px 0 50px;
}

.sec-recruit {
    background: #E6454E;
    padding: 200px 0 100px;
}

.sec-recruit .rec-content {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rec-content .rec-content-body h2,
.rec-content .rec-content-body p,
.rec-content .sec-title p,
.rec-content .sec-title h3 {
    color: #fff;
}

.rec-content .rec-content-img {
    text-align: center;
}

.rec-content .rec-content-body h2 {
    text-shadow: unset;
}

.rec-content .rec-content-body p {
    font-size: 20px;
    margin-top: 20px;
}

.sec-contact {
    position: relative;
    background: url(../images/img-11.png) no-repeat;
    background-size: cover;
    padding: 150px 0;
}

.sec-contact .sec-contact-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: .5;
}

.sec-contact .sec-contact-inner {
    text-align: center;
}

.sec-contact-inner h2 {
    font-size: 80px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #fff;
}

.sec-contact-inner p {
    font-size: 20px;
    color: #fff;
    margin: 20px 0 50px;
}

.img-anim-3 {
    position: absolute;
    top: -30px;
    left: 20%;
    z-index: 5;
}

.img-anim-2 {
    position: absolute;
    top: -30px;
    left: 20%;
    z-index: 5;
}

.img-anim-1 {
    position: absolute;
    bottom: -50px;
    right: -80px;
    z-index: 5;
}

.img-anim-1 img,
.img-anim-2 img,
.img-anim-3 img {
    animation: .6s rotate-shake infinite;
}

@keyframes rotate-shake {
    0% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(5deg);
    }
}

[data-aos][data-aos][data-aos-easing=ease],
body[data-aos-easing=ease] [data-aos] {
    /* transition: transform 1.2s cubic-bezier(1, 0, 0, 1), opacity 1.2s cubic-bezier(1, 0, 0, 1); */
    transition-timing-function: cubic-bezier(1, 0, 0, 1);
}

[data-aos^=fade][data-aos^=fade].aos-animate {
    transition: opacity .8s cubic-bezier(.39, .575, .565, 1) .6s;
}

.sec-recruit-top .main_txt {
    text-align: left;
    top: 400px;
}

.sec-recruit-top .main_txt h1 {
    font-size: 100px;
    font-family: 'Hanazome', sans-serif;
    color: #F0110A;
    line-height: 80px;
    transform: rotate(-7deg);
}

.sec-recruit-top .main_txt span {
    font-size: 60px;
}

.sec-recruit-top .main_txt p {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-top: 100px;
}

.sec-recruit-1 {}

.sec-recruit-1 .text-area {
    margin-top: -250px;
    padding: 10px 16px 100px;
    position: relative;
}

.sec-recruit-1 .text-area::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 250px, 100% 100%, 0% 100%);
    background: #fff;
}

.sec-recruit-1 .rec-1-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
    font-size: 20px;
    line-height: 34px;
}

.sec-recruit-1 h2 {
    font-family: 'Hanazome', sans-serif;
    color: #F0110A;
    font-size: 80px;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    transform: rotate(-5deg);
}

.sec-recruit-1 .rec-1-text .rec-1-text-left {
    flex: 0 0 40%;
}

.sec-recruit-1 .rec-1-text .rec-1-text-right {
    flex: 1;
}

.sec-rec-members {
    padding: 100px 0;
    position: relative;
}

.sec-rec-members .text-overlay {
    transform: translateY(-45%);
    font-size: 200px;
}

.sec-rec-members .members-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sec-rec-members .members-list .member-item {
    flex: 0 0 30%;
}

.member-item p.member-title {
    font-family: 'Hanazome', sans-serif;
    font-size: 40px;
    display: inline-block;
    position: relative;
    transform: rotate(-10deg);
    text-align: center;
}

.member-item p.member-title::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/rec-line-bg.svg) no-repeat;
    background-size: contain;
    background-position: center;
}

.member-item p.member-content {
    font-size: 20px;
    margin-top: 30px;
    font-weight: 600;
}

.sec-rec-members .members-list .member-item:nth-of-type(1) .EffectImg.fadein .EffectImg__shape--01 {
    transform: rotate(20deg) scale(1);
}

.sec-rec-members .members-list .member-item:nth-of-type(1) .EffectImg .EffectImg__shape--01 {
    top: -32px;
    left: -45px;
}

.sec-rec-members .members-list .member-item:nth-of-type(1) .EffectImg.fadein .EffectImg__shape--02 {
    transform: rotate(2deg) scale(1);
}

.sec-rec-members .members-list .member-item:nth-of-type(1) .EffectImg .EffectImg__shape--02 {
    top: 25px;
    left: 35px;
}

.sec-rec-members .members-list .member-item:nth-of-type(2) .EffectImg.fadein .EffectImg__shape--01 {
    transform: rotate(3deg) scale(1);
}

.sec-rec-members .members-list .member-item:nth-of-type(2) .EffectImg .EffectImg__shape--01 {
    top: 25px;
    left: 23px;
}

.sec-rec-members .members-list .member-item:nth-of-type(2) .EffectImg.fadein .EffectImg__shape--02 {
    transform: rotate(2deg) scale(1);
}

.sec-rec-members .members-list .member-item:nth-of-type(2) .EffectImg .EffectImg__shape--02 {
    top: -36px;
    left: -13px;
}

.sec-rec-members .members-list .member-item:nth-of-type(3) .EffectImg .EffectImg__shape--01 {
    top: 15px;
    left: -28px;
}

.sec-rec-members .members-list .member-item:nth-of-type(3) .EffectImg .EffectImg__shape--02 {
    top: -12px;
    left: 24px;
}

.sec-title h2 {
    font-size: 50px;
    font-weight: 600;
}

.sec-rec-members .members-list .member-item:nth-of-type(1) {
    margin-top: 50px;
}

.sec-rec-members .members-list .member-item:nth-of-type(2) {
    margin-top: -90px;
}

.sec-rec-members .members-list .member-item:nth-of-type(3) {
    margin-top: 60px;
}

.sec-education {
    padding: 100px 0 150px;
}

.sec-education .inner-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sec-education .edu-left {
    flex: 0 0 60%;
}

.sec-education .edu-left .sec-title {
    padding-left: 50px;
    margin-top: 100px;
}

.sec-education .edu-left p {
    font-size: 20px;
    margin-top: 50px;
}

.sec-education .edu-right {
    flex: 1;
    padding-left: 50px;
}

.sec-education .edu-right .EffectImg:last-of-type {
    margin-top: 50px;
}

.edu-right .EffectImg:first-of-type .EffectImg__shape--02 {
    top: -30px;
    left: -35px;
}

.edu-right .EffectImg:first-of-type .EffectImg__shape--01 {
    top: 8px;
    left: 10px;
}

.edu-right .EffectImg:last-of-type .EffectImg__shape--02 {
    top: -44px;
    left: -15px;
}

.edu-right .EffectImg:last-of-type .EffectImg__shape--01 {
    top: -18px;
    left: -45px;
}

.sec-education .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(30deg);
    font-size: 220px;
}

.sec-rec-2 {
    padding: 150px 0;
    background: url(../images/img-rec-6.png) no-repeat;
    background-size: cover;
    background-position: top center;
}

.sec-rec-2 .inner-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.sec-rec-2 .inner-container .sec-rec-2-inner {
    flex: 0 0 50%;
    color: #fff;
}

.sec-rec-2-inner .sec-title {
    margin-bottom: 30px;
}

.sec-rec-2-inner p {
    margin-bottom: 70px;
    font-size: 20px;
}

.sec-rec-2-inner .btn-yellow {
    width: 300px;
}

.sec-interview {
    padding: 100px 0;
}

.sec-interview .interview-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.interview-list .interview-item {
    margin-top: 50px;
    flex: 0 0 45%;
}

.interview-list .interview-item:last-of-type {
    margin-top: 150px;
}

.interview-item .item-content {
    width: 90%;
    background: #2C4298;
    margin-left: 10%;
    padding: 20px;
    margin-top: -50px;
    position: relative;
    z-index: 2;
    color: #fff;
}

.interview-item .item-content p {
    font-size: 20px;
    margin-bottom: 15px;
}

.interview-item .item-content p:nth-of-type(1) {
    font-size: 30px;
    font-weight: 600;
}

.interview-item .item-content p:nth-of-type(2) span {
    background: #F0110A;
    min-width: 150px;
    display: inline-block;
    text-align: center;
    margin-right: 20px;
}

.interview-item .item-content a {
    color: #fff;
}

.interview-item .item-content a span {
    text-decoration: underline;
    display: inline-block;
    margin-right: 30px;
}

.sec-annual {
    padding: 100px 0;
}

.sec-img-list {
    display: flex;
    padding: 150px 0;
    background: url(../images/img-list-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.sec-flow {
    padding: 100px 0;
}

.sec-flow .flow-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: -40px;
}

.sec-flow .flow-list .flow-item {
    flex: 1;
    margin-right: 40px;
    background: #2C4298;
    color: #fff;
    padding: 50px 20px 20px;
    margin-top: 50px;
    position: relative;
}

.flow-item h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
}

.flow-item p {
    font-size: 20px;
}

.flow-item .flow-num {
    color: #fff;
    background: #F0110A;
    width: 40px;
    height: 40px;
    left: 50%;
    transform: translateX(-50%);
    top: -20px;
    position: absolute;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec-entry {
    padding: 100px 0;
    background: #E6454E;
}

.sec-entry .sec-title {
    text-align: center;
    color: #fff;
}

.sec-entry .sec-title p {
    color: #fff;
    margin-top: 20px;
}

.sec-entry form {
    background: #fff;
    padding: 50px;
    max-width: 900px;
    margin: 0 auto;
}

.sec-message {
    padding: 150px 0 100px;
}

.sec-message .sec-title {
    text-align: center;
}

.sec-message h4 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.sec-message p {
    font-size: 20px;
}
.sec-message p a {
    color: #2C4298;
    transition: all .3s;
    text-decoration: underline;
}
.sec-message p a:hover {
    opacity: .7;
}
.boss-img {
    margin: 30px 0;
    position: relative;
}

.boss-img .boss-info {
    position: absolute;
    padding: 20px;
    color: #fff;
    bottom: 0;
    right: 0;
    background: #2C4298;
}

.boss-img .boss-info p:first-of-type {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 15px;
}

.boss-img .boss-info p:last-of-type {
    font-size: 30px;
    font-weight: 600;
}

.msg-btn-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

.msg-btn-area .btn-yellow {
    width: 45%;
    margin-top: 10px;
}

.comp-info {
    margin-top: 100px;
}

.comp-info .sec-title {
    text-align: left;
}

.comp-info .comp-info-list {
    margin-top: 50px;
}

.comp-info-list .info-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: solid 1px #CCCCCC;
    font-size: 20px;
}

.comp-info-list .info-item:last-of-type {
    border-bottom: none;
}

.comp-info-list .info-item div:first-of-type {
    flex: 0 0 200px;
}

.comp-info-list .info-item div:last-of-type {
    flex: 1;
}

.comp-info .comp-map {
    margin-top: 30px;
}

.comp-info .comp-map iframe {
    width: 100%;
    height: 350px;
}

.sec-comp-1 {
    color: #fff;
    background-color: #000;
    background-image: url(../images/comp-bg-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding-bottom: 100px;
}

.sec-comp-1 .comp-title-area {
    color: #fff;
    text-align: center;
    margin-top: -40px;
}

.sec-comp-1 .comp-title-area h2 {
    font-family: 'Hanazome', sans-serif;
    font-size: 80px;
}

.sec-comp-1 .comp-title-area p {
    font-size: 20px;
    margin-top: 50px;
}

.comp-list {}

.comp-list .comp-item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 50px;
}

.comp-item .comp-content {
    flex: 1;
    padding-left: 50px;
}

.comp-item .comp-thumb h3 {
    font-size: 50px;
    margin-bottom: 10px;
}

.comp-item .comp-content p:first-of-type {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.comp-item .comp-content p:last-of-type {
    font-size: 20px;
    margin-bottom: 30px;
}

.comp-list .thumb-left .comp-thumb {
    text-align: right;
}

.comp-list .thumb-right .comp-thumb {
    order: 2;
}

.comp-list .thumb-right .comp-content {
    order: 1;
    padding-left: 0;
    padding-right: 50px;
}

.comp-list .inner-container:last-of-type .comp-content {
    position: absolute;
    color: #222222;
    top: 150px;
    left: 0;
    padding-left: 50px;
    padding-right: 0;
}

.sec-comp-2 {
    background-image: url(../images/comp-bg-2.png);
}

.sec-comp-bottom {
    background-image: url(../images/img-comp-14.png);
}

.sec-rec-2.sec-comp-bottom .inner-container {
    justify-content: flex-start;
}

.sec-rec-2.sec-comp-bottom .inner-container .sec-rec-2-inner {
    flex: 1;
}

.sec-rec-2.sec-comp-bottom .sec-rec-2-inner .btn-yellow .btn-inner {
    background: #06C755;
}

.Splash--company-01 .SplashEl__img {
    height: 110px;
    width: 70vw;
    background-color: #F0110A;
}

.Splash--company-01 .SplashView__center {
    transform: rotate(190deg);
    top: 57%;
}

.Splash--company-01 .SplashEl--home-02-01 {
    height: 110px;
    width: 70vw;
    left: 35%;
}

.sec-comp-1 .inner-container {
    z-index: 5;
}

.Splash--company-02 {
    transform: scaleX(-1);
}

.sp-show {
    display: none;
}

.line-overlay-link {
    position: absolute;
    right: 0;
    bottom: 80px;
    z-index: 50;
    overflow: hidden;
    color: #fff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.line-overlay-link div {
    background: #06C755;
}

.line-overlay-link:hover {
    transform: scale(1.1);
    color: #fff;
}

.line-overlay-link .line-content {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line-overlay-link .line-content p {
    font-size: 33px;
    line-height: 30px;
    font-weight: 600;
}

.line-overlay-link .line-content p span:first-of-type {
    font-weight: 900;
}

.line-overlay-link .line-content p span:last-of-type {
    font-size: 18px;
}

@media (max-width: 992px) {
    .link-inner .inner-text h3,
    .sec-title .sec-title-ja,
    .sec-title-area h2,
    .boss-img .boss-info p:first-of-type,
    .sec-title h2 {
        font-size: 36px;
    }
    .sec-recruit h2 {
        font-size: 24px;
    }
    .text-overlay {
        font-size: 200px;
        line-height: 150px;
    }
    .sec-external-link .text-overlay {
        font-size: 100px;
        line-height: 100px;
    }
    .link-inner .inner-text p,
    .work-item .item-content h3,
    .comp-item .comp-content p:first-of-type,
    .sec-message h4,
    .boss-img .boss-info p:last-of-type {
        font-size: 24px;
    }
    .rec-content .rec-content-body p,
    .sec-recruit-1 .rec-1-text,
    .comp-info-list .info-item,
    .comp-item .comp-content p:last-of-type,
    .sec-message p {
        font-size: 16px;
    }
    .item-content-title .item-num p:last-of-type {
        font-size: 30px;
    }
    .item-content-title .item-num {
        padding: 10px 20px 0px;
        flex: 0 0 90px;
    }
    .work-text-area.outer-container h2,
    .feature-bottom-label .f-b-left-text p {
        font-size: 50px;
    }
    .sec-work .sec-title-area .sec-title {
        margin-right: 20px;
    }
    .feature-list .f-list-item {
        margin-top: 50px;
    }
    .item-content-title .item-title-text {
        font-size: 26px;
    }
    .msg-btn-area .btn-yellow {
        width: 48%;
    }
    .sec-comp-1 .comp-title-area h2 {
        font-size: 50px;
    }
    .comp-item .comp-thumb {
        max-width: 60%;
    }
    .comp-item .comp-content {
        padding-left: 25px;
    }
    .comp-list .inner-container:last-of-type .comp-thumb {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .SplashEl--home-03-01,
    .SplashEl--home-02-01 {
        height: 100px;
        left: 13%;
    }
    .SplashEl--home-03-01 .SplashEl__img,
    .SplashEl--home-02-01 .SplashEl__img {
        height: 100px;
    }
    .SplashEl--home-03-02 .SplashEl__img,
    .SplashEl--home-02-02 .SplashEl__img {
        height: 70px;
    }
    .SplashEl--home-03-02,
    .SplashEl--home-02-02 {
        height: 70px;
    }
    .Splash--home-03 .SplashView__center {
        top: 52%;
    }
    .Splash--home-03.splash-flip .SplashView__center {
        top: 53%;
    }
    .SplashEl--home-01-02,
    .SplashEl--home-01-02 .SplashEl__img,
    .SplashEl--home-01-01,
    .SplashEl--home-01-01 .SplashEl__img {
        height: 200px;
    }
    .Splash--home-01 .SplashView__center {
        top: 54%;
    }
    .sec-rec-2 {
        padding: 100px 0;
    }
    .main_visual .sec-recruit-topview,
    .main_visual .slider {
        height: 700px;
    }
    .sec-recruit-top .main_txt {
        top: 200px;
    }
    .sec-recruit-1 h2,
    .sec-recruit-top .main_txt h1 {
        font-size: 65px;
        line-height: 65px;
    }
    .sec-recruit-top .main_txt span {
        font-size: 45px;
    }
    .sec-recruit-1 .text-area::before {
        clip-path: polygon(0 0, 100% 80px, 100% 100%, 0% 100%);
    }
    .sec-recruit-1 .text-area {
        margin-top: -100px;
    }
    .member-item p.member-title {
        font-size: 26px;
    }
    .sec-rec-members .members-list .member-item:nth-of-type(2) {
        margin-top: -15px;
    }
    .member-item p.member-title {
        margin-bottom: 20px;
    }
    .Splash--home-02.splash-flip .SplashView__center {
        top: 46%;
    }
    .rec-content-body {
        flex: 1;
    }
    .rec-content-img img {
        width: 180px;
    }
    .btn-yellow img {
        width: auto;
    }
    .sec-contact-inner h2 {
        font-size: 60px;
    }
    .sec-contact {
        padding: 100px 0;
    }
    .main_visual .sec-top-thumb {
        width: 240px;
    }
    .main_visual .main_txt {
        top: 220px;
        width: 90%;
        left: 5%;
    }
    .main_visual .main_txt img {
        width: 150px;
    }
    #loopslider ul li {
        width: 120px;
    }
    #loopslider ul {
        margin-top: 20px;
    }
    #loopslider ul,
    #loopslider ul li {
        height: 130px;
    }
    .sec-feature {
        padding-top: 50px;
    }
    .img-anim-1 {
        right: -15px;
    }
    .img-anim-1 img {
        width: 100px;
    }
    .work-text-area.outer-container img {
        width: 155px;
    }
}

@media (max-width: 767px) {
    .SplashEl--home-03-01,
    .SplashEl--home-02-01 {
        height: 80px;
        left: 16%;
    }
    .SplashEl--home-03-03,
    .SplashEl--home-02-03 {
        left: 28%;
    }
    .SplashEl--home-03-01 .SplashEl__img,
    .SplashEl--home-02-01 .SplashEl__img {
        height: 80px;
    }
    .SplashEl--home-03-02 .SplashEl__img,
    .SplashEl--home-02-02 .SplashEl__img {
        height: 50px;
        width: 35vw;
    }
    .SplashEl--home-03-02,
    .SplashEl--home-02-02 {
        height: 70px;
    }
    .Splash--home-03 .SplashView__center {
        top: 52%;
    }
    .Splash--home-03.splash-flip .SplashView__center {
        top: 51%;
    }
    .Splash--home-02.splash-flip .SplashView__center {
        top: 49%;
    }
    .SplashEl--home-01-02,
    .SplashEl--home-01-02 .SplashEl__img,
    .SplashEl--home-01-01,
    .SplashEl--home-01-01 .SplashEl__img {
        height: 100px;
    }
    .Splash--home-01 .SplashView__center {
        top: 52%;
    }
    .SplashEl--home-03-02,
    .SplashEl--home-02-02 {
        right: 72%;
        width: 35vw;
    }
    .sec-comp-1 .comp-title-area h2,
    .link-inner .inner-text h3,
    .sec-title .sec-title-ja,
    .sec-title-area h2,
    .sec-title h2 {
        font-size: 30px;
    }
    .sec-message {
        padding: 80px 0;
    }
    .boss-img .boss-info p:first-of-type,
    .link-inner .inner-text p,
    .work-item .item-content h3,
    .comp-item .comp-content p:first-of-type,
    .sec-message h4 {
        font-size: 18px;
    }
    .boss-img .boss-info p:last-of-type {
        font-size: 14px;
    }
    .boss-img .boss-info {
        padding: 10px;
    }
    .sec-entry .sec-title p,
    .flow-item p,
    .interview-item .item-content p,
    .sec-rec-2-inner p,
    .sec-education .edu-left p,
    .btn-yellow .btn-inner,
    .rec-content .rec-content-body p,
    .sec-recruit-1 .rec-1-text,
    .comp-info-list .info-item,
    .comp-item .comp-content p:last-of-type,
    .sec-message p {
        font-size: 14px;
    }
    .msg-btn-area .btn-yellow {
        width: 100%;
        margin-bottom: 20px;
    }
    .msg-btn-area .btn-yellow:first-of-type .btn-inner {
        font-size: 12px;
    }
    .comp-info-list .info-item div:first-of-type {
        flex: 0 0 80px;
    }
    .comp-info {
        margin-top: 50px;
    }
    .btn-yellow img {
        width: 20px;
    }
    .comp-info .comp-map iframe {
        height: 250px;
    }
    .sec-comp-1 .comp-title-area {
        margin-top: -18px;
    }
    .line-img {
        height: 150px;
        object-fit: cover;
    }
    .sec-comp-1 .comp-title-area p {
        font-size: 14px;
        margin-top: 20px;
    }
    .comp-item .comp-content,
    .comp-list .comp-thumb {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .comp-item .comp-content {
        margin-top: 20px;
        padding: 0 !important;
    }
    .comp-list .comp-thumb {
        order: 1 !important;
        text-align: left !important;
    }
    .comp-list .comp-thumb img {
        width: 100%;
        max-height: 300px;
        object-fit: cover;
    }
    .comp-list .comp-content {
        order: 2 !important;
    }
    .comp-item .comp-thumb h3 {
        font-size: 30px;
    }
    .comp-list .inner-container:last-of-type .comp-thumb img {
        height: 300px;
        object-fit: cover;
    }
    .comp-list .inner-container:last-of-type .comp-content {
        top: 20px;
        padding: 30px !important;
    }
    .Splash--company-01 .SplashEl--home-02-01 {
        height: 110px;
        width: 90vw;
        left: 15%;
    }
    .Splash--company-01 .SplashEl--home-02-01 .SplashEl__img {
        width: 90vw;
    }
    .sec-recruit-1 h2 {
        font-size: 30px;
        line-height: 30px;
    }
    .sec-recruit-1 .rec-1-text {
        margin-top: 30px;
        display: block;
        line-height: 22px;
    }
    .sec-recruit-1 .text-area {
        padding-left: 0;
        padding-right: 0;
    }
    .sec-rec-members .members-list .member-item {
        flex: 0 0 100%;
        margin-bottom: 50px;
    }
    .sec-rec-members .members-list .member-item:last-of-type {
        margin-bottom: 0;
    }
    .member-item p.member-title {
        display: block;
        text-align: center;
    }
    .member-item p.member-title::before {
        top: 0;
        left: 0;
        background-size: 220px 13px;
    }
    .member-item p.member-content {
        font-size: 16px;
    }
    .sec-flow .flow-list .flow-item,
    .interview-list .interview-item,
    .sec-rec-2 .inner-container .sec-rec-2-inner,
    .sec-education .edu-right,
    .sec-education .edu-left {
        flex: 0 0 100%;
    }
    .sec-education .edu-left .sec-title {
        margin-top: 0;
        padding: 0;
        text-align: center;
    }
    .sec-education .edu-right {
        padding: 16px;
    }
    .sec-rec-2-inner p {
        margin-bottom: 30px;
    }
    .sec-rec-2 {
        background-position: 30%;
    }
    .flow-item h3,
    .interview-item .item-content p:nth-of-type(1) {
        font-size: 24px;
    }
    .interview-item .item-content p {
        margin-bottom: 5px;
    }
    .interview-item .item-content {
        width: 100%;
        margin-left: 0;
    }
    .interview-list .interview-item:last-of-type {
        margin-top: 50px;
    }
    .sec-flow .flow-list,
    .sec-flow .flow-list .flow-item {
        margin-right: 0;
    }
    .sec-flow .flow-list .flow-item {
        padding: 30px 15px 15px;
    }
    .item-content-title .item-title-text br,
    .sec-entry .sec-title p br {
        display: none;
    }
    .sec-entry form {
        padding: 20px;
    }
    .sec-title-area {
        display: block;
    }
    .sec-title-area h2 {
        font-size: 22px;
        margin-top: 15px;
        text-shadow: unset;
    }
    .feature-list .f-list-item {
        flex-wrap: wrap;
    }
    .f-list-item .item-thumb,
    .f-list-item .item-content {
        flex: 0 0 100%;
        padding: 0 !important;
    }
    .f-list-item .item-content {
        margin-bottom: 20px;
        order: 1;
    }
    .f-list-item .item-thumb {
        order: 2;
    }
    .item-content-title .item-num p:last-of-type,
    .item-content-title .item-title-text {
        font-size: 20px;
    }
    .f-list-item .item-content .item-content-body,
    .item-content-title .item-num p:first-of-type {
        font-size: 14px;
    }
    .item-content-title .item-num {
        flex: 0 0 60px;
        margin-right: 15px;
        padding: 2px;
    }
    .work-text-area.outer-container img,
    .feature-bottom-label .f-b-left-text {
        position: relative;
        top: unset;
        left: unset;
        transform: unset;
        text-align: center;
        margin-top: 30px;
    }
    .feature-bottom-label .inner-container {
        text-align: center;
    }
    .img-anim-2 img {
        width: 100px;
    }
    .img-anim-2 {
        top: 10px;
        left: 5%;
    }
    .sec-work .sec-title-area h2 {
        text-align: left;
    }
    .btn-yellow {
        width: 100%;
    }
    .work-text-area {
        text-align: center;
    }
    .sp-show {
        display: block;
    }
    .sec-work {
        padding-bottom: 0;
    }
    .work-text-area.outer-container img {
        width: 190px;
    }
    .img-anim-3 img {
        width: 100px;
    }
    .img-anim-3 {
        top: 30px;
        left: 5%;
    }
    .external-link-list .external-link {
        flex: 0 0 100%;
        margin-bottom: 30px;
    }
    .external-link .link-inner .inner-text {
        padding-left: 16px;
        padding-right: 16px;
    }
    .sec-external-link .external-link-img {
        padding: 0;
        text-align: center;
        margin-top: 20px;
    }
    .sec-recruit {
        padding: 100px 0;
    }
    .sec-recruit .sec-title {
        order: 1;
        flex: 0 0 100%;
    }
    .sec-recruit h2 {
        font-size: 18px;
    }
    .sec-recruit .rec-content-body {
        order: 2;
        flex: 0 0 100%;
        margin-top: 30px;
    }
    .sec-recruit .rec-content .rec-content-img {
        order: 3;
        margin-top: 30px;
        flex: 0 0 100%;
    }
    .rec-content-img img {
        width: auto;
    }
    .sec-contact-inner p {
        font-size: 14px;
    }
    .sec-contact-inner h2 {
        font-size: 40px;
    }
    .sec-contact {
        background-position: 60%;
    }
    .main_visual .sec-top-thumb {
        width: 210px;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
    }
    .main_visual {
        height: 665px;
    }
    .main_visual::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background: rgb(255, 255, 255);
        background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 36%, rgba(255, 255, 255, 0) 100%);
        z-index: 2;
    }
    .main_visual .sec-recruit-topview,
    .main_visual .slider {
        height: 450px;
    }
    .main_visual .main_txt img {
        display: none;
    }
    .Splash.Splash--home-01 {
        z-index: 3;
    }
    #loopslider {
        z-index: 4;
    }
    .main_visual .main_txt h1 {
        font-size: 26px;
    }
    #loopslider ul li {
        width: 70px;
    }
    #loopslider ul li {
        margin-top: 38px;
    }
    .main_visual .sec-top-thumb {
        bottom: 50px;
    }
    .main_visual .main_txt {
        top: 275px;
    }
    .sec-recruit-top .main_txt span {
        font-size: 20px;
    }
    .main_visual .main_txt {
        width: 100%;
        left: 0;
    }
    .main_visual .main_txt h1 {
        line-height: 30px;
    }
    .sec-recruit-top .main_txt p {
        color: #222222;
        font-size: 14px;
        margin-top: 50px;
    }
    .sec-recruit-top .main_visual .main_txt h1 {
        font-size: 32px;
    }
    .sec-rec-members {
        padding: 80px 0;
    }
    .sec-feature {
        padding-top: 0;
    }
    .line-overlay-link {
        bottom: 20px;
    }
    .line-overlay-link .line-thumb {
        width: 175px;
    }
    .line-overlay-link .line-content p {
        font-size: 22px;
        line-height: 22px;
    }
    .line-overlay-link .line-content p span:last-of-type {
        font-size: 14px;
    }
}