.pmhwp html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  /* Sections
   ========================================================================== */
  /**
   * Remove the margin in all browsers.
   */
}
.pmhwp body {
  margin: 0;
  /**
   * Render the `main` element consistently in IE.
   */
}
.pmhwp main {
  display: block;
  /**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
}
.pmhwp h1 {
  font-size: 2em;
  margin: 0.67em 0;
  /* Grouping content
   ========================================================================== */
  /**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
}
.pmhwp hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
}
.pmhwp pre {
  font-family: monospace, monospace;
  font-size: 1em;
  /* Text-level semantics
   ========================================================================== */
  /**
   * Remove the gray background on active links in IE 10.
   */
}
.pmhwp a {
  background-color: transparent;
  /**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
}
.pmhwp abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
  /**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
}
.pmhwp b, .pmhwp strong {
  font-weight: bolder;
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
}
.pmhwp code, .pmhwp kbd, .pmhwp samp {
  font-family: monospace, monospace;
  font-size: 1em;
  /**
   * Add the correct font size in all browsers.
   */
}
.pmhwp small {
  font-size: 80%;
  /**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
}
.pmhwp sub, .pmhwp sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.pmhwp sub {
  bottom: -0.25em;
}
.pmhwp sup {
  top: -0.5em;
  /* Embedded content
   ========================================================================== */
  /**
   * Remove the border on images inside links in IE 10.
   */
}
.pmhwp img {
  border-style: none;
  /* Forms
   ========================================================================== */
  /**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
}
.pmhwp button, .pmhwp input, .pmhwp optgroup, .pmhwp select, .pmhwp textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  /**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
}
.pmhwp button, .pmhwp input {
  overflow: visible;
  /**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
}
.pmhwp button, .pmhwp select {
  text-transform: none;
  /**
   * Correct the inability to style clickable types in iOS and Safari.
   */
}
.pmhwp button, .pmhwp [type="button"], .pmhwp [type="reset"], .pmhwp [type="submit"] {
  -webkit-appearance: button;
  /**
   * Remove the inner border and padding in Firefox.
   */
}
.pmhwp button::-moz-focus-inner, .pmhwp [type="button"]::-moz-focus-inner, .pmhwp [type="reset"]::-moz-focus-inner, .pmhwp [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
  /**
   * Restore the focus styles unset by the previous rule.
   */
}
.pmhwp button:-moz-focusring, .pmhwp [type="button"]:-moz-focusring, .pmhwp [type="reset"]:-moz-focusring, .pmhwp [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
  /**
   * Correct the padding in Firefox.
   */
}
.pmhwp fieldset {
  padding: 0.35em 0.75em 0.625em;
  /**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *		`fieldset` elements in all browsers.
   */
}
.pmhwp legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
  /**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
}
.pmhwp progress {
  vertical-align: baseline;
  /**
   * Remove the default vertical scrollbar in IE 10+.
   */
}
.pmhwp textarea {
  overflow: auto;
  /**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
}
.pmhwp [type="checkbox"], .pmhwp [type="radio"] {
  box-sizing: border-box;
  padding: 0;
  /**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
}
.pmhwp [type="number"]::-webkit-inner-spin-button, .pmhwp [type="number"]::-webkit-outer-spin-button {
  height: auto;
  /**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
}
.pmhwp [type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
  /**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
}
.pmhwp [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  /**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
}
.pmhwp ::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
  /* Interactive
   ========================================================================== */
  /*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
}
.pmhwp details {
  display: block;
  /*
   * Add the correct display in all browsers.
   */
}
.pmhwp summary {
  display: list-item;
  /* Misc
   ========================================================================== */
  /**
   * Add the correct display in IE 10+.
   */
}
.pmhwp template {
  display: none;
  /**
   * Add the correct display in IE 10.
   */
}
.pmhwp [hidden] {
  display: none;
  /* Box sizing
   --------------------------------------------- */
  /* Inherit box-sizing to more easily change it's value on a component level.
   @link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
}
.pmhwp *, .pmhwp *::before, .pmhwp *::after {
  box-sizing: inherit;
}
.pmhwp html {
  box-sizing: border-box;
  /*--------------------------------------------------------------
   # Base
   --------------------------------------------------------------*/
  /* Typography
   --------------------------------------------- */
}
.pmhwp body, .pmhwp button, .pmhwp input, .pmhwp select, .pmhwp optgroup, .pmhwp textarea {
  color: #404040;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.pmhwp h1, .pmhwp h2, .pmhwp h3, .pmhwp h4, .pmhwp h5, .pmhwp h6 {
  clear: both;
}
.pmhwp p {
  margin-bottom: 1.5em;
}
.pmhwp dfn, .pmhwp cite, .pmhwp em, .pmhwp i {
  font-style: italic;
}
.pmhwp blockquote {
  margin: 0 1.5em;
}
.pmhwp address {
  margin: 0 0 1.5em;
}
.pmhwp pre {
  background: #eee;
  font-family: "Courier 10 Pitch", courier, monospace;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}
.pmhwp code, .pmhwp kbd, .pmhwp tt, .pmhwp var {
  font-family: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
.pmhwp abbr, .pmhwp acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}
.pmhwp mark, .pmhwp ins {
  background: #fff9c0;
  text-decoration: none;
}
.pmhwp big {
  font-size: 125%;
  /* Elements
   --------------------------------------------- */
}
.pmhwp body {
  background: #fff;
}
.pmhwp hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}
.pmhwp ul, .pmhwp ol {
  margin: 0 0 1.5em 3em;
}
.pmhwp ul {
  list-style: disc;
}
.pmhwp ol {
  list-style: decimal;
}
.pmhwp li > ul, .pmhwp li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}
.pmhwp dt {
  font-weight: 700;
}
.pmhwp dd {
  margin: 0 1.5em 1.5em;
  /* Make sure embeds and iframes fit their containers. */
}
.pmhwp embed, .pmhwp iframe, .pmhwp object {
  max-width: 100%;
}
.pmhwp img {
  height: auto;
  max-width: 100%;
}
.pmhwp figure {
  margin: 1em 0;
}
.pmhwp table {
  margin: 0 0 1.5em;
  width: 100%;
  /* Links
   --------------------------------------------- */
}
.pmhwp a {
  color: #4169e1;
}
.pmhwp a:visited {
  color: #800080;
}
.pmhwp a:hover, .pmhwp a:focus, .pmhwp a:active {
  color: #191970;
}
.pmhwp a:focus {
  outline: thin dotted;
}
.pmhwp a:hover, .pmhwp a:active {
  outline: 0;
  /* Forms
   --------------------------------------------- */
}
.pmhwp button, .pmhwp input[type="button"], .pmhwp input[type="reset"], .pmhwp input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1;
  padding: 0.6em 1em 0.4em;
}
.pmhwp button:hover, .pmhwp input[type="button"]:hover, .pmhwp input[type="reset"]:hover, .pmhwp input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa;
}
.pmhwp button:active, .pmhwp button:focus, .pmhwp input[type="button"]:active, .pmhwp input[type="button"]:focus, .pmhwp input[type="reset"]:active, .pmhwp input[type="reset"]:focus, .pmhwp input[type="submit"]:active, .pmhwp input[type="submit"]:focus {
  border-color: #aaa #bbb #bbb;
}
.pmhwp input[type="text"], .pmhwp input[type="email"], .pmhwp input[type="url"], .pmhwp input[type="password"], .pmhwp input[type="search"], .pmhwp input[type="number"], .pmhwp input[type="tel"], .pmhwp input[type="range"], .pmhwp input[type="date"], .pmhwp input[type="month"], .pmhwp input[type="week"], .pmhwp input[type="time"], .pmhwp input[type="datetime"], .pmhwp input[type="datetime-local"], .pmhwp input[type="color"], .pmhwp textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px;
}
.pmhwp input[type="text"]:focus, .pmhwp input[type="email"]:focus, .pmhwp input[type="url"]:focus, .pmhwp input[type="password"]:focus, .pmhwp input[type="search"]:focus, .pmhwp input[type="number"]:focus, .pmhwp input[type="tel"]:focus, .pmhwp input[type="range"]:focus, .pmhwp input[type="date"]:focus, .pmhwp input[type="month"]:focus, .pmhwp input[type="week"]:focus, .pmhwp input[type="time"]:focus, .pmhwp input[type="datetime"]:focus, .pmhwp input[type="datetime-local"]:focus, .pmhwp input[type="color"]:focus, .pmhwp textarea:focus {
  color: #111;
}
.pmhwp select {
  border: 1px solid #ccc;
}
.pmhwp textarea {
  width: 100%;
  /*--------------------------------------------------------------
   # Layouts
   --------------------------------------------------------------*/
  /*--------------------------------------------------------------
   # Components
   --------------------------------------------------------------*/
  /* Navigation
   --------------------------------------------- */
}
.pmhwp .main-navigation {
  display: block;
  width: 100%;
}
.pmhwp .main-navigation ul {
  display: none;
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.pmhwp .main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 100%;
  left: -999em;
  z-index: 99999;
}
.pmhwp .main-navigation ul ul ul {
  left: -999em;
  top: 0;
}
.pmhwp .main-navigation ul ul li:hover > ul, .pmhwp .main-navigation ul ul li.focus > ul {
  display: block;
  left: auto;
}
.pmhwp .main-navigation ul ul a {
  width: 200px;
}
.pmhwp .main-navigation ul li:hover > ul, .pmhwp .main-navigation ul li.focus > ul {
  left: auto;
}
.pmhwp .main-navigation li {
  position: relative;
}
.pmhwp .main-navigation a {
  display: block;
  text-decoration: none;
  /* Small menu. */
}
.pmhwp .menu-toggle, .pmhwp .main-navigation.toggled ul {
  display: block;
}
@media screen and (min-width: 37.5em) {
  .pmhwp .menu-toggle {
    display: none;
  }
  .pmhwp .main-navigation ul {
    display: flex;
  }
}
.pmhwp .site-main .comment-navigation, .pmhwp .site-main .posts-navigation, .pmhwp .site-main .post-navigation {
  margin: 0 0 1.5em;
}
.pmhwp .comment-navigation .nav-links, .pmhwp .posts-navigation .nav-links, .pmhwp .post-navigation .nav-links {
  display: flex;
}
.pmhwp .comment-navigation .nav-previous, .pmhwp .posts-navigation .nav-previous, .pmhwp .post-navigation .nav-previous {
  flex: 1 0 50%;
}
.pmhwp .comment-navigation .nav-next, .pmhwp .posts-navigation .nav-next, .pmhwp .post-navigation .nav-next {
  text-align: end;
  flex: 1 0 50%;
  /* Posts and pages
   --------------------------------------------- */
}
.pmhwp .sticky {
  display: block;
}
.pmhwp .post, .pmhwp .page {
  margin: 0 0 1.5em;
}
.pmhwp .updated:not(.published) {
  display: none;
}
.pmhwp .page-content, .pmhwp .entry-content, .pmhwp .entry-summary {
  margin: 1.5em 0 0;
}
.pmhwp .page-links {
  clear: both;
  margin: 0 0 1.5em;
  /* Comments
   --------------------------------------------- */
}
.pmhwp .comment-content a {
  word-wrap: break-word;
}
.pmhwp .bypostauthor {
  display: block;
  /* Widgets
   --------------------------------------------- */
}
.pmhwp .widget {
  margin: 0 0 1.5em;
}
.pmhwp .widget select {
  max-width: 100%;
  /* Media
   --------------------------------------------- */
}
.pmhwp .page-content .wp-smiley, .pmhwp .entry-content .wp-smiley, .pmhwp .comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
  /* Make sure logo link wraps around logo image. */
}
.pmhwp .custom-logo-link {
  display: inline-block;
  /* Captions
   --------------------------------------------- */
}
.pmhwp .wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}
.pmhwp .wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pmhwp .wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}
.pmhwp .wp-caption-text {
  text-align: center;
  /* Galleries
   --------------------------------------------- */
}
.pmhwp .gallery {
  margin-bottom: 1.5em;
  display: grid;
  grid-gap: 1.5em;
}
.pmhwp .gallery-item {
  display: inline-block;
  text-align: center;
  width: 100%;
}
.pmhwp .gallery-columns-2 {
  grid-template-columns: repeat(2, 1fr);
}
.pmhwp .gallery-columns-3 {
  grid-template-columns: repeat(3, 1fr);
}
.pmhwp .gallery-columns-4 {
  grid-template-columns: repeat(4, 1fr);
}
.pmhwp .gallery-columns-5 {
  grid-template-columns: repeat(5, 1fr);
}
.pmhwp .gallery-columns-6 {
  grid-template-columns: repeat(6, 1fr);
}
.pmhwp .gallery-columns-7 {
  grid-template-columns: repeat(7, 1fr);
}
.pmhwp .gallery-columns-8 {
  grid-template-columns: repeat(8, 1fr);
}
.pmhwp .gallery-columns-9 {
  grid-template-columns: repeat(9, 1fr);
}
.pmhwp .gallery-caption {
  display: block;
  /*--------------------------------------------------------------
   # Plugins
   --------------------------------------------------------------*/
  /* Jetpack infinite scroll
   --------------------------------------------- */
  /* Hide the Posts Navigation and the Footer when Infinite Scroll is in use. */
}
.pmhwp .infinite-scroll .posts-navigation, .pmhwp .infinite-scroll.neverending .site-footer {
  display: none;
  /* Re-display the Theme Footer when Infinite Scroll has reached its end. */
}
.pmhwp .infinity-end.neverending .site-footer {
  display: block;
  /*--------------------------------------------------------------
   # Utilities
   --------------------------------------------------------------*/
  /* Accessibility
   --------------------------------------------- */
  /* Text meant only for screen readers. */
}
.pmhwp .screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}
.pmhwp .screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Do not show the outline on the skip link target. */
}
.pmhwp #primary[tabindex="-1"]:focus {
  outline: 0;
  /* Alignments
   --------------------------------------------- */
}
.pmhwp .alignleft {
  /*rtl:ignore*/
  float: left;
  /*rtl:ignore*/
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}
.pmhwp .alignright {
  /*rtl:ignore*/
  float: right;
  /*rtl:ignore*/
  margin-left: 1.5em;
  margin-bottom: 1.5em;
}
.pmhwp .aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
}
